window.bookmarklet = function(opts){fullFunc(opts)};

window.bookmarklet({
css: ["http://localhost:3000/stylesheets/radar.css"],
js : ["https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"],
jqpath: ["http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"],

ready : function() {
    var shelbyJ = jQuery.noConflict();
    possibleVideos = {
      embeds : shelbyJ('embed'),
      objects : shelbyJ('object'),
      videos : shelbyJ('video'),
      iframes : shelbyJ('iframe')
    };
    
    var shelbyGuideWidth = 330;

    // add in the bookmarklet loading bar
    shelbyJ('.<%=@hash%>ext-elements').remove()
    shelbyJ('body').append('<div class=<%=@hash%>ext-elements></div>');

    var shelbyRadar = {
      
      shelbyDocElements : {'ext-elements' : shelbyJ(".<%=@hash%>ext-elements")},

      shelbyBkmkltUser : null,

      shelbySignedInCallback : function(response) {
        if (response.result.signed_in === false) {
          shelbyRadar.styleGuideShow("<%=@hash%>login-guide");
          shelbyRadar.loginGuideHtml();

        } else {
          shelbyRadar.getUser(shelbyJ);
        }
      },

      

      shelbyUserCallback : function(response) {
        shelbyRadar.shelbyBkmkltUser = response.result;
        var authentications = response.result.authentications;
        shelbyRadar.commentGuideHtml();
        shelbyRadar.shareGuideHtml(authentications);
        shelbyJ('.<%=@hash%>guide-overlay-context-creator').html(response.result.nickname);
        shelbyJ.ajax( {
          type : 'GET',
          url : 'http://<%= Settings::VideoRadar.domain %>/v1/user/' + shelbyRadar.shelbyBkmkltUser.id + '/rolls/postable',
          dataType : "jsonp",
          crossDomain : true,
          xhrFields : {withCredentials : true},
          success : function(response) {
            rolls = response.result;
            shelbyRadar.rollGuideHtml(rolls);    
            shelbyRadar.sendVidsToShelby(shelbyRadar.foundVideo, shelbyJ);
          }
        });

      },
      signedIn : function(shelbyJ) {
            shelbyJ.ajax( {
                type : 'GET',
                url : 'http://<%= Settings::VideoRadar.domain %>/v1/signed_in',
                dataType : "jsonp",
                crossDomain: true,
                xhrFields : {withCredential: true},
                success : shelbyRadar.shelbySignedInCallback
              });
      },
      getUser : function(shelbyJ) {
                  shelbyJ.ajax({
                      type : 'GET',
                      url : 'http://<%= Settings::VideoRadar.domain %>/v1/user',
                      dataType : "jsonp",
                      crossDomain : true,
                      xhrFields : {withCredentials : true},
                      success : shelbyRadar.shelbyUserCallback
                    });
        },

       

        getElementValue : function(obj, id, shelbyJ) {
                  var value = '';
                  for (var i = 0; i < obj.attributes.length; i++) {
                    if (obj.attributes[i].nodeName === id) {
                      value += obj.attributes[i].nodeValue;
                      break;
                    }
                  }

                  var params = shelbyJ(obj).children('param');
                  for (var i = 0; i < params.length; i++) {
                    if (params[i].name == id) {
                      value += params[i].value;
                      break;
                    }
                  }
                  return value;
        },
        
        getHeight : function(jqueryVid) {
          return jqueryVid.height(); 
        },
        
        getWidth : function(jqueryVid) {
          return jqueryVid.width();
        },
      
        getHeaderVpos : function(vidHeight, vidTop, header) {
          return vidTop - header.height();
        },
        getFooterVpos : function(vidHeight, vidTop) {
          return vidHeight + vidTop;
        },
       

        
        resizeFunction : function(vids, vidIndex, r, height) {
                    vid = vids[vidIndex]
                    shelbyJ('.<%=@hash%>found-video-' + r)
                                    .css("left", vid.embed.offset().left)
                                    .css("top", shelbyRadar.getFooterVpos(height, vid.embed.offset().top));
                    shelbyJ('#<%=@hash%>frame-info-' + r)
                                    .css("left", vid.embed.offset().left)
                                    .css("top", shelbyRadar.getHeaderVpos(height, vid.embed.offset().top, header));
        },
        resizeArray : [],



       

        sendVidsToShelby : function(vids, shelbyJ) {
                var self = this;
                if (vids.length === 0) {
                } else {
                  for (var i = 0; i < vids.length; i++) {
                    if (vids[i].known_url !== false) {
                      var r = Math.floor(Date.now() + Math.random());
                      var bcastClass = "bcast-" + vids[i].video_id;
                      var height = shelbyRadar.getHeight(vids[i].embed);
                      var width = shelbyRadar.getWidth(vids[i].embed);
                      var vpos = vids[i].embed.offset().top;
                      var hpos = vids[i].embed.offset().left;

                      // put buttons here, we have hpos, vpos, fixed positions
                    

                      shelbyRadar.shelbyDocElements['ext-elements'].append('<div class="<%=@hash%>video-card-header clearfix" id="<%=@hash%>frame-info-' + r + '" data-r=' + r + '>' + 
                        '<div class=<%=@hash%>frame-logo>' +
                          '<img class="<%=@hash%>frame-logo-img"src="http://gt.shelby.tv/images/assets/shelby_logo.png"/> </div>' +
                      '</div>');

                      header = shelbyJ("#<%=@hash%>frame-info-" + r)
                      header
                          .css("left", hpos + "px")
                          .css("top", shelbyRadar.getHeaderVpos(height, vpos,header) + "px")
                          .css("width", width + "px")

                     
                    
                      shelbyRadar.shelbyDocElements['ext-elements'].append('<ul class="<%=@hash%>frame-controls clearfix ' + ' <%=@hash%>found-video-' + r + '" type="toolbar"> </ul>');


                      shelbyJ('.<%=@hash%>found-video-' + r).html(
                          '<li class="<%=@hash%>frame-controls-like toolbar-ele-' + bcastClass + '">' +
                                '<button class="aniImg <%=@hash%>all-like ' + bcastClass + '-img <%=@hash%>button-' + r + '" data-r=' + r + ' type="button">' +
                                  '<i class="js-upvote-frame-lining" id=<%=@hash%>like-text-' + r + '> &nbsp; </i>' +
                                '</button>' +
                              '</li>' +

                              '<li class="<%=@hash%>frame-controls-comments toolbar-ele-' + bcastClass + '">' +
                                '<button class="aniImg <%=@hash%>all-comment ' + bcastClass + '-img <%=@hash%>button-' + r + '" data-r=' + r + ' type="button">' +
                                  '<i class="comments-frame-lining" id=<%=@hash%>comment-text-' + r + '> &nbsp; </i>' +
                                '</button>' +
                              '</li>' +

                              '<li class="<%=@hash%>frame-controls-roll toolbar-ele-' + bcastClass + '">' +
                                '<button class="aniImg <%=@hash%>all-roll ir ' + bcastClass + '-img <%=@hash%>button-' + r + '" data-r=' + r + ' type="button">' +
                                  ' Roll it ' +
                                '</button>' +
                              '</li>' +

                              '<li class="<%=@hash%>frame-controls-share toolbar-ele-' + bcastClass + '">' +
                                '<button class="aniImg <%=@hash%>all-share ir ' + bcastClass + '-img <%=@hash%>button-' + r + '" data-r=' + r + ' type="button">' +
                                  'Share it ' +
                                '</button>' +
                              '</li>')
                          .css("left", hpos + "px")
                          .css("top", shelbyRadar.getFooterVpos(vpos, height) + "px")
                          .css("width", width + "px")
                      var frameInfoId = shelbyJ("#<%=@hash%>frame-info-" + r).attr("id");
                      shelbyJ(".<%=@hash%>button-" + r).attr("data-frameid", frameInfoId).attr("data-videourl", vids[i].known_url);


                      shelbyRadar.resizeArray.push(function (vidIndex, r) {
                          return function() {
                            shelbyRadar.resizeFunction(vids, vidIndex, r, height);
                          }
                        }(i, r));

                      var dataReq = {
                          'provider_name' : vids[i].provider,
                          'provider_id' : vids[i].video_id
                      };

                      var guideHeader = function (imgClassName, i) {
                        shelbyJ.ajax({
                            type : "GET",
                            url : "http://<%= Settings::VideoRadar.domain %>/v1/video/find",
                            dataType : "jsonp",
                            data : dataReq,
                            async : true,
                            timeout: 1000,
                            success : function(response) {
                              shelbyJ.ajax({
                                type : "GET",
                                url : "http://<%= Settings::VideoRadar.domain %>/v1/video/" + response.result.id,
                                dataType : "jsonp",
                                async : true,
                                success :  function(response) {
                                    shelbyJ("." + imgClassName).click(function() {
                                      shelbyJ('.<%=@hash%>guide-overlay-context-title').html(response.result.title);
                                      shelbyJ('.<%=@hash%>guide-overlay-context').css("background-image", 
                                                                "url('" + response.result.thumbnail_url + "')");
                                    });
                                  }
                                });
                              },
                          error : function(jqXHR, exception) {
                                shelbyRadar.shelbyApiRoll(vids[i].known_url, shelbyRadar.shelbyBkmkltUser.personal_roll_id, shelbyJ, 
                                    function(response) {
                                          console.log(response.result);
                                          shelbyJ("." + imgClassName).click(function() {
                                            shelbyJ(".<%=@hash%>guide-overlay-context-title").html(response.result.video.title);
                                            shelbyJ(".<%=@hash%>guide-overlay-context").css("background-image",
                                              "url('" + response.result.video.thumbnail_url + "')");
                                          })
                                      });
                              }});
                        };
                      guideHeader(bcastClass + "-img", i);

                      var setDashboardFrame = function(frameInfoId) {
                        shelbyJ.ajax({
                          type : "GET",
                          url : "http://<%= Settings::VideoRadar.domain %>/v1/dashboard/find_entries_with_video",
                          dataType : "jsonp",
                          data : dataReq,
                          async : true,
                          xhrFields : {withCredentials : true},
                          success : function(response) {
                            var frames = response.result;
                            console.log(frames);
                            shelbyRadar.adjustFrame(frames[0], frameInfoId, true);
                          }
                        });
                      }
                      setDashboardFrame(frameInfoId);
                    }
                  }

                  shelbyRadar.shelbyDocElements['ext-elements'].on('click', ".<%=@hash%>all-roll", null, function(event) {
                    shelbyRadar.styleGuideShow("<%=@hash%>roll-guide");
                    var rollItems = shelbyRadar.shelbyDocElements['rollItems'];
                    var rollButton = event.currentTarget;
                    shelbyRadar.shelbyDocElements['rollsList'].off('click', ".<%=@hash%>roll-selection-item");
                    shelbyRadar.shelbyDocElements['rollsList'].on('click', ".<%=@hash%>roll-selection-item", 
                                              {'frameid': rollButton.getAttribute("data-frameid"),
                                              'videourl': rollButton.getAttribute("data-videourl")}, function(event) {
                      var rollItem = event.currentTarget;
                      var frameMaker = function(response) {
                        shelbyRadar.adjustFrame(response.result, event.data["frameid"], false);
                        console.log(response);
                      };
                      shelbyRadar.shelbyApiRoll(event.data["videourl"], 
                                                      rollItem.getAttribute("data-rollid"), shelbyJ, frameMaker);
                      })
                    });

                  shelbyRadar.shelbyDocElements['ext-elements'].on('click', ".<%=@hash%>all-share", null, function(event) {
                      shelbyRadar.styleGuideShow("<%=@hash%>share-guide");
                      var shelbyButton = event.currentTarget;

                      var shelbyFrameId = shelbyJ("#" + shelbyButton.getAttribute("data-frameid")).data("shelbyframeid");
                      var shelbyShareSubmit = shelbyRadar.shelbyDocElements['shareSubmit']; 
                      if (shelbyFrameId === undefined) {                     
                        var shelbySubmit = function(response) {
                          shelbyRadar.adjustFrame(response.result, shareButton.getAttribute('data-frameid'), false);
                          shelbyRadar.shelbyApiShare(response.result.id);
                        }
                        shelbyShareSubmit.on('click', function() {
                            shelbyRadar.shelbyApiRoll(shareButton.getAttribute("data-videourl"), shelbyRadar.shelbyBkmkltUser.personal_roll_id, shelbyJ, shelbySubmit);
                        });
                      } else {
                        shelbyShareSubmit.on('click', function() {
                            shelbyRadar.shelbyApiShare(shelbyFrameId);
                        });
                      }
                  });

                  shelbyRadar.shelbyDocElements['ext-elements'].on('click', ".<%=@hash%>all-comment", null, function(event) {
                      var commentButton = event.currentTarget;
                      var commentTextId = "<%=@hash%>comment-text-" + commentButton.getAttribute("data-r");
                        var conversationId = shelbyJ("#" + commentButton.getAttribute("data-frameid")).data("conversationid");
                        if (conversationId !== undefined) {
                          shelbyRadar.setUpConversationWithId(conversationId, commentTextId);
                        }
                        shelbyRadar.styleGuideShow("<%=@hash%>comment-guide");
                        shelbyRadar.shelbyDocElements['commentSubmit'].off('click');
                        shelbyRadar.shelbyDocElements['commentSubmit'].on('click', function(event) {
                          event.preventDefault();
                          var dataReq =  {
                            'text' : shelbyRadar.shelbyDocElements['commentText'].val()
                          };

                          shelbyRadar.shelbyDocElements['commentText'].val('');
                          if (conversationId === undefined) {
                            var undefinedCommentCallback = function(frameInfoId) {
                            return function(response) {
                                shelbyRadar.adjustFrame(response.result, frameInfoId, false);
                                var conversationId = shelbyJ("#" + commentButton.getAttribute("data-frameid")).data("conversationid");
                                shelbyRadar.shelbyApiComment(conversationId, dataReq, commentTextId);
                              }
                            }
                            shelbyRadar.shelbyApiRoll(commentButton.getAttribute("data-videourl"),
                                                          shelbyRadar.shelbyBkmkltUser.personal_roll_id, shelbyJ,
                                                          undefinedCommentCallback(commentButton.getAttribute("data-frameid")));
                          } else {
                            shelbyRadar.shelbyApiComment(conversationId, dataReq, commentTextId);
                          }
            
                        });
                  });

                  shelbyRadar.shelbyDocElements['ext-elements'].on('click', '.<%=@hash%>all-like', null, function(event) {
                      var likeButton = event.currentTarget;
                      var likeTextId = "<%=@hash%>like-text-" + likeButton.getAttribute("data-r");
                      var shelbyFrameId = shelbyJ("#" + likeButton.getAttribute("data-frameid")).data("shelbyframeid");
                      if (shelbyFrameId===undefined) {
                        var undefinedLikeCallback = function(frameInfoId) {
                            return function(response) {
                              shelbyRadar.adjustFrame(response.result, frameInfoId, false);
                              shelbyRadar.shelbyApiLike(response.result.id, likeTextId);
                            }
                          } 
                          shelbyRadar.shelbyApiRoll(likeButton.getAttribute("data-videourl"), 
                                        shelbyRadar.shelbyBkmkltUser.personal_roll_id, shelbyJ, 
                                        undefinedLikeCallback(likeButton.getAttribute("data-frameid")))
                        } else {
                          shelbyRadar.shelbyApiLike(shelbyFrameId, likeTextId);     
                        }
                    });
              }
        },

        shelbyApiShare: function(apiFrameId){
              var destinationstring = [];
              var networkImgs = shelbyRadar.shelbyDocElements["shareNetworks"];
              for (var i = 0; i < networkImgs.length; i++) {
                var networkimg = networkImgs[i];
                console.log(networkimg);
                if (networkimg.hasClass('active')) {
                  destinationstring.push(networkimg.data("dest"));
                }
              }
              var dataReq = {
                'frame_id' : apiFrameId,
                'destination' : destinationstring,
                'text' : shelbyRadar.shelbyDocElements['shareText'].val()
              };
              shelbyJ.ajax({
                    type : "GET",
                    dataType : "jsonp",
                    data : dataReq,
                    url : "http://<%= Settings::VideoRadar.domain %>/v1/POST/frame/" +  apiFrameId + "/share",
                    xhrFields : {withCredentials : true},
                    async : true,
                    success : function(response) {console.log(response)},
              });
        },

        shelbyApiComment: function(conversationId, dataReq, conversationTextId){
          shelbyJ.ajax({
              type : "GET",
              dataType : "jsonp",
              data : dataReq,
              url : "http://<%= Settings::VideoRadar.domain %>/v1/POST/conversation/" + conversationId + "/messages",
              xhrFields : {withCredentials : true},
              async : true,
              success : function(response) {shelbyRadar.setUpConversation(response.result, conversationTextId)},
            })
        },

        shelbyApiLike: function(shelbyFrameId, heartTextId) {
              shelbyJ.ajax({
                        type : "GET",
                        dataType : "jsonp",
                        xhrFields : {withCredentials : true},
                        async : true,
                        url : "http://<%= Settings::VideoRadar.domain %>/v1/POST/frame/" + shelbyFrameId + "/upvote",
                        success : function(response) {
                          shelbyJ("#" + heartTextId).html(response.result.upvoters.length)}
              });
             

        },


        shelbyApiRoll: function(vid_url, roll_id, shelbyJ, callback) {
                  reqData = {
                    'url' : vid_url,
                    'text' : 'Shelby bookmarklet'
                  };

                  shelbyJ.ajax({
                      type : 'GET',
                      url : 'http://<%= Settings::VideoRadar.domain %>/v1/POST/roll/' + roll_id + '/frames',
                      dataType : "jsonp",
                      async : true,
                      data : reqData,
                      xhrFields : {withCredentials : true},
                      success :  callback
                  });
          },



                  

	composeKnownUrl: function(domain, video_id){
	          var known_url = "";
                  switch (domain){
                  case 'youtube.com':
                          known_url = "http://www.youtube.com/watch?v=" + video_id;
                          break;
                  case 'dailymotion.com':
                          known_url = "http://www.dailymotion.com/video/" + video_id;
                          break;
                  case 'vimeo.com':
                          known_url = "http://vimeo.com/" + video_id;
                          break;
                  case 'techcrunch.tv':
                          known_url = "http://techcrunch.tv/watch?id=" + video_id;
                          break;
                  case 'collegehumor.com':
                          known_url = "http://collegehumor.com/video/" + video_id;
                          break;
                  case 'hulu.com':
                          //HACK (For now).
                          // the video_id is the content_id, not useful when hitting embedly or our link cache
                          // so using the page location for now
                          known_url = document.location.href;
                          break;
                  case 'bloomberg.com':
                          //HACK (For now).
                          // so using the page location for now
                          known_url = document.location.href;
                          break;
                 default:
                          known_url = false;
                  }
                  return known_url;
      },

        messageHtml : function(message) {
          var stringbuilder = [];
          stringbuilder.push('<div class="<%=@hash%>frame-conversation-message-avatar">')
            stringbuilder.push('<img src="')
            stringbuilder.push(message.user_image_url)
            stringbuilder.push('" alt="" title="">')
            stringbuilder.push('</div>')
            stringbuilder.push('<div class="<%=@hash%>frame-conversation-message-user">')
            stringbuilder.push('<span class="<%=@hash%>frame-conversation-message-user-name">')
            stringbuilder.push(message.realname)
            stringbuilder.push('</span>')
            stringbuilder.push('<div class="<%=@hash%>frame-conversation-message-block">')
            stringbuilder.push(message.text)
            stringbuilder.push('</div>');
            stringbuilder.push('<span class="<%=@hash%>frame-conversation-message-timestamp"> Posted ');
          if (message.origin_network !== undefined) {
            stringbuilder.push('on ');
            stringbuilder.push(message.origin_network);
          }
          stringbuilder.push(' ');
          stringbuilder.push(message.created_at);
          stringbuilder.push('</span>');
          stringbuilder.push('</div>');
          return stringbuilder.join('');
        },

        setUpConversation : function(conversation, commentTextId) {
            var messages = conversation.messages;
                var stringbuilder = [];
                for (var i = 0 ; i < messages.length; i++) {
                  var message = messages[i];
                  stringbuilder.push('<li class="<%=@hash%>frame-conversation-message clearfix">');
                    stringbuilder.push(shelbyRadar.messageHtml(message));
                    stringbuilder.push('</li>');
                }
                shelbyJ(".<%=@hash%>conversation").html(stringbuilder.join(''));
                shelbyJ("#" + commentTextId).html(messages.length);
        },
               

        setUpConversationWithId : function(conversationId, commentTextId) {
              var setHtml = function(response) { 
                shelbyRadar.setUpConversation(response.result, commentTextId);
              };
              shelbyJ.ajax({
                type : 'GET',
                url : 'http://<%= Settings::VideoRadar.domain %>/v1/conversation/' + conversationId,
                dataType : "jsonp",
                async : true,
                xhrFields : {withCredentials : true},
                success :  setHtml
              });
        },


        setUpGuide : function(guideName, styleGuideWidth, loggedIn) {
          shelbyRadar.shelbyDocElements['ext-elements'].append('<div id=' + guideName + '-window class="' + guideName + ' <%=@hash%>guide-window" hidden="hidden">  </div>');
          shelbyJ('#' + guideName + '-window')
                                              .css("width", shelbyGuideWidth + "px")
                                              .css("height", shelbyJ(window).height() + "px")
                    
          // set up clickoff
          shelbyRadar.shelbyDocElements['ext-elements'].append('<div id=' + guideName + '-clickoff class="' + guideName + ' <%=@hash%>guide-clickoff" hidden="hidden"></div>')
          shelbyJ("#" + guideName + "-clickoff")
                                    .css("right", shelbyGuideWidth + "px")
                                    .css("height", shelbyJ(window).height() + "px")
                                    .css("width", (shelbyJ(window).width() - shelbyGuideWidth) + "px")
                                    .click(function() {
                                        shelbyRadar.styleGuideHide(guideName);
                                    });

          shelbyJ('#' + guideName + '-window').append('<div id=' + guideName +'-overlay-header class="<%=@hash%>guide-overlay-header"></div>');
          shelbyJ('#' + guideName + '-overlay-header').append('<div class="<%=@hash%>guide-overlay-title">' +
                                                            '<div class="<%=@hash%>guide-overlay-title-text"> ' + shelbyRadar.allGuides[guideName] + '</div>' +
                                                            '</div>')
          if (loggedIn) {
            shelbyJ('#' + guideName + '-overlay-header').append('<div class="<%=@hash%>guide-overlay-context">' +
                                                              '<div class="<%=@hash%>guide-overlay-context-overview">' +
                                                                '<div class="<%=@hash%>guide-overlay-context-creator"> </div>' +
                                                                '<div class = "<%=@hash%>guide-overlay-context-title"></div>' +
                                                              '</div>' + 
                                                              '</div>');
          }

          shelbyRadar.resizeArray.push(function() {
              shelbyJ("#" + guideName + "-window").css("height", shelbyJ(window).height() + "px");
              shelbyJ("#" + guideName + "-clickoff").css("height", shelbyJ(window).height() + "px")
                                                    .css("width", (shelbyJ(window).width() - shelbyGuideWidth) + "px");
          });
        },

        adjustFrame : function(frame, shelbyFrameId, shouldOverwrite) {
                    if (!shouldOverwrite && shelbyJ("#" + shelbyFrameId).data("shelbyframeid") !== undefined) {
                      return;
                    }

                    if(!frame || !frame.conversation){ return };

                    var frameHeader = shelbyJ("#" + shelbyFrameId);
                    frameHeader.addClass("frame-exists");

                    var r = frameHeader.data("r")
                  console.log(frame);
                    frameHeader.prepend(
                        '<img src=' + frame.creator.user_image + ' class="<%=@hash%>frame-creator-avatar" alt="' + frame.creator.nickname + 's avatar" title="' + frame.creator.nickname + '">' +
                        "<div class=<%=@hash%>frame-creator-roll> " + 
                          frame.roll.title +
                          "</div>" +
                        "<div class=<%=@hash%>frame-title> " + frame.video.title + "</div>")
                                  .data("conversationid", frame.conversation.id)
                                  .data("shelbyframeid", frame.id);

                  shelbyJ("#like-text-" + r).html(frame.upvoters.length);
                  shelbyJ("#comment-text-" + r).html(frame.conversation.messages.length);

        },

        commentGuideHtml : function() {
              var user = shelbyRadar.shelbyBkmkltUser;
              shelbyJ('#<%=@hash%>comment-guide-window').append(
                  '<div id="<%=@hash%>conversation-scroller">' +
                    '<ul class="<%=@hash%>conversation <%=@hash%>frame-conversation"></ul>' +
                    '<form class="<%=@hash%>new-comment clearfix">' +
                    '<div class="<%=@hash%>new-comment-user-avatar">' +
                    '<img src="' + user.user_image + '" alt="' + user.nickname + '" title="' + user.nickname + '">' +
                    '</div>' + 
                    '<textarea class="<%=@hash%>new-comment-input" rows="1"></textarea>' +
                    '<div class="<%=@hash%>frame-comment-error-message"></div>' +
                    '<button class="<%=@hash%>new-comment-submit"> Comment</button>' +
                    '</form>' +
                    '</div>');
              shelbyRadar.shelbyDocElements['commentSubmit'] = shelbyJ(".<%=@hash%>new-comment-submit");
              shelbyRadar.shelbyDocElements['commentText'] = shelbyJ(".<%=@hash%>new-comment-input");
        },
	  
	populateRolls : function(rolls) {
          rollStringbuilder = [];
          rollStringbuilder.push('<div class="<%=@hash%>rolling-main-header">Add to Existing Rolls</div><ul class="<%=@hash%>list"> ');
          for (var i = 0; i < rolls.length; i++)  {
            roll = rolls[i];
            rollStringbuilder.push('<li id="<%=@hash%>roll-');
            rollStringbuilder.push(roll.id);
            rollStringbuilder.push('" data-rollid = "');
            rollStringbuilder.push(roll.id);
            rollStringbuilder.push('" class="<%=@hash%>roll-selection-item">');
            rollStringbuilder.push(roll.public ? '<a href="#" class=rolling-public-roll>' : '<a href="#" class=rolling-private-roll>');
            rollStringbuilder.push('<div class="<%=@hash%>roll-selection-item-add clearfix"> Add</div>'); 
            rollStringbuilder.push('<div class="<%=@hash%>roll-selection-item-lining">');
            rollStringbuilder.push('<img class="<%=@hash%>roll-selection-item-thumbnail" src="');
            rollStringbuilder.push(roll.thumbnail_url);
            rollStringbuilder.push('">');
            rollStringbuilder.push('<div class="<%=@hash%>roll-selection-item-title">');
            rollStringbuilder.push(roll.title);
            rollStringbuilder.push('</div><div class="<%=@hash%>roll-selection-item-state">');
            rollStringbuilder.push(roll.public ? "public" : "private");
            rollStringbuilder.push('</div></div></a></li>');
          }
          rollStringbuilder.push('</ul>');
          shelbyJ(".<%=@hash%>existing-rolls-list").html(rollStringbuilder.join(''));
      },

      rollGuideHtml : function(rolls) {
          shelbyJ("#<%=@hash%>roll-guide-window").append('<div class="<%=@hash%>guide-overlay-main <%=@hash%>rolling-main">' +
                            '<div class="rolling-main-new-roll">' +
                            '<div class="rolling-main-header">Create New Roll</h3></div>' +
                            '<div class="<%=@hash%>create-roll clearfix">' +
                            '<form class="">' +
                            '<fieldset class="<%=@hash%>roll-options">' +
                            '<label for="<%=@hash%>new-roll-name" class="<%=@hash%>roll-options-label">Roll Name</label>' +
                            '<input name="<%=@hash%>new-roll-name" id="<%=@hash%>new-roll-name" class="<%=@hash%>roll-options-input" plassholder="Roll name..." type="text">' +
                            '<label for="<%=@hash%>new-roll-recipients" class="<%=@hash%>roll-options-label">Share With</label>' +
                            '<input name="<%=@hash%>new-roll-recipients" id="<%=@hash%>new-roll-recipients" class="<%=@hash%>roll-options-input" placeholder="Separate email addresses with commas..." type="email" multiple="multiple">' +
                            '</fieldset>' +
                            '<fieldset class="roll-options">' +
                            '<label for="<%=@hash%>new-roll-status" class="<%=@hash%>new-roll-status clearfix" data-private="Private" data-public="Public">' +
                            '<input id="<%=@hash%>new-roll-status" class="<%=@hash%>new-roll-status-checkbox" type="checkbox">' +
                            '</label>' +
                            '</fieldset>' +
                            '<fieldset class="<%=@hash%>roll-options">' +
                            '<button onclick="return false;" id="<%=@hash%>new-roll-create" class="<%=@hash%>roll-options-submit" type="submit">Roll It</button>' +
                            '</fieldset>' +
                            '</form>' +
                              '</div>' +
                              '</div>' +
                              '<div class="<%=@hash%>existing-rolls-list"></div>');
                                        
          shelbyRadar.populateRolls(rolls);
          shelbyRadar.shelbyDocElements['rollsList'] = shelbyJ(".<%=@hash%>existing-rolls-list");

          shelbyJ(".<%=@hash%>roll-options-submit").on('click', null, null, function(event) {
            var shareEmails = shelbyJ("#<%=@hash%>new-roll-recipients").val();
            var dataReq = {
              'title' : shelbyJ(".<%=@hash%>roll-options-input").val(),
              'collaborative' : true,
              'public' : (shelbyJ(".<%=@hash%>new-roll-status").is(':checked') ? "public": "private"),
              'thumbnail_url' : shelbyRadar.shelbyBkmkltUser.user_image
            }
                
    
            shelbyJ.ajax({
              type : 'GET',
              url : 'http://<%= Settings::VideoRadar.domain %>/v1/POST/roll/',
              dataType : "jsonp",
              async : true,
              crossDomain : true,
              data : dataReq,
              xhrFields : {withCredentials : true},
              success : 
              function(response) {
                if (shareEmails && shareEmails.length > 0) {
                  var shareData  = {
                    'roll_id' : response.result.id,
                    'destination' : ['email'],
                    'addresses' : shelbyJ("#<%=@hash%>new-roll-recipients").val(),
                    'text' : "New Roll"
                  };
                  shelbyJ.ajax( {
                    type : 'GET',
                    data : shareData,
                    url : 'http://<%= Settings::VideoRadar.domain%>/v1/POST/roll/' + response.result.id + '/share',
                    dataType : "jsonp",
                    crossDomain : true,
                    xhrFields : {withCredentials : true},
                    success : function(response) {
                      console.log(response);
                    }
                  });
                }
                shelbyJ.ajax({
                    type : 'GET',
                    url : 'http://<%= Settings::VideoRadar.domain %>/v1/user/' + shelbyRadar.shelbyBkmkltUser.id + '/rolls/postable',
                    dataType : "jsonp",
                    crossDomain : true,
                    xhrFields : {withCredentials : true},
                    success : function(response) {
                      rolls = response.result;
                      shelbyRadar.populateRolls(rolls);    
                      console.log(response);
                    }
                  })
                }
            });
          });
        },
        
        loginGuideHtml: function() {
                          shelbyJ('#<%=@hash%>login-guide-window').append(
                              '<a class=" <%=@hash%>gate-networks-twitter" href="http://<%=Settings::VideoRadar.domain%>/auth/twitter"> Log in with Twitter </a>' + 
                              '<a class=" <%=@hash%>gate-networks-facebook" href="http://<%=Settings::VideoRadar.domain%>/auth/facebook"> Log in with Facebook </a>')
                        },


        shareGuideHtml : function(networks) {
              var contains = function(network_name) {
                for (var i = 0; i < networks.length; i++) {
                  if (networks[i].provider === network_name) {
                    return true;
                  }
                }
                return false;
              }

              shelbyJ('#<%=@hash%>share-guide-window').append(
                  '<div class="<%=@hash%>frame-sharing">' +
                 '<div class="<%=@hash%>share-form clearfix">' +
                    '<fieldset class="<%=@hash%>share-comment">'  +
                      '<label for="<%=@hash%>share-textarea" class="<%=@hash%>share-label"> Comment </label>' +
                      '<textarea name="<%=@hash%>share-textarea" id="<%=@hash%>share-textarea" class="<%=@hash%>share-textarea" placeholder="Add a message..." rows="2"></textarea>' +
                          '</fieldset>' +
                          '<fieldset class="<%=@hash%>share-networks"> ' +
                            '<label class="<%=@hash%>share-label" for="<%=@hash%>share-networks-list">Share to</label>' +
                            '<ul class="<%=@hash%>share-networks-list">' +
                            '<li class="' +
                              (contains("twitter") ? 'active ' : '') +
                            '<%=@hash%>networks-twitter <%=@hash%>networks-list" data-dest="twitter" ' +
                              (contains("twitter") ? '' : 'hidden') + ">" +
                              '<button onclick="return false;" class="ir <%=@hash%>networks-twitter-button"> Twitter </button>' +
                              '</li>' +
                              '<li class="' +
                              (contains("facebook") ? 'active ' : '') +
                              '<%=@hash%>networks-facebook <%=@hash%>networks-list" data-dest="facebook" ' +
                              (contains("facebook") ? '' : 'hidden') + ">" +
                              '<button onclick="return false;" class="ir <%=@hash%>networks-facebook-button"> Facebook </button>' +
                              '</li>' +
                            '</ul>' +
                          '</fieldset>' +
                          '<fieldset class="<%=@hash%>share-submit"> ' +
                            '<button class="<%=@hash%>share-submit-button" type="submit"> Share it</button>' +
                          '</fieldset>' +
                          '</div></div>');

              shelbyJ(".<%=@hash%>networks-twitter").click(function() { shelbyJ(".<%=@hash%>networks-facebook").toggleClass("active");});
              shelbyJ(".<%=@hash%>networks-facebook").click(function() { shelbyJ(".<%=@hash%>networks-facebook").toggleClass("active");});
              shelbyRadar.shelbyDocElements['shareSubmit'] = shelbyJ(".<%=@hash%>share-submit-button");
              shelbyRadar.shelbyDocElements['shareNetworks'] = [];
              shelbyRadar.shelbyDocElements['shareNetworks'].push(shelbyJ(".<%=@hash%>networks-twitter"));
              shelbyRadar.shelbyDocElements['shareNetworks'].push(shelbyJ(".<%=@hash%>networks-facebook"));
              shelbyRadar.shelbyDocElements['shareText'] = shelbyJ(".<%=@hash%>share-textarea");




        },

        styleGuideShow : function(guideName) {
                    var allGuides = shelbyRadar.allGuides;
                    if (!shelbyJ('#' + guideName + '-window').is(':visible')) {
                      shelbyJ("#" + guideName + "-window").show('slide', {direction : 'right'}, 'fast');
                      shelbyJ("#" + guideName + "-clickoff").show();
                    }
                    for (var key in allGuides) {
                      if (key !== guideName) {
                        shelbyRadar.styleGuideHide(key);
                      }
                    }
        },

        styleGuideHide : function(guideName) {
                    if (shelbyJ('#' + guideName + '-window').is(':visible')) {
                      shelbyJ("#" + guideName + "-window").hide('slide', {direction : 'right'}, 'fast');
                      shelbyJ("#" + guideName + "-clickoff").hide();
                    }
        },
		

        find : function(possibleVideos, shelbyJ) {
                 var videos_to_add = [];
                 var found_elements = [];
                 for (var i = 0; i < possibleVideos.embeds.length; i++) {
                   found_elements.push(possibleVideos.embeds[i]); 
                  }
                  for (var i = 0; i < possibleVideos.videos.length; i++) {
                    found_elements.push(possibleVideos.videos[i]);
                  }
                  for (var i = 0; i < possibleVideos.iframes.length; i++) {
                    found_elements.push(possibleVideos.iframes[i]);
                  }
                  for (var i = 0; i < possibleVideos.objects.length; i++) {
                    if ((/<embed/i.test(possibleVideos.objects[i].innerHTML) || 
                              possibleVideos.embeds.length == 0) && 
                              (/<object/i.test(possibleVideos.objects[i].innerHTML))) {
                      found_elements.push(possibleVideos.objects[i]);
                    } else if ((/<embed/i.test(possibleVideos.objects[i].innerHTML) || 
                              possibleVideos.embeds.length == 0) && 
                              (/<vimeo/i.test(possibleVideos.objects[i].innerHTML))) {
                      found_elements.push(possibleVideos.objects[i]);
                    } else if ((/<embed/i.test(possibleVideos.objects[i].innerHTML) || 
                              possibleVideos.embeds.length == 0) && 
                              (/<ooyala/i.test(possibleVideos.objects[i].innerHTML))) {
                      found_elements.push(possibleVideos.objects[i]);
                    }
                  }
                  for (var i = 0; i < found_elements.length; i++) {
                    if (this.getElementValue(found_elements[i], 'data-youtube-id', shelbyJ)) {
                      var obj = jQuery(found_elements[i]);
                      videos_to_add.push({
                            embed: obj,
                            domain: "youtube.com",
                            video_id : this.getElementValue(found_elements[i], 'data-youtube-id', shelbyJ)
                      });
                    } else {
                      var str = this.getElementValue(found_elements[i], 'flashvars', shelbyJ) + '&amp;' +
                                      this.getElementValue(found_elements[i], 'src', shelbyJ) +
                                      this.getElementValue(found_elements[i], 'data', shelbyJ) +
                                      this.getElementValue(found_elements[i], 'name', shelbyJ) +
                                      found_elements[i].innerHTML + found_elements[i].id;
                      for (var j = 0; j < this.knownProviders.length; j++) {
                        for (var k = 0; k < this.knownProviders[j].regex.length; k++) {
                          var reg = new RegExp(this.knownProviders[j].regex[k]);
                          var domain_split = this.knownProviders[j].domain.split(',');
                          var valid_domain = false;
                          for (var l = 0; l < domain_split.length; l++) {
                            var domain_reg = new RegExp(jQuery.trim(domain_split[l]));
                            if (domain_reg.test(str) || domain_reg.test(window.location)) {
                              valid_domain = true;
                              break;
                            }
                          }
                          if (reg.test(str) && valid_domain) {
                            var match = reg.exec(str);
                            var obj = jQuery(found_elements[i]);
                            if (obj.width() == 0) {
                              obj = obj.parent();
                            }
                            if (match[2] == undefined) {
                              if (match[1] == undefined) {
                                match[1] = window.location.href;
                              } else {
                                match[2] = match[1];
                              }
                            }
                            videos_to_add.push({
                              embed : obj,
                              domain : this.knownProviders[j].domain,
                              video_id : match[2],
                              provider : this.knownProviders[j].provider,
                              known_url : this.composeKnownUrl(this.knownProviders[j].domain, match[2])
                            });
                            break;
                          }
                        }
                      }
                    }
                  }
                  return videos_to_add;
                  
        },

        allGuides : {"<%=@hash%>roll-guide" : "Roll",
                     "<%=@hash%>comment-guide" : "Comments", 
                     "<%=@hash%>share-guide" : "Share",
                     "<%=@hash%>login-guide" : "Log In"
                    },

        knownProviders : [
                    { "provider" : "blip", "domain": "blip.tv", "regex": ["flash\\\/stratos\\.swf", "http:\\\/\\\/blip\\.tv\\\/play\\\/"] },
                    { "provider" : "brightcove", "domain": "brightcove.com", "regex": ["brightcove.com\\\/services\\\/viewer"] },
                    { "provider" : "collegehumor", "domain": "collegehumor.com", "regex": ["videoid([0-9]+)", "clip_id=([0-9]+)"] },
                    { "provider" : "dailymotion", "domain": "dailymotion.com", "regex": ["videoId%22%3A%22([a-zA-Z0-9]+)", "dailymotion.com%2Fvideo%2F([a-zA-Z0-9]+)_", "dailymotion\\.com\\\/embed\\\/video\\/([a-zA-Z0-9]+)", "dailymotion\\.com\\\/swf\\\/([a-zA-Z0-9]+)", "www.dailymotion.com\\\/video\\\/([a-zA-Z0-9]+)_"] },
                    /*{ "domain": "hulu.com", "regex": ["http:\\\/\\\/player\\.hulu\\.com\\\/express\\\/.*?"] },*/
                    { "provider" : "hulu", "domain": "hulu.com", "regex": ["\/site-player\/(\\d*)\/player"] },
                    { "provider" : "pbs", "domain": "video.pbs.org", "regex": ["width=512&height=288&video=.*?\\\/([0-9]+)"] },
                    { "provider" : "techcrunch", "domain": "techcrunch.tv", "regex": ["embedCode=(\\w*)"] },
                    { "provider" : "ted", "domain": "ted.com", "regex": ["&amp;su=(http:\\\/\\\/www\\.ted\\.com.*?\\.html)&amp;", "&su=(http:\\\/\\\/www\\.ted\\.com.*?\\.html)&", "vu=http:\\\/\\\/video\\.ted\\.com\\\/.*?&su"] },
                    { "provider" : "vimeo", "domain": "vimeo.com", "scrape_url": "http:\\\/\\\/(?:\\w+\\.)*vimeo\\.com\\\/([0-9]+)|http:\\\/\\\/(?:\\w+\\.)*vimeo\\.com.*clip_id=([0-9]+)", "regex": ["vimeo\\.com\\\/moogaloop\\.swf\\?clip_id=([0-9]+)", "clip_id=([0-9]+)&server=vimeo\\.com", "clip_id=([0-9]+)", "(player.vimeo.com\\/video\\/)(\\d*)", "(player)(\\d*)"] },
                    { "provider" : "youtube", "domain": "youtube.com", "scrape_url": "http:\\\/\\\/(?:\\w+\\.)*youtube\\.com.*v=([\\_\\-a-zA-Z0-9]+)", "regex": ["&video_id=([\\_\\-a-zA-Z0-9]+)", "youtube\\.com\/v\/([\\_\\-a-zA-Z0-9]+)", "youtube\\-nocookie\\.com\/v\/([\\_\\-a-zA-Z0-9]+)", "youtube\\.com\/embed\/([\\_\\-a-zA-Z0-9]+)"] },
                    { "provider" : "bloomberg", "domain": "bloomberg.com", "regex": ["embedCode=(\\w*)"] }
        ],
		

    foundVideo : null,
  
    shelbify : function() {
      shelbyRadar.setUpGuide("<%=@hash%>roll-guide", shelbyGuideWidth, true);
      shelbyRadar.setUpGuide("<%=@hash%>share-guide", shelbyGuideWidth, true);
      shelbyRadar.setUpGuide("<%=@hash%>comment-guide", shelbyGuideWidth, true);
      shelbyRadar.setUpGuide("<%=@hash%>login-guide", shelbyGuideWidth, false);
      shelbyRadar.foundVideo = shelbyRadar.find(possibleVideos, shelbyJ);
      shelbyRadar.signedIn(shelbyJ);
      shelbyJ(window).resize(function() {
          for (var i = 0; i < shelbyRadar.resizeArray.length; i++) {
            shelbyRadar.resizeArray[i]();
          }
        });
            
    }
  };
  shelbyRadar.shelbify();
}
})

function fullFunc(a){function d(b){if(b.length===0){a.ready();return false}$.getScript(b[0],function(){d(b.slice(1))})}function e(b){$.each(b,function(c,f){$("<link>").attr({href:f,rel:"stylesheet"}).appendTo("head")})}a.jqpath=a.jqpath||"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js";(function(b){var c=document.createElement("script");c.type="text/javascript";c.src=b;c.onload=function(){e(a.css);d(a.js)};document.body.appendChild(c)})(a.jqpath)};
