<li>
  <a class="image_module avatar avatar--tiny frame-likes-link js-track-event" style="background-image: url(<%= avatar %>)" href="/<%= liker['nickname'] %>" data-ga_category="Share Page" data-ga_action="click avatar for liker" data-ga_label="<%= liker['nickname'] %>">
    <img class="visuallyhidden" src="<%= avatar %>" title="<%= liker['name'] %>" alt="<%= liker['name'] %>">
  </a>
</li>
