<% var creator = endingFrame.get('creator') %>
<% var creatorNickname = creator.get('nickname'); %>
<% var creatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(creator) %>
<% var video = endingFrame.get('video') %>
<% var messages = (endingFrame.get('conversation') && endingFrame.get('conversation').get('messages')) || new Backbone.Collection() %>

<h2 class="video-title"><%= video.get('title') %></h2>
<button class="button_primer button_default command-roll js-roll-frame js-track-event" data-ga_category="Hotswitch" data-ga_action="Click roll on ending frame" data-ga_label="<%= shelby.models.user.get('nickname') %>">
  <i class="button_icon_left icon_videocard_roll icon">
    Roll…
  </i>
</button>

<button class="button_primer frame-command command-queue js-queue-frame
               <%= (queuedVideosModel.videoIsInQueue(video) ) ? ' queued button_gray-light' : ' button_default' %>">
  <i class="button_icon_left icon_videocard_queue icon js-command-icon">
    <%= (queuedVideosModel.videoIsInQueue(video)) ? 'Queued' : 'Queue' %>
  </i>
</button>

<button class="command-share js-share-frame js-track-event" data-ga_category="Hotswitch" data-ga_action="Click share on ending frame" data-ga_label="<%= shelby.models.user.get('nickname') %>">
  <i class="button_icon_left icon icon_email">
    Share Video…
  </i>
</button>

<span class="image_module xuser-avatar media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
	<img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
</span>
shared by <%= creatorNickname %>

<% if(messages.models.length > 0 && creator.get('id') == messages.models[0].get('user_id')) { %>
  <p class="xuser-message">
    <%= messages.models[0].escape('text') %>
  </p>
<% } %>