<% var currentCreator = currentFrame.get('creator') %>
<% var currentCreatorNickname = currentCreator ? currentCreator.get('nickname') : null %>
<% var currentCreatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(currentCreator) %>
<% var currentVideo = currentFrame.get('video') %>
<% var currentFramePermalink = libs.shelbyGT.viewHelpers.frame.permalink(currentFrame) %>
<% var currentFrameHasRoll = currentFrame.has('roll') %>
<% var currentMessages = (currentFrame.get('conversation') && currentFrame.get('conversation').get('messages')) || new Backbone.Collection() %>
<% var currentVideoIsInQueue = queuedVideosModel.videoIsInQueue(currentVideo) %>

<% var nextVideo = nextFrame.get('video') %>

<% var isFauxUser = currentCreator && currentCreator.get('user_type') == libs.shelbyGT.UserModel.USER_TYPE.faux %>
<% var fauxUserOrigin = !isFauxUser ? null : (currentFrameHasRoll ? currentFrame.get('roll').get('origin_network') : null ) %>
<% var fauxUserNickname = isFauxUser ? libs.shelbyGT.viewHelpers.user.userOriginNickname(currentCreator) : null %>

<% var action = frameGroup.get('primaryDashboardEntry') && frameGroup.get('primaryDashboardEntry').get('action') %>

<%
  var currentCreatorNickname;

  if (fauxUserNickname) {
    currentCreatorNickname = fauxUserNickname;
  }
%>

<% var clickableCreator = (shelby.models.guide.get('displayState') != libs.shelbyGT.DisplayState.standardRoll) %>

<div class="persistent_video_info animate_module">
  <% if (showNextFrame) { %>
    <div class="media_image--rev persistent_video_info__next-frame">
      <a class="persistent_video_info__anchor js-track-event js-next-video"
                data-ga_category="<%= eventTrackingCategory %>"
                data-ga_action="Click on next frame"
                data-ga_label="<%= shelby.models.user.get('nickname') %>">

        <h3 class="persistent_video_info__h2">
          Up Next
        </h3>

        <%= SHELBYJST['thumbnail-module']({
          thumbnail: nextVideo.get('thumbnail_url'),
          title: nextVideo.get('title')
        }) %>

        <h2 class="persistent_video_info__h3">
          <%= nextVideo.get('title') %>
        </h2>
      </a>
    </div><!-- eo .persistent_video_info__next-frame -->
  <% } %>

  <div class="media_body persistent_video_info__current-frame">
    <div class="persistent_video_info__lining">

      <h2 class="persistent_video_info__h1">
        <%= currentVideo.get('title') %>
      </h2>

      <div class="media_module persistent_video_info__body">
        <% if(action == libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.videoGraphRecommendation) {
          var sourceFrameCreatorNickname = frameGroup.get('primaryDashboardEntry').get('src_frame').get('creator').get('nickname');
        %>
          <div class="media_body">
            <!--
            <span class="xuser-data-timestamp">
              <%= currentFrame.get('created_at') %>
            </span>
            -->
            <p class="xuser-data xuser-data--green xuser-data--recommendation">
              <strong>Recommended for you</strong>
            </p>
            <p class="xuser-message">
              This video is shared by people like <a href="/<%= sourceFrameCreatorNickname %>" class="js-goto-user-page"><%= sourceFrameCreatorNickname == shelby.models.user.get('nickname') ? "you" : sourceFrameCreatorNickname %></a>
            <p>
          </div><!-- eo .media_body -->
        <% } else { %>
          <% if (showNextFrame) { %>
            <% if (!currentFrame.get('mockFrame')) { %>
              <% if (clickableCreator) { %><a href="/<%= currentCreatorNickname %>" class="no-faux-link js-navigate-creator"><% } %>
                <div class="image_module xuser-avatar media_image" style="background-image: url(<%= currentCreatorAvatar %>);" role="img">
                  <img src="<%= currentCreatorAvatar %>" class="visuallyhidden" title="<%= currentCreatorNickname %>" alt="<%= currentCreatorNickname %>">
                </div>
              <% if (clickableCreator) { %></a><% } %>
            <% } else { %>
              <img src="/images/assets/search.svg" class="xuser-avatar media_image" title="Search Result" alt="Search">
            <% } %>
          <% } %>
          <div class="media_body">
            <% if (showNextFrame) { %>
              <h3 class="xuser-data persistent_video_info__h4--light">
                <% if (!currentFrame.get('mockFrame')) { %>
                  <strong>
                    <% if(clickableCreator) { %><a href="/<%= currentCreatorNickname %>" class="no-faux-link js-navigate-creator"><% } %><%= currentCreatorNickname %><% if(clickableCreator) { %></a><% } %>
                  </strong>
                <% } else { %>
                  <strong><%= _(currentVideo.get('provider_name')).capitalize() %></strong>
                <% } %>

                <% if (fauxUserOrigin) { %>
                  via <span class="capitalize"><%= fauxUserOrigin %></span>
                <% } else if(currentFrameOriginator && (currentFrameOriginator.get('nickname') != currentCreatorNickname) && (currentFrameOriginator.get('user_type') != 1)) { %>
                  via <a class="js-navigate-originator no-faux-link" href="/<%= currentFrameOriginator.get('nickname') %>"><%= currentFrameOriginator.get('nickname') %></a>
                <% } %>
              </h3>
            <% } %>

            <% var hasComment = (currentMessages.models.length > 0 && currentCreator && currentCreator.get('id') == currentMessages.models[0].get('user_id')) || currentFrame.get('mockFrame') %>

            <% if(hasComment) { %>
              <% var comment = currentMessages.models[0].get('text') %>
              <% var commentOverflow = comment && comment.length > 256  %>
              <p<%= commentOverflow ? ' class="line-clamp js-toggle-comment"' : '' %>>
                <%=
                  libs.utils.String.linkifySafeWithClickTracking(comment, {
                    link : {
                      gaCategory : eventTrackingCategory,
                      gaAction : 'Click on link in comment'
                    }
                  })
                %>
                </p>
            <% } %>
          </div><!-- eo .media_body -->
        <% } %>
      </div><!-- eo .persistent_video_info__body -->
    </div><!-- eo .persistent_video_info_lining -->

    <div class="persistent_video_info__foot">
      <ul class="list list--inline persistent_video_info__commands">
        <li class="list__item clearfix">
          <button class="button_primer button_green button_command button_command--roll js-roll-frame js-track-event"
                  data-ga_category="<%= eventTrackingCategory %>"
                  data-ga_action="Click roll on current frame"
                  data-ga_label="<%= shelby.models.user.get('nickname') %>">
            <span class="icon icon-roll"></span>Share…
          </button>
        </li>

        <li class="list__item clearfix">
          <button class="button_primer button_gray button_command button_command--like js-queue-frame <%= currentVideoIsInQueue ? ' queued' : '' %> js-track-event"
              data-ga_category="<%= eventTrackingCategory %>"
              data-ga_action="Click like on current frame"
              data-ga_label="<%= shelby.models.user.get('nickname') %>">
            <span class="icon icon-like <%= currentVideoIsInQueue ? 'icon-like--red ': ''%>js-command-icon"></span><span class="label"><%= (currentVideoIsInQueue) ? 'Liked' : 'Like' %></span>
          </button>
        </li>

      </ul>
    </div><!-- eo .persistent_video_info__foot -->
  </div><!-- eo .persistent_video_info__current-frame -->
</div><!-- eo .persistent_video_info -->
