<% var event = eventModel.attributes %>
<% var performer = event.performers && ($.isArray(event.performers) ? event.performers.performer[0] : event.performers.performer) %>
<% var thumbnail = event.image && event.image.medium && event.image.medium.url %>
<% var links = event.links && ($.isArray(event.links) ? event.links.link : [event.links.link]) %>
<% var date = new Date(event.start_time) %>

<% if (thumbnail) { %>
<div class="media_image--rev persistent_video_info__next-frame">
  <img src="<%= thumbnail %>" />
</div><!-- eo .persistent_video_info__next-frame -->
<% } %>

<div class="media_body persistent_video_info__current-frame">
  <div class="persistent_video_info__lining">
    <h3 class="persistent_video_info__h1">
      <%= (performer) ? performer.name : 'Artist' %> <span>on Tour</span>
    </h3>

    <div class="media_module persistent_video_info__body">
      <div class="media_image">
        <div class="calendar frame-body-wrapper">
          <div class="calendar__head">
            <span class="calendar__month">
              <%= date.format('mmm') %>
            </span>
          </div>

          <div class="calendar__body">
            <span class="calendar__number">
              <%= date.format('d') %>
            </span>
          </div>
        </div>
      </div>

      <div class="media_body">
        <p>
          <strong><%= event.city_name %>, <%= (event.country_abbr2 != 'US') ? event.country_abbr2 : event.region_abbr %></strong> — <%= event.venue_name %>
        </p>

        <p>
          <%= date.format('ddd') %>, <%= date.format('mmmm') %> <%= date.format('d') %>, <%= date.format('yyyy') %>
        </p>

        <% if(event.price) { %>
          <p>
            <%= event.price %>
          </p>
        <% } %>
      </div><!-- eo .media_body -->

      <div class="persistent_video_info__footer">
        <% if (links && links.length) {
          for (var i = 0; i < links.length; i++) { %>

          <a href="<%= links[i].url %>"><%= links[i].description %></a>

         <%
          }
        } %>
      </div>
    </div><!-- eo .persistent_video_info__body -->
  </div><!-- eo .persistent_video_info_lining -->
</div><!-- eo .persistent_video_info__current-frame -->