<% var currentCreator = currentFrame.get('creator') %>
<% var currentCreatorNickname = currentCreator ? currentCreator.get('nickname') : null %>
<% var currentCreatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(currentCreator) %>
<% var currentVideo = currentFrame.get('video') %>
<% var currentFramePermalink = libs.shelbyGT.viewHelpers.frame.permalink(currentFrame) %>
<% var currentFrameHasRoll = currentFrame.has('roll') %>
<% var currentMessages = (currentFrame.get('conversation') && currentFrame.get('conversation').get('messages')) || new Backbone.Collection() %>
<% var currentVideoIsInQueue = queuedVideosModel.videoIsInQueue(currentVideo) %>

<% var nextVideo = nextFrame.get('video') %>

<% var isFauxUser = currentCreator && currentCreator.get('faux') !== 1 %>
<% var fauxUserOrigin = isFauxUser ? null : (currentFrameHasRoll ? currentFrame.get('roll').get('origin_network') : null ) %>

<div class="persistent_video_info animate_module">
  <% if (showNextFrame) { %>
    <div class="media_image--rev persistent_video_info__next-frame">
      <a class="persistent_video_info__anchor js-track-event js-next-video"
                data-ga_category="<%= eventTrackingCategory %>"
                data-ga_action="Click on next frame"
                data-ga_label="<%= shelby.models.user.get('nickname') %>">

        <h3 class="persistent_video_info__h2">
          Up Next
        </h3>

        <%= SHELBYJST['thumbnail-module']({
          thumbnail: nextVideo.get('thumbnail_url'),
          title: nextVideo.get('title') }) %>

        <h2 class="persistent_video_info__h3">
          <%= nextVideo.get('title') %>
        </h2>
      </a>
    </div><!-- eo .persistent_video_info__next-frame -->
  <% } %>

  <div class="media_body persistent_video_info__current-frame">
    <div class="persistent_video_info__lining">

			<% if(currentFrame.get('isFreshPlayNew')){ %>
				<div class="persistent_video_info__sash">New</div>
			<% } %>

      <h2 class="persistent_video_info__h1">
        <%= currentVideo.get('title') %>
      </h2>

      <div class="media_module persistent_video_info__body">
        <% if (showNextFrame) { %>
          <% if (!currentFrame.get('isSearchResultFrame')) { %>
            <div class="image_module xuser-avatar media_image" style="background-image: url(<%= currentCreatorAvatar %>);" role="img">
              <img src="<%= currentCreatorAvatar %>" class="visuallyhidden" title="<%= currentCreatorNickname %>" alt="<%= currentCreatorNickname %>">
            </div>
          <% } else { %>
            <img src="/images/assets/search.svg" class="xuser-avatar media_image" title="Search Result" alt="Search">
          <% } %>
        <% } %>

        <div class="media_body">
          <% if (showNextFrame) { %>
            <h3 class="xuser-data persistent_video_info__h4--light">
              <% if (!currentFrame.get('isSearchResultFrame')) { %>
                <strong><%= currentCreatorNickname %></strong>
              <% } else { %>
                <strong><%= _(currentVideo.get('provider_name')).capitalize() %></strong>
              <% } %>

              <% if (fauxUserOrigin) { %>
                via <span class="capitalize"><%= fauxUserOrigin %></span>
              <% } %>
            </h3>
          <% } %>

          <% var hasComment = (currentMessages.models.length > 0 && currentCreator && currentCreator.get('id') == currentMessages.models[0].get('user_id')) || currentFrame.get('isSearchResultFrame') %>

          <% if(hasComment) { %>
            <% var comment = currentMessages.models[0].get('text') %>
            <% var commentOverflow = comment && comment.length > 256  %>
            <p<%= commentOverflow ? ' class="line-clamp js-toggle-comment"' : '' %>>
              <%=
                libs.utils.String.linkifySafeWithClickTracking(comment,
                  {gaCategory: eventTrackingCategory, gaAction: 'Click on link in comment'})
              %>
            </p>
          <% } %>
        </div><!-- eo .media_body -->
      </div><!-- eo .persistent_video_info__body -->
    </div><!-- eo .persistent_video_info_lining -->

    <div class="persistent_video_info__foot">
      <hr class="hr hr--double" />

      <ul class="list list--inline persistent_video_info__commands">
        <% if (!user.isAnonymous()) { %>
          <li class="list__item">
            <button class="button_primer button_blue button_command button_command--roll js-roll-frame js-track-event"
                    data-ga_category="<%= eventTrackingCategory %>"
                    data-ga_action="Click roll on current frame"
                    data-ga_label="<%= shelby.models.user.get('nickname') %>">
              <i class="icon icon-videocard_roll">
              </i>
                Roll…
            </button>
          </li>
        <% } %>

        <li class="list__item clearfix">
          <button class="button_primer button_default button_command button_command--like js-queue-frame <%= currentVideoIsInQueue ? ' queued' : '' %> js-track-event"
              data-ga_category="<%= eventTrackingCategory %>"
              data-ga_action="Click like on current frame"
              data-ga_label="<%= shelby.models.user.get('nickname') %>">
            <i class="icon icon-heart <%= currentVideoIsInQueue ? 'icon-heart--red ': ''%>js-command-icon">
            </i>
            <span class="label">
              <%= (currentVideoIsInQueue) ? 'Liked' : 'Like' %>
            </span>
          </button>
        </li>

        <li class="list__item clearfix">
          <button class="button_primer button_default button_command button_command--share js-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Click share menu on current frame" data-ga_label="<%= shelby.models.user.get('nickname') %>">
            <i class="icon icon-share">
            </i>
              Share…
          </button>

            <div class="share_menu frame-body-wrapper js-share-menu-block hidden">
              <ul class="list">
                <% if (false) { %>
                  <!-- TODO : Put this in once we have an embed to supply -->
                  <li class="list__item">
                    <button class="button_primer button_default button_share button_share--embed js-hide-share-menu">
                      <i class="icon icon-embed">
                      </i>
                        Embed
                    </button>
                  </li>
                  <!-- END TODO : Put this in once we have an embed to supply -->
                <% } %>
                <li>
                  <% if (user.isAnonymous()) { %>
                    <a href="mailto:?subject=Check%20out%20this%20video...&body=<%= currentFramePermalink %>?utm_campaign=email-share">
                  <% } %>
                    <button class="button_primer button_default button_share button_share--email js-hide-share-menu js-track-event<%= !user.isAnonymous() ? ' js-button_share--email' : ''%>" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame via email" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                      <i class="icon icon-email">
                      </i>
                        Email
                    </button>
                  <% if (user.isAnonymous()) { %>
                    </a>
                  <% } %>
                </li>
                <% if (user.isAnonymous()) { %>
                  <li>
                    <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20video&url=<%= currentFramePermalink %>">
                      <button class="button_primer button_default button_share button_share--twitter js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Twitter" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                        <i class="icon icon-social_twitter">
                        </i>
                          Twitter
                      </button>
                    </a>
                  </li>
                <li>
                  <button class="button_primer button_default button_share button_share--facebook js-button_share--facebook js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Facebook" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                    <i class="icon icon-social_facebook">
                    </i>
                      Facebook
                  </button>
                </li>
                <% } %>
                <li>
                  <span class="button_primer button_default button_share button_share--shortlink js-button_share--shortlink">
                    <i class="icon icon-shortlink">
                    </i>
                    <input type="text" value="Fetching..." class="frame-option frame-shortlink js-frame-shortlink" />
                  </span>
                </li>
              </ul>
            </div>
        </li>
      </ul>

      <ul style="display: none;" class="persistent_video_info__list persistent_video_info__list--actions">
        <% if (!user.isAnonymous()) { %>
          <li class="persistent_video_info__item clearfix">
            <button class="button_primer button_blue persistent_video_info__button--roll js-roll-frame js-track-event"
                    data-ga_category="<%= eventTrackingCategory %>"
                    data-ga_action="Click roll on current frame"
                    data-ga_label="<%= shelby.models.user.get('nickname') %>">
              <i class="icon icon-videocard_roll">
              </i>
                Roll…
            </button>
          </li>
        <% } %>

        <li class="persistent_video_info__item clearfix">
          <button class="button_primer button_default persistent_video_info__button--queue js-queue-frame <%= currentVideoIsInQueue ? ' queued' : '' %> js-track-event"
              data-ga_category="<%= eventTrackingCategory %>"
              data-ga_action="Click like on current frame"
              data-ga_label="<%= shelby.models.user.get('nickname') %>">
            <i class="icon icon-heart <%= currentVideoIsInQueue ? 'icon-heart--red ': ''%>js-command-icon">
            </i>
            <span class="label">
              <%= (currentVideoIsInQueue) ? 'Liked' : 'Like' %>
            </span>
          </button>
        </li>

        <% if (!user.isAnonymous()) { %>
          <li class="persistent_video_info__item clearfix">
            <button class="button_primer button_default persistent_video_info__button--share js-share-frame js-track-event"
                    data-ga_category="<%= eventTrackingCategory %>"
                    data-ga_action="Click share on current frame"
                    data-ga_label="<%= shelby.models.user.get('nickname') %>">
              <i class="icon icon-email">
              </i>
                Email…
            </button>
          </li>
        <% } else { %>
          <li class="persistent_video_info__item clearfix">
            <a href="mailto:?subject=Check%20out%20this%20video...&body=<%= currentFramePermalink %>?utm_campaign=email-share">
              <button class="button_primer button_default persistent_video_info__button--share js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame via email link" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                <i class="icon-email">
                </i>
                  Email
              </button>
            </a>
          </li>
          <li class="persistent_video_info__item clearfix">
            <button class="button_primer button_default persistent_video_info__button--facebook js-facebook-share js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Facebook" data-ga_label="<%= shelby.models.user.get('nickname') %>">
              <i class="button_icon_center icon_share_facebook icon">
                &nbsp;
              </i>
            </button>
          </li>
          <li class="persistent_video_info__item clearfix">
            <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20video&url=<%= currentFramePermalink %>">
              <button class="button_primer button_default persistent_video_info__button--twitter js-share-to-twitter js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Twitter" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                <i class="button_icon_center icon_share_twitter icon">
                  &nbsp;
                </i>
              </button>
            </a>
          </li>
        <% } %>
      </ul>
    </div><!-- eo .persistent_video_info__foot -->
  </div><!-- eo .persistent_video_info__current-frame -->
</div><!-- eo .persistent_video_info -->