<div class="persistent_video_info persistent_video_info--supplemental animate_module">
  <div class="media_image--rev persistent_video_info__next-frame">
    <img src="<%= 'http://s3.evcdn.com/images/block250/I0-001/000/215/118-5.jpg_/iamx-18.jpg' %>" />
  </div><!-- eo .persistent_video_info__next-frame -->

  <div class="media_body persistent_video_info__current-frame">
    <div class="persistent_video_info__lining">
      <h3 class="persistent_video_info__h1">
        <%= 'IAMX' %> <span>on Tour</span>
      </h3>

      <div class="media_module persistent_video_info__body">
        <div class="media_image">
          <div class="calendar frame-body-wrapper">
            <div class="calendar__head">
              <span class="calendar__month">
                <abbr title="<%= 'December' %>"><%= 'DEC' %></abbr>
              </span>
            </div>

            <div class="calendar__body">
              <span class="calendar__number">
                <%= '9' %>
              </span>
            </div>
          </div>
        </div>

        <div class="media_body">
          <p>
            <strong><%= 'Chicago' %>, <%= 'IL' %></strong> — <%= 'Blue Bottle Stadium' %>
          </p>

          <p>
            <%= 'Fri' %>, <%= 'December' %> <%= '9' %>, <%= '2013' %>
          </p>

          <% if(price) { %>
            <p>
              $<%= price %>
            </p>
          <% } %>
        </div><!-- eo .media_body -->
      </div><!-- eo .persistent_video_info__body -->
    </div><!-- eo .persistent_video_info_lining -->
  </div><!-- eo .persistent_video_info__current-frame -->
</div><!-- eo .persistent_video_info -->