<% format_content_for_layout __FILE__ %>

<div class="push--bottom clearfix">
  <h2 class="shelf__h2 push--bottom">
    <%= Settings::Marketing.cta %>
  </h2>
</div>

<ul class="list list--inline three-fifths">
 <li class="list__item one-third">

  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download iOS"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <%= image_tag Settings::Marketing.badge.ios %>
      <h3 class="visuallyhidden">
        iOS
      </h3>
  </a>

 </li><!--
--><li class="list__item one-third">

  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download Android/Kindle"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <%= image_tag Settings::Marketing.badge.amazon %>
      <h3 class="visuallyhidden">
        Android/Kindle
      </h3>
  </a>
 </li><!--
--><li class="list__item one-third">
  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download Windows"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <%= image_tag Settings::Marketing.badge.windows, :class => "shelf__img--windows" %>
      <h3 class="visuallyhidden">
        Windows8
      </h3>
  </a>
 </li>
</ul>
