<% format_content_for_layout __FILE__ %>

<div class="push--bottom clearfix">
  <h2 class="shelf__h1 push--bottom">
    <%= Settings::Marketing.apps.html_safe %>
  </h2>
  <p>
    <%= Settings::Marketing.cta_body.html_safe %>
  </p>
</div>

<ul class="list list--inline three-fifths">
 <li class="list__item one-third">

  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download iOS"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <h3 class="visuallyhidden">
        iOS
      </h3>
      <%= image_tag Settings::Marketing.badge.ios, :class => "one-whole" %>
  </a>

 </li><!--
--><li class="list__item one-third">

  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download Android/Kindle"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <h3 class="visuallyhidden">
        Android/Kindle
      </h3>
      <%= image_tag Settings::Marketing.badge.amazon, :class => "one-whole" %>
  </a>
 </li><!--
--><li class="list__item one-third">
  <a
    href="#"
    class="one-half shelf__button js-track-event"
    data-ga_action="Click Download Windows"
    data-ga_label="<%= request.referer || 'direct' %>"
    >
      <h3 class="visuallyhidden">
        Windows8
      </h3>
      <%= image_tag Settings::Marketing.badge.windows, :class => "one-whole" %>
  </a>
 </li>
</ul>
