<div id="intro" name="intro" class="shelf__wrapper shelf__wrapper--cta vertical-align-hack">
  <div class="vertical-align-hack__el">
    <div class="media_module shelf shelf--cta shelf--facebook-logged-out clearfix">
      <div class="media_image shelf__lining one-half">
        <h1 class="shelf__h1 four-fifths">
          <%= raw Settings::Marketing.cta %>
        </h1>

        <p class="shelf__block">
          <%= raw Settings::Marketing.cta_body %>
        </p>

        <p class="shelf__block">
          <% if [:android, :amazon].include? @mobile_os %>
            <%= form_tag "#{Settings::Mobile.mobile_subdirectory}/user/create", :class => "form_module" do %>
              <%= hidden_field_tag 'anonymous', true %>
              <button class="button_primer button_green button_command button_command--sub button_command--facebook one-half js-track-event" data-ga_action="Click Get Started" data-ga_label="<%= request.referer || 'direct' %>">Get Started</button>
            <% end %>
            <!-- <a href="http://api.shelby.tv/auth/facebook" class="button_primer button_facebook-blue button_command button_command--sub button_command--facebook one-half js-track-event" data-ga_action="Click Sign Up with Facebook" data-ga_label="<%= request.referer || 'direct' %>">
              <span class="icon-facebook"></span>
              <span class="button_label">Sign Up with Facebook</span>
            </a> -->
          <% else %>
            <a href="<%= Settings::Application.ios_app_url %>" id="js-cta--main" class="button_primer button_green button_command button_command--giant button_command--flexible shelf__button js-cta js-track-event" data-ga_action="Click open SMS" data-ga_label="Call to Action shelf">
              <span class="button_label"><%= raw Settings::Marketing.cta_button %></span>
            </a>
          <% end %>
        </p>

        <div class="facepile">
          <iframe src="//www.facebook.com/plugins/facepile.php?app_id=115071338568035&amp;action&amp;max_rows=2&amp;size=medium&amp;show_count=true&amp;width=360&amp;colorscheme=light&amp;appId=115071338568035" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px;" allowTransparency="true"></iframe>
        </div>

        <% if :amazon == @mobile_os %>
          <a href="<%= Settings::Application.amazon_app_url %>" class="appstore js-track-event" data-ga_action="Click open Amazon App Store" data-ga_label="Call to Action shelf">
            <%= image_tag "amazon-apps-store-us-white.png" %>
          </a>
        <% elsif :android == @mobile_os %>
          <a href="<%= Settings::Application.ios_app_url %>" class="appstore android js-track-event" data-ga_action="Click open App Store" data-ga_label="Call to Action shelf">
            <%= image_tag "appstore-badge.png" %>
          </a>
          <a href="<%= Settings::Application.amazon_app_url %>" class="appstore amazon android js-track-event" data-ga_action="Click open Amazon App Store" data-ga_label="Call to Action shelf">
            <%= image_tag "amazon-apps-store-us-white.png" %>
          </a>
        <% else %>
          <a href="<%= Settings::Application.ios_app_url %>" class="appstore js-track-event" data-ga_action="Click open App Store" data-ga_label="Call to Action shelf">
            <%= image_tag "appstore-badge.png" %>
          </a>
        <% end %>
      </div><!-- eo media_image -->

      <div class="media_body">
        <%= image_tag "iphone-mobile-3.png", :class => "shelf__img--iphone cloaked", :alt => "Shelby.tv ios screenshot" %>
      </div><!-- media_body -->
    </div><!-- eo shelf media_body -->
  </div><!-- positioning el -->
</div><!-- wrapper -->
