<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Our community creates #channels for every taste
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list clearfix">
      <%
        channels = [
          {
            'title'       => "Trending",
            'location'    => "#trending",
            'description' => "The most-watched and shared videos by our community",
            'url'         => "/channels/zero",
            'thumbnail'   => "/images/landing/learn.jpg",
            'likers'      => [
              {
                'avatar' => 'foo',
                'name'   => 'bar'
              }
            ]
          },
          {
            'title'       => "Laugh",
            'location'    => "#laugh",
            'description' => "Get into some serious LOLs with the creme of comedy",
            'url'         => "/channels/laugh",
            'thumbnail'   => "/images/landing/laugh.jpg",
            'likers'      => [
              {
                'avatar' => 'foo',
                'name'   => 'bar'
              }
            ]
          },
          {
            'title'       => "Adrenaline",
            'location'    => "#adrenaline",
            'description' => "Mind-blowing bravery from the sky, snow, and sea",
            'url'         => "/channels/adrenaline",
            'thumbnail'   => "/images/landing/adren.jpg",
            'likers'      => [
              {
                'avatar' => 'foo',
                'name'   => 'bar'
              }
            ]
          }
        ]
      %>

      <% channels.each do |channel| %>
        <li class="shelf__item">
          <article class="frame frame--shelf">
            <a href="<%= channel["url"] %>" class="shelf__link js-track-event" data-ga_category="Homepage" data-ga_action="Click community roll" data-ga_label="<%= channel['title'] %>" title="Click to watch!">
              <div class="frame-body-wrapper clearfix">
                <div class="image_module frame-thumbnail icon-player_play" style="background-image: url('<%= channel["thumbnail"] %>');" role="img">
                  <img class="visuallyhidden" src="<%= channel["thumbnail"] %>" title="<%= channel["thumbnail"] %>" alt="<%= channel["thumbnail"] %> thumbnail">
                </div><!-- eo .frame-thumbnail -->

                <div class="media_module frame-footer clearfix">
                  <div class="media_body">
                    <h3 class="xuser-data">
                      <span class="xuser-data-timestamp hidden"><%= channel["title"] %></span>
                      <%= channel["location"] %>
                    </h3>

                    <p class="xuser-message">
                      <%= channel["description"] %>
                    </p>
                  </div><!-- eo .media_body -->
                </div>
              </div><!-- eo .frame-body-wrapper -->
            </a>

            <div class="frame-likes frame-external-subline icon-heart icon-heart--red js-frame-likes">
              <ul class="list frame-likes-avatars js-liker-avatars-list">
                <% channel["likers"].each do |liker| %>
                  <li>
                    <a class="frame-likes-link js-track-event" href="http://reece.shelby.tv" target="_blank" data-ga_category="Frame" data-ga_action="click liker" data-ga_label="<%= liker["name"] %>">
                      <img class="frame-likes-avatar" src="//s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7d154ff6db244f5e000001?1347033016000" title="<%= liker["name"] %>" alt="<%= liker["name"] %>">
                    </a>
                  </li>
                <% end %>
              </ul>

              <span class="frame-likes-count frame-external-subline-text">
                +1
              </span>
            </div><!-- eo frame-likes -->
          </article>
        </li>
      <% end %>
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
