<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Click to watch channels curated by our community
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list clearfix">
      <%
        frames = [
          {
            'title'       => "Happenings",
            'location'    => "#happenings",
            'description' => "Stay up to date with the latest trending news and stories via the Associated Press, Al Jazeera and the New York Times.",
            'url'         => "/channels/happenings",
            'thumbnail'   => "/images/landing/happenings.jpg"
          },
          {
            'title'       => "Learn About Your World",
            'location'    => "#learnaboutyourworld",
            'description' => "Every wonder why Congress sucks or why things are cute? Watch this channel and learn about your world.",
            'url'         => "/channels/learn",
            'thumbnail'   => "/images/landing/learn.jpg",
          },
          {
            'title'       => "Adrenaline",
            'location'    => "#adrenaline",
            'description' => "Surf, snow skate, base jump from space. Whatever blows your hair back is right here.",
            'url'         => "/channels/adrenaline",
            'thumbnail'   => "/images/landing/adren.jpg"
          },
          {
            'title'       => "This Exists",
            'location'    => "#thisexists",
            'description' => "Level up your life watching motivational, fitness, and gaming video and you'll feel like rescuing a princess!",
            'url'         => "/channels/thisexists",
            'thumbnail'   => "/images/landing/thisexists.jpg"
          },
          {
            'title'       => "Nature is Rad",
            'location'    => "#nature",
            'description' => "Experience the marvels of nature, both large and small. Dogs, cats, icebergs and mountains!",
            'url'         => "/channels/nature",
            'thumbnail'   => "/images/landing/nature_2.jpg"
          },
          {
            'title'       => "Great Movie Moments",
            'location'    => "#greatmoviemoments",
            'description' => "An energenic entrepreneur with a taste for action video so intense it's gone plaid. Co-founder, Shelby.tv",
            'url'         => "/channels/greatmoviemoments",
            'thumbnail'   => "/images/landing/movie.jpg"
          }
        ]
      %>

      <% frames.each do |frame| %>
        <li class="shelf__item">
          <article class="frame frame--shelf">
            <a href="<%= frame["url"] %>" class="shelf__link js-track-event" data-ga_category="Homepage" data-ga_action="Click community roll" data-ga_label="<%= frame['title'] %>" title="Click to watch!">
              <div class="frame-body-wrapper clearfix">
                <div class="image_module frame-thumbnail icon-player_play" style="background-image: url('<%= frame["thumbnail"] %>');" role="img">
                  <img class="visuallyhidden" src="<%= frame["thumbnail"] %>" title="<%= frame["thumbnail"] %>" alt="<%= frame["thumbnail"] %> thumbnail">
                </div><!-- eo .frame-thumbnail -->

                <div class="media_module frame-footer clearfix">
                  <div class="media_body">
                    <h3 class="xuser-data">
                      <span class="xuser-data-timestamp"><%= frame["location"] %></span>
                      <%= frame["title"] %>
                    </h3>

                    <p class="xuser-message">
                      <%= frame["description"] %>
                    </p>
                  </div><!-- eo .media_body -->
                </div>
              </div><!-- eo .frame-body-wrapper -->
            </a>
          </article>
        </li>
      <% end %>
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
