<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Our community creates #channels for every taste
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list clearfix">
      <%
        channels = [
          {
            'title'       => "Trending",
            'location'    => "#trending",
            'description' => "The most-watched and shared videos by our community",
            'url'         => "/channels/zero",
            'thumbnail'   => "/images/landing/trending.jpg",
            'liker_count' => "34",
            'likers'      => [
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4f32e49fad9f11053b00020a',
                'name'   => 'iceberg901'
              },

              {
                'avatar' => 'http://a2.twimg.com/profile_images/663080233/n6829686_8580.jpg',
                'name'   => 'sheynk'
              },

              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7a882df6db246de0000001?',
                'name'   => 'spinosa'
              },

              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4f6873a2ad9f11477f000124',
                'name'   => 'arthur'
              },

              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/509359fab415cc2784011929',
                'name'   => 'rickshant'
              },
            ]
          },
          {
            'title'       => "Laugh",
            'location'    => "#laugh",
            'description' => "Get into some serious LOLs with the creme of comedy",
            'url'         => "/channels/laugh",
            'thumbnail'   => "/images/landing/laugh.jpg",
            'liker_count' => "40",
            'likers'      => [
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4f370fe2ad9f115a1000011c?1348844515000',
                'name'   => 'matyus'
              },

              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7ac94af6db241b5d000002?1349478839000',
                'name'   => 'chris'
              },
            ]
          },
          {
            'title'       => "Adrenaline",
            'location'    => "#adrenaline",
            'description' => "Mind-blowing bravery from the sky, snow, and sea",
            'url'         => "/channels/adrenaline",
            'thumbnail'   => "/images/landing/adren.jpg",
            'liker_count' => "25",
            'likers'      => [
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4f805b5dad9f1151d500006e?1347497016000',
                'name'   => 'nfpagliaro'
              },
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7d154ff6db244f5e000001?1347033016000',
                'name'   => 'reece'
              },
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4d922293f6db24463100000b?1361117209000',
                'name'   => 'enelson1'
              },
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4dcd0063f6db2435a1000001?1349895994000',
                'name'   => 'vladimir'
              },
              {
                'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4ea4fc738848206fd800001d?1349883425000',
                'name'   => 'kunaltandon'
              }
            ]
          }
        ]
      %>

      <% channels.each do |channel| %>
        <li class="shelf__item">
          <article class="frame frame--shelf">
            <a href="<%= channel["url"] %>" class="shelf__link js-track-event" data-ga_category="Homepage" data-ga_action="Click community roll" data-ga_label="<%= channel['title'] %>" title="Click to watch!">
              <div class="frame-body-wrapper clearfix">
                <div class="image_module frame-thumbnail icon-player_play" style="background-image: url('<%= channel["thumbnail"] %>');" role="img">
                  <img class="visuallyhidden" src="<%= channel["thumbnail"] %>" title="<%= channel["thumbnail"] %>" alt="<%= channel["thumbnail"] %> thumbnail">
                </div><!-- eo .frame-thumbnail -->

                <div class="media_module frame-footer clearfix">
                  <div class="media_body">
                    <h3 class="xuser-data">
                      <span class="xuser-data-timestamp hidden"><%= channel["title"] %></span>
                      <%= channel["location"] %>
                    </h3>

                    <p class="xuser-message">
                      <%= channel["description"] %>
                    </p>
                  </div><!-- eo .media_body -->
                </div>
              </div><!-- eo .frame-body-wrapper -->
            </a>

            <div class="frame-likes frame-external-subline icon-heart icon-heart--red js-frame-likes">
              <ul class="list frame-likes-avatars js-liker-avatars-list">
                <% channel["likers"].each do |liker| %>
                  <li>
                    <span class="frame-likes-link" data-ga_category="Frame" data-ga_action="click liker" data-ga_label="<%= liker["name"] %>">
                      <img class="frame-likes-avatar" src="<%= liker["avatar"]%>" title="<%= liker["name"] %>" alt="<%= liker["name"] %>">
                    </span>
                  </li>
                <% end %>
              </ul>

              <span class="frame-likes-count frame-external-subline-text">
                +<%= channel["liker_count"] %>
              </span>
            </div><!-- eo frame-likes -->
          </article>
        </li>
      <% end %>
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
