<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Start watching .TV now.
    </h3>

    <p class="shelf__block">
      Click to watch active members of our community
    </p>

    <hr class="shelf__hr" />

    <ul class="list shelf__list clearfix">
      <%
        frames = [
          {
            'title'       => "NerdFitness",
            'location'    => "nerdfitness.shelby.tv",
            'description' => "Level up your life watching motivational, fitness, and gaming video and you'll feel like rescuing a princess!",
            'url'         => "http://nerdfitness.tv",
            'thumbnail'   => "/images/landing/nerdfitness.jpg"
          },
          {
            'title'       => "Nature is Rad",
            'location'    => "shelby.tv",
            'description' => "Experience the marvels of nature, both large and small: dogs and cats living together, mass hysteria!",
            'url'         => "http://shelby.tv/roll/4fdf3d27b415cc69340008f8/Nature-is-rad",
            'thumbnail'   => "/images/landing/nature_2.jpg"
          },
          {
            'title'       => "Reece",
            'location'    => "reece.shelby.tv",
            'description' => "An energenic entrepreneur with a taste for action video so intense it's gone plaid. Co-founder, Shelby.tv",
            'url'         => "http://reece.shelby.tv",
            'thumbnail'   => "/images/landing/reece.jpg"
          }
        ]
      %>

      <% frames.each do |frame| %>
        <li class="shelf__item">
          <article class="frame frame--shelf">
            <a href="<%= frame["url"] %>" class="shelf__link js-track-event" data-ga_category="Homepage" data-ga_action="Click community roll" title="Click to watch!">
              <div class="frame-body-wrapper clearfix">
                <div class="image_module frame-thumbnail icon-player_play" style="background-image: url('<%= frame["thumbnail"] %>');" role="img">
                  <img class="visuallyhidden" src="<%= frame["thumbnail"] %>" title="<%= frame["thumbnail"] %>" alt="<%= frame["thumbnail"] %> thumbnail">
                </div><!-- eo .frame-thumbnail -->

                <div class="media_module frame-footer clearfix">
                  <div class="media_body">
                    <h3 class="xuser-data">
                      <span class="xuser-data-timestamp"><%= frame["location"] %></span>
                      <%= frame["title"] %>
                    </h3>

                    <p class="xuser-message">
                      <%= frame["description"] %>
                    </p>
                  </div><!-- eo .media_body -->
                </div>
              </div><!-- eo .frame-body-wrapper -->
            </a>
          </article>
        </li>
      <% end %>
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->