<section class="landing-shelf-genius-email-share landing-shelf-share landing-shelf fb-genius">
	<div class="landing-shelf-lining clearfix">
		<div id="sharing-box">
			<div class="fb-like" data-href="<%= Settings::Application.url %>/video/<%=@video['provider_name'] %>/<%=@video['provider_id'] %>" data-send="true" data-layout="box_count" data-width="250" data-show-faces="true"></div>
		</div>
		<%= render :partial => "/home/shelf/video_embed", :locals => {:share_buttons => false } %>
		
		<div class="landing-shelf-share-content" style="padding-top:0px;">
			<h1>
				Your friend found this searching for "<%= URI.unescape(@roll['title'][8..-1]) %>"
			</h1>
			
			<hr />
			
			<div class="fb-comments" data-href="<%= Settings::Application.url %>/video/<%=@video['provider_name'] %>/<%=@video['provider_id'] %>" data-width="404" data-num-posts="2"></div>
				
		</div>
		
		<div id="landing-page-search-area">
			<button class="cta">
				<a href="/fb_genius">WHAT WILL YOU FIND?</a>
			</button>	
		</div>

	</div>
</section>
<script>
	$('.guide-presentation-selector').remove();
</script>