<div class="shelf shelf--invite clearfix">
  <div class="shelf__lining">
    <div class="shelf__head">
      <h3 class="shelf__h2--invite">
        Welcome
      </h3>

      <h4 class="shelf__h3">
        We saved you a seat
      </h4>
    </div><!-- eo shelf__head -->

    <div class="shelf__body">
      <form accept-charset="UTF-8" action="<%= Settings::ShelbyAPI.signup_form_url %>" method="post" class="form_module js-invite-form">
        <fieldset class="form_fieldset js-invite-name">
          <label class="form_label" for="signup-name">
            Full Name <span class="form_error js-invite-name-error"></span>
          </label>
          <input name="user[name]" id="signup-name" class="form_input" placeholder="First and Last Name" type="text" value="<%= cookies[:_shelby_signup_name] %>" autofocus />
        </fieldset>

        <fieldset class="form_fieldset js-invite-username">
          <label class="form_label" for="signup-username">
            Username
            <% if @nickname_error %>
              <span class="form_error js-invite-username-error" style="display: block;">Sorry, that username is already taken.</span>
            <% else %>
              <span class="form_error js-invite-username-error"></span>
            <% end %>
          </label>
          <input name="user[nickname]" id="signup-username" class="form_input" placeholder="Your Shelby username" type="text" value="<%= cookies[:_shelby_signup_username] %>" />
        </fieldset>

        <fieldset class="form_fieldset js-invite-password">
          <label class="form_label" for="signup-password">
            Password <span class="form_error js-invite-password-error"></span>
          </label>
          <input name="user[password]" id="signup-password" class="form_input" placeholder="•••••••••" type="password" />
        </fieldset>

        <fieldset class="form_fieldset js-invite-email">
          <label class="form_label" for="signup-email">
            Email address
            <% if @email_error %>
              <span class="form_error js-invite-email-error" style="display: block;">Sorry, that email is already taken.</span>
            <% else %>
              <span class="form_error js-invite-email-error"></span>
            <% end %>
          </label>
          <input name="user[primary_email]" id="signup-email" class="form_input" placeholder="email@address.com" type="email" value="<%= cookies[:_shelby_signup_email] %>" />
        </fieldset>

        <fieldset class="form_fieldset" hidden >
          <input name="invite_id" id="signup-invite-id" type="hidden" value="<%= @invite_id %>" />
        </fieldset>

        <fieldset class="form_fieldset">
          <input class="button_primer button_blue form_submit" type="submit" value="Sign me up!" />
        </fieldset>

        <hr class="landing-shelf__divider--white" />

        <h3 class="landing-shelf__divider-legend">
          You can also login with:
        </h3>

        <fieldset class="form_fieldset form_fieldset--social-login">
          <a href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>"
             class="button_primer button_twitter-blue button_primer--twitter js-track-event js-authorize"
             data-ga_action="Login with Twitter"
             data-popup_height="700"
             data-popup_width="600">
            <i class="icon-social_twitter"></i>
            Twitter
          </a>

          <a href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>"
             class="button_primer button_facebook-blue button_primer--facebook js-track-event js-authorize"
             data-ga_action="Login with Facebook"
             data-popup_height="650"
             data-popup_width="1000">
            <i class="icon-social_facebook"></i>
            Facebook
          </a>
        </fieldset>
      </form>
    </div><!-- eo shelf__body -->
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->

<script>
  $(document).ready(function(){
    $('.js-invite-form').on('submit', function(e){
      var hasErrors = false;
      var signupName = $('#signup-name');
      var signupUsername = $('#signup-username');
      var signupEmail = $('#signup-email');

      // validate user full name
      if(!signupName.val().length) {
        $('.js-invite-name').addClass('form_fieldset--error')
                            .find('.form_error').text('Please enter your name');
        hasErrors = true;
      } else {
        $('.js-invite-name').removeClass('form_fieldset--error');
      }

      // validate username
      if(!signupUsername.val().length) {
        $('.js-invite-username').addClass('form_fieldset--error')
                                .find('.form_error').text('Please enter a username');
        hasErrors = true;
      } else {
        $('.js-invite-username').removeClass('form_fieldset--error');
      }

      // validate password
      // var password
      if($('#signup-password').val().length < shelby.config.user.password.minLength) {
        $('.js-invite-password').addClass('form_fieldset--error')
                                .find('.form_error').text('Password must be at least ' + shelby.config.user.password.minLength + ' characters long');
        hasErrors = true;
      } else {
        $('.js-invite-password').removeClass('form_fieldset--error');
      }

      // validate email
      if(!signupEmail.val().length || signupEmail.val().search(shelby.config.user.email.validationRegex) == -1) {
        $('.js-invite-email').addClass('form_fieldset--error')
                             .find('.form_error').text('Please enter a valid email.');
        hasErrors = true;
      } else {
        $('.js-invite-email').removeClass('form_fieldset--error');
      }

      if (hasErrors) {
        e.preventDefault();
      } else {
        // save the user's input in a session cookie so we can re-render it if API redirects us back
        // here with errors the user needs to fix
        cookies.set('_shelby_signup_name', signupName.val());
        cookies.set('_shelby_signup_username', signupUsername.val());
        cookies.set('_shelby_signup_email', signupEmail.val());
      }
    }).find('.form_input').on('blur', function(){
      $this = $(this);

      if(!$this.val().length) {
        $this.removeClass('filled');
      } else {
        $this.addClass('filled');
      }
    });
  });
</script>