<section class="landing-shelf landing-shelf--invite">
  <div class="landing-shelf__lining">
    <h1 class="landing-shelf__h1">
      You've been invited to join the Shelby community!
    </h1>

    <hr class="landing-shelf__divider" />

    <form accept-charset="UTF-8" action="<%= Settings::ShelbyAPI.signup_form_url %>" method="post" class="form_module landing-shelf_form--invite js-invite-form">
      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-name">
          Name <span class="form_error js-invite-name-error">Please enter your name</span>
        </label>
        <input name="user[name]" id="signup-name" class="form_input" type="text" autofocus />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-username">
          Username <span class="form_error js-invite-username-error">Please enter a username</span>
        </label>
        <input name="user[nickname]" id="signup-username" class="form_input" type="text" />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-password">
          Password <span class="form_error js-invite-password-error">Please enter a password/span>
        </label>
        <input name="user[password]" id="signup-password" class="form_input" type="password" />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-email">
          Email address <span class="form_error js-invite-email-error">Please enter an email address</span>
        </label>
        <input name="user[primary_email]" id="signup-email" class="form_input" type="email" />
      </fieldset>

      <fieldset class="form_fieldset" hidden >
        <input name="invite_id" id="signup-invite-id" type="hidden" value="<%= @invite_id %>" />
      </fieldset>

      <fieldset class="form_fieldset">
        <input class="button_primer button_blue form_submit" type="submit" value="Sign me up!" />
      </fieldset>

      <hr class="landing-shelf__divider" />

      <h3 class="landing-shelf__divider-legend">
        You can also login with:
      </h3>

      <fieldset class="form_fieldset">
        <a class="button_primer button_twitter-blue faux_button landing-shelf__button--twitter auth-popup" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter?invite_id=#{@invite_id}" %>" location="<%= "#{Settings::ShelbyAPI.url}/auth/twitter?invite_id=#{@invite_id}" %>" popup-width="600" popup-height="700">
          <i class="button_icon_left icon_social_twitter icon">
            Twitter
          </i>
        </a>

        <a class="button_primer button_facebook-blue faux_button landing-shelf__button--facebook auth-popup" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook?invite_id=#{@invite_id}" %>" location="<%= "#{Settings::ShelbyAPI.url}/auth/facebook?invite_id=#{@invite_id}" %>" popup-width="1000" popup-height="650">
          <i class="button_icon_left icon_social_facebook icon">
            Facebook
          </i>
        </a>
      </fieldset>
    </form>
    <script>
      $(document).ready(function(){
        $('.js-invite-form').on('submit', function(e){
          var hasErrors = false;

          // validate user full name
          if(!$('#signup-name').val().length) {
            $('.js-invite-name-error').text('Please enter your name').show();
            hasErrors = true;
          } else {
            $('.js-invite-name-error').hide();
          }

          // validate username
          if(!$('#signup-username').val().length) {
            $('.js-invite-username-error').text('Please enter a username').show();
            hasErrors = true;
          } else {
            $('.js-invite-username-error').hide();
          }

          // validate password
          if($('#signup-password').val().length < shelby.config.user.password.minLength) {
            $('.js-invite-password-error').text('Please enter a password that\'s at least ' + shelby.config.user.password.minLength + ' characters long.').show();
            hasErrors = true;
          } else {
            $('.js-invite-password-error').hide();
          }

          // validate email
          var email = $('#signup-email').val();
          if(!email.length || email.search(shelby.config.user.email.validationRegex) == -1) {
            $('.js-invite-email-error').text('Please enter a valid email.').show();
            hasErrors = true;
          } else {
            $('.js-invite-email-error').hide();
          }

          if (hasErrors) {
            e.preventDefault();
          }
        });
      });
    </script>
  </div>
</section>