<section class="landing-shelf landing-shelf--invite">
  <div class="landing-shelf__lining">
    <h1 class="landing-shelf__h1">
      <%= 'Dan Spinosa' %>
      <span class="landing-shelf__h1--subline">
        invited you to join the Shelby community!
      </span>
    </h1>

    <hr class="landing-shelf__divider" />

    <form accept-charset="UTF-8" action="<%= Settings::ShelbyAPI.signup_form_url %>" method="post" class="form_module landing-shelf_form--invite">
      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-name">
          Name
        </label>
        <input name="user[name]" id="signup-name" class="form_input" type="text" autofocus />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-username">
          Username
        </label>
        <input name="user[nickname]" id="signup-username" class="form_input" type="text" />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-password">
          Password
        </label>

        <input name="user[password]" id="signup-password" class="form_input" type="password" />
      </fieldset>

      <fieldset class="form_fieldset">
        <label class="form_label" for="signup-email">
          Email address
        </label>

        <input name="user[primary_email]" id="signup-email" class="form_input" type="email" />
      </fieldset>

      <fieldset class="form_fieldset" hidden >
        <input name="beta_invite_id" id="signup-invite-id" type="hidden" value="<%= @invite_id %>" />
      </fieldset>

      <fieldset class="form_fieldset">
        <input class="button_primer button_blue form_submit" type="submit" value="Sign me up!" />
      </fieldset>

      <hr class="landing-shelf__divider" />

      <h3 class="landing-shelf__divider-legend">
        You can also login with:
      </h3>

      <fieldset class="form_fieldset">
        <a class="button_primer button_twitter-blue faux_button landing-shelf__button--twitter auth-popup" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter?invite_id=#{@invite_id}" %>" location="<%= "#{Settings::ShelbyAPI.url}/auth/twitter?invite_id=#{@invite_id}" %>" popup-width="600" popup-height="700">
          <i class="button_icon_left icon_social_twitter icon">
            Twitter
          </i>
        </a>

        <a class="button_primer button_facebook-blue faux_button landing-shelf__button--facebook auth-popup" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook?invite_id=#{@invite_id}" %>" location="<%= "#{Settings::ShelbyAPI.url}/auth/facebook?invite_id=#{@invite_id}" %>" popup-width="1000" popup-height="650">
          <i class="button_icon_left icon_social_facebook icon">
            Facebook
          </i>
        </a>
      </fieldset>
    </form>
  </div>
</section>