<div id="social" name="social" class="shelf__wrapper shelf__wrapper--social vertical-align-hack">
  <div class="vertical-align-hack__el">
    <div class="shelf shelf--social clearfix shelf--facebook-logged-out js-social">
      <div class="media_module media_module--bare clearfix">

        <div class="shelf__lining four-fifths">
          <h2 class="shelf__h1">
            <%= raw Settings::Marketing.social %>
          </h2>

          <p class="shelf__block">
            <%= raw Settings::Marketing.social_body %>
          </p>

          <p class="shelf__block">
            <% if [:android, :amazon].include? @mobile_os %>
              <a href="http://api.shelby.tv/auth/facebook" class="button_primer button_facebook-blue button_command button_command--sub button_command--facebook one-half js-track-event" data-ga_action="Click Sign Up with Facebook" data-ga_label="<%= request.referer || 'direct' %>">
                <span class="icon-facebook"></span>
                <span class="button_label">Sign Up with Facebook</span>
              </a>
              <h3 class="shelf__email-signup">
                or <a href="/signup?email=1" class="js-track-event" data-ga_action="Click Sign Up with Email Link" data-ga_label="<%= request.referer || 'direct' %>">signup</a>  with your email
              </h3>
            <% else %>
              <a href="<%= Settings::Application.ios_app_url %>" class="button_primer button_green button_command button_command--giant button_command--flexible shelf__button js-cta js-track-event" data-ga_action="Click open SMS" data-ga_label="Social shelf">
                <span class="button_label"><%= raw Settings::Marketing.cta_button %></span>
              </a>
            <% end %>
          </p>

          <% if mobile %>
            <%= image_tag "iphone-mobile.png", :class => "shelf__img--iphone_horizontal", :title => "iPhone screenshot of a video recommendation", :alt => "iPhone screenshot of a video recommendation" %>
          <% else %>
            <div class="iphone iphone--horizontal js-iphone-south">
              <%= image_tag "header-horiz.jpg", :class => "iphone__header" %>
              <div class="iphone__viewport">
                <div class="slide show--hover animate_module">
                  <%= image_tag "iphone-3.jpg", :class => "shelf__img--iphone js-horz-iphone", :title => "iPhone screenshot of a video recommendation", :alt => "iPhone screenshot of a video recommendation" %>
                  <%= image_tag "iphone-2c.jpg", :class => "shelf__img--iphone js-horz-iphone", :alt => "" %>
                </div>
              </div>
            </div><!-- eo iphone -->

            <h4 class="shelf__h2">Featured by</h4>

            <%= render :partial => "/home/shelf/press" %>
          <% end %>

        </div>
      </div>
    </div><!-- eo shelf -->
  </div><!-- eo positioning el -->
</div><!-- eo shelf__wrapper -->
