<div id="social" name="social" class="shelf__wrapper shelf__wrapper--social vertical-align-hack">
  <div class="vertical-align-hack__el">
    <div class="shelf shelf--social clearfix shelf--facebook-logged-out js-social">
      <div class="media_module media_module--bare clearfix">

        <div class="shelf__lining four-fifths">
          <h2 class="shelf__h1">
            <%= raw Settings::Marketing.social %>
          </h2>

          <p class="shelf__block">
            <%= raw Settings::Marketing.social_body %>
          </p>

          <p class="shelf__block">
            <a href="<%= Settings::Application.ios_app_url %>" class="button_primer button_green button_command button_command--giant button_command--flexible shelf__button js-cta js-track-event" data-ga_action="Click open SMS" data-ga_label="Social shelf">
              <span class="button_label"><%= raw Settings::Marketing.cta_button %></span>
            </a>
            </br>
            <small>
              or
              <a href="/signup?email=1" class="js-track-event" data-ga_action="Click Signup with Email" data-ga_label="Social Shelf">
                Sign up with Email
              </a>
            </small>
          </p>

          <% if mobile %>
            <%= image_tag "iphone-mobile.png", :class => "shelf__img--iphone_horizontal", :title => "iPhone screenshot of a video recommendation", :alt => "iPhone screenshot of a video recommendation" %>
          <% else %>
            <%= image_tag "iphone-mobile.png", :class => "shelf__img--iphone_horizontal", :title => "iPhone screenshot of a video recommendation", :alt => "iPhone screenshot of a video recommendation" %>
            <h4 class="shelf__h2">Featured by</h4>

            <%= render :partial => "/home/shelf/press" %>
          <% end %>

        </div>
      </div>
    </div><!-- eo shelf -->
  </div><!-- eo positioning el -->
</div><!-- eo shelf__wrapper -->
