<% format_content_for_layout __FILE__ %>

<div class="media_module media_module--bare clearfix">
  <div class="media_image shelf__lining three-fifths">
    <h2 class="shelf__h1">
      <%= raw Settings::Marketing.stream %>
    </h2>

    <p class="shelf__block four-fifths">
      <%= raw Settings::Marketing.stream_body %>
    </p>

    <% unless mobile %>
      <ul class="list list--inline shelf__list js-target">
        <li class="list__item">
          <%= image_tag "youtube.jpg", :title => "YouTube", :alt => "YouTube" %>
        </li>

        <li class="list__item">
          <%= image_tag "vimeo.jpg", :title => "Vimeo", :alt => "Vimeo" %>
        </li>

        <li class="list__item">
          <%= image_tag "facebook.jpg", :title => "Facebook", :alt => "Facebook" %>
        </li>

        <li class="list__item">
          <%= image_tag "twitter.jpg", :title => "Twitter", :alt => "Twitter" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="media_body shelf__img--stream js-stream" role="img">
    <%= image_tag "ipad-channels.png", :class => "shelf__img--ipad js-phantom-hover", :alt => "", :title => "" %>
  </div>
</div>
