<div class="shelf__wrapper shelf__wrapper--team clearfix">
  <div class="shelf shelf--team clearfix">
    <div class="shelf__lining">
      <%= image_tag("team-1.jpg", :class => "img img--fill img--banner push--bottom") %>

      <%= content_tag(:h3,"About", :class => "shelf__h2") %>

      <div class="text-columns text-columns--2">
        <% Settings::Team.about.each do |p| %>
          <%= content_tag(:p, p, :class => 'shelf__block') %>
        <% end %>
      </div>

      <%= content_tag(:h3,"Our Team", :class => "shelf__h2") %>

      <div class="text-columns">
        <% Settings::Team.our_team.each do |p| %>
          <%= content_tag(:p, p, :class => 'shelf__block') %>
        <% end %>
      </div>

      <ul class="list shelf__list push--bottom clearfix">
        <% Settings::Team.members.each do |member| %>
          <li class="list__item member push--bottom clearfix">
            <div class="media_module media_module--bare push--bottom clearfix">
              <div class="media_image">
                <%= image_tag(member['image'], :class => "member__img") %>
              </div>
              <div class="media_body">
                <%= content_tag(:h4,member["name"], :class => "member__h1") %>
                <%= content_tag(:h5,member["title"], :class => "member__h2") %>
                <%= content_tag(:p,member['description'], :class => "shelf__block member__block") %>
                <%= content_tag(:p,link_to("shelby.tv/"+member["url"],"//shelby.tv/"+member["url"], :class => "member__link hover_link"), :class => "shelf__block") %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <%= content_tag(:h3,"Work at Shelby", :class => "shelf__h2") %>

      <div class="text-columns text-columns--2">
        <% Settings::Team.work.each do |p| %>
          <%= content_tag(:p, p.html_safe, :class => 'shelf__block') %>
        <% end %>

        <ul class="list">
          <% Settings::Team.job_links.each do |link| %>
            <%= content_tag(:li,link_to(link['text'], link['href'], :class => "shelf__link"), :class => 'list__item') %>
          <% end %>
        </ul>
      </div>


      <div class="text-columns">
        <%= image_tag("team-2.jpg", :class => "img img--fill img--banner") %>
      </div>

      <div class="text-columns text-columns--2">
        <%= image_tag("team-3.jpg", :class => "img img--fill one-half") %>
        <%= image_tag("team-4.jpg", :class => "img img--fill one-half") %>
      </div>


      <%= content_tag(:h3,"Press", :class => "shelf__h2") %>

      <div class="float--left one-half push--bottom">
        <% Settings::Team.press.each do |p| %>
          <%= content_tag(:p, p.html_safe, :class => 'shelf__block') %>
        <% end %>
      </div>
    </div><!-- eo shelf__lining -->
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->