<div class="signup signup--profile signup--profile_no-avatar" role="main">
  <div class="signup__head">
    <% if @inviter %>
        <%= image_tag avatar_url_for_user(@inviter) %>
    <% end %>

    <h1 class="signup__h1">
      <% if @inviter %>
        <%= @inviter['name'] %> found the perfect stream of video on Shelby. Find Yours.
      <% else %>
        Get your perfect stream of video
      <% end %>
    </h1>
  </div>

  <div class="signup__body">
    <%= form_tag(request.env['PATH_INFO'], { :id => 'user_form', :class => 'form_module' }) do %>
      <fieldset class="form_fieldset">
        <legend class="form__legend">
          Watch your personalized video stream from anywhere<br/>
          and curate your own Shelby TV channel.
        </legend>

        <div class="media_module">
          <div class="media_body">
            <fieldset class="form_fieldset">
              <%= label_tag 'name', 'Full Name', :class => 'form_label' %>
              <span class="form_error js-form-error">Please enter your name</span>
              <%= text_field_tag 'name', nil, :placeholder => 'First and Last Name', :class => 'form_input' %>
            </fieldset>

            <%= field_set_tag(nil, {:class => (@nickname_error) ? "form_fieldset form_fieldset--error" : "form_fieldset"}) do %>
              <%= label_tag 'nickname', 'Username', :class => 'form_label' %>
              <% if @nickname_error && @nickname_error.include?('has already been taken') %>
                <span class="form_error js-form-error">Sorry, that username is already taken</span>
              <% else %>
                <span class="form_error js-form-error">Please enter a username</span>
              <% end %>
              <%= text_field_tag 'nickname', nil, :class => 'form_input' %>
            <% end %>

            <%= field_set_tag(nil, {:class => (@email_error) ? "form_fieldset form_fieldset--error" : "form_fieldset"}) do %>
              <%= label_tag 'primary_email', 'Email Address', :class => 'form_label' %>
              <% if @email_error && @email_error.include?('has already been taken') %>
                <span class="form_error js-form-error">Sorry, that email address is already taken</span>
              <% elsif @email_error && @email_error.include?('is invalid') %>
                <span class="form_error js-form-error">Please enter a valid email address</span>
              <% else %>
                <span class="form_error js-form-error">Please enter a valid email address</span>
              <% end %>
              <%= email_field_tag 'primary_email', nil, :placeholder => 'email@address.com', :class => 'form_input' %>
            <% end %>

            <fieldset class="form_fieldset">
              <%= label_tag 'password', 'Password', :class => 'form_label' %>
              <span class="form_error js-form-error">Password must be at least five characters</span>
              <%= password_field_tag 'password', nil, :placeholder => '*****', :class => 'form_input' %>
              <span class="form__description">We never spam.</span>
            </fieldset>

            <fieldset class="form_fieldset">
              <%= submit_tag("Join Shelby", :class => 'button_primer button_command button_command--flexible button_green js-track-event','data-ga_category' => 'Onboarding', 'data-ga_action' => 'Click Signup on Step 1' ) %>
            </fieldset>
          </div><!-- eo media_body -->
        </div><!-- eo media_module -->
      </fieldset>

    <% end %>

  </div>
</div>





