<%= render :partial => '/home/landing_header', :locals => {:show_login => false, :user_signed_in => @user_signed_in} %>
<%= render :partial => '/home/shelf/errors' if @social_signup_error %>

<div class="shelf__wrapper shelf__wrapper--signup clearfix<%= ' shelf__wrapper--inviter' if @inviter %>" role="main">
  <div class="shelf shelf--signup clearfix">
    <div class="shelf__lining clearfix">
      <div class="shelf__head">

        <h1 class="shelf__h1">
          <% if @inviter %>
            <span class="image_module avatar avatar--small" style="background-image: url(<%= avatar_url_for_user(@inviter) %>);">
              <%= image_tag avatar_url_for_user(@inviter),
                    :class => 'visuallyhidden',
                    :name => @inviter['name'],
                    :alt => @inviter['name']
              %>
            </span>
          <% end %>

          <% if @inviter %>
            <%= @inviter['name'].titleize || @inviter['nickname'].capitalize %> found the perfect stream of video on Shelby. Find Yours.
          <% else %>
            <%= Settings::Marketing.discover_love %>
          <% end %>
        </h1>

        <a href="http://api.shelby.tv/auth/facebook" class="button_primer button_facebook-blue button_command button_command--large button_command--facebook one-half shelf__button js-authorize js-authorize--facebook js-track-event" data-popup_width="1000" data-popup_height="650" data-ga_category="Onboarding" data-ga_action="Click Sign Up with Facebook <%= 'via invite' if @inviter %>" style="margin-top: 30px;">
          <span class="icon icon-facebook"></span>
          <span class="button_label">Sign Up with Facebook</span>
        </a>

        <div class="facepile">
          <div class="fb-facepile" style="margin-top: 25px;" data-action="use,like" data-width="300" data-max-rows="2" data-size="medium"></div>
        </div>

        <br/>

        <p<%= raw " class=\"hidden\"" if @referer == 'email' %>>
          or <a href="#" class="js-email-signup js-track-event" data-ga_category="Onboarding" data-ga_action="Click Show Sign Up with Email <%= 'via invite' if @inviter %>">sign up with email address</a>.
        </p>
      </div><!-- shelf__head -->

      <div class="shelf__body">
        <%= form_tag(request.env['PATH_INFO'], { :id => 'user_form', :class => form_class(@referer) }) do %>
            <div class="media_module">
              <div class="media_image media_image--rev three-fifths">
                <% if !@is_mobile %>
                  <ul class="list list--benefits">
                    <li class="benefit benefit--smart icon-like">
                      <h2 class="benefit__h1">Personal recommendations</h2>
                      <p class="benefit__block">Our recommendations get better as <br/>you and your friends Like, Share, and <br/>watch video on Shelby.</p>
                    </li>

                    <li class="benefit benefit--share icon-facebook">
                      <h2 class="benefit__h1">People that matter</h2>
                      <p class="benefit__block">Connect Facebook or Twitter <br/>and see how much great content <br/>your friends are sharing daily.</p>
                    </li>

                    <li class="benefit benefit--save icon-roll">
                      <h2 class="benefit__h1">Pay it forward</h2>
                      <p class="benefit__block">When you find something awesome, <br/>share it with your friends!</p>
                    </li>
                  </ul>
                <% end %>
              </div><!-- eo media_image -->

              <div class="media_body">
                <fieldset class="form_fieldset">
                  <%= label_tag 'name', 'Full Name', :class => 'form_label' %>
                  <span class="form_error js-form-error">Please enter your name</span>
                  <%= text_field_tag 'name', nil, :placeholder => 'First and Last Name', :class => 'form_input' %>
                </fieldset>

                <%= field_set_tag(nil, {:class => (@nickname_error) ? "form_fieldset form_fieldset--error" : "form_fieldset"}) do %>
                  <%= label_tag 'nickname', 'Username', :class => 'form_label' %>
                  <% if @nickname_error && @nickname_error.include?('has already been taken') %>
                    <span class="form_error js-form-error">Sorry, that username is already taken</span>
                  <% else %>
                    <span class="form_error js-form-error">Please enter a username</span>
                  <% end %>
                  <%= text_field_tag 'nickname', nil, :class => 'form_input' %>
                <% end %>

                <%= field_set_tag(nil, {:class => (@email_error) ? "form_fieldset form_fieldset--error" : "form_fieldset"}) do %>
                  <%= label_tag 'primary_email', 'Email Address', :class => 'form_label' %>
                  <% if @email_error && @email_error.include?('has already been taken') %>
                    <span class="form_error js-form-error">Sorry, that email address is already taken</span>
                  <% elsif @email_error && @email_error.include?('is invalid') %>
                    <span class="form_error js-form-error">Please enter a valid email address</span>
                  <% else %>
                    <span class="form_error js-form-error">Please enter a valid email address</span>
                  <% end %>
                  <%= email_field_tag 'primary_email', nil, :placeholder => 'email@address.com', :class => 'form_input' %>
                <% end %>

                <fieldset class="form_fieldset">
                  <%= label_tag 'password', 'Password', :class => 'form_label' %>
                  <span class="form_error js-form-error">Password must be at least five characters</span>
                  <%= password_field_tag 'password', nil, :placeholder => '*****', :class => 'form_input' %>
                  <span class="form__description">We never spam.</span>
                </fieldset>

                <fieldset class="form_fieldset">
                  <%= submit_tag("Join Shelby", :class => 'button_primer button_command button_green one-whole js-submit-signup js-track-event','data-ga_category' => 'Onboarding', 'data-ga_action' => 'Click Signup on Step 1' ) %>
                </fieldset>
              </div><!-- eo media_body -->
            </div><!-- eo media_module -->
        <% end %>
      </div><!-- eo shelf__lining -->
    </div><!-- shelf -->
  </div>
</div>

<%= javascript_tag do %>
$(document).ready(function(){

    <% if @inviter %>
      shelby.trackEx({
        providers : ['ga', 'kmq'],
        gaCategory : "Onboarding",
        gaAction : 'Started via Invite',
        kmqName : 'Started Onboarding via Invite'
      });

      $('.js-submit-signup').on('click', function(){
        shelby.trackEx({
          providers : ['ga', 'kmq'],
          gaCategory : "Onboarding",
          gaAction : 'Clicked sign up via an invite',
          gaLabel : 'via <%= @inviter['nickname'] %>',
          kmqName : 'Clicked sign up via invite',
          kmqProperties : {
            inviter: '<%= @inviter['nickname'] %>'
          }
        });
      });
    <% end %>

    shelby.trackEx({
      providers : ['ga', 'kmq'],
      gaCategory : "Onboarding",
      gaAction : 'Started',
      kmqName : 'Started Onboarding'
    });
});
<% end %>



