<div class="signup signup--content" role="main">
  <div class="signup__head">
    <h2 class="signup__h3">
      Step 1 of 3
    </h2>

    <h1 class="signup__h1">
      Tune your Shelby TV
    </h1>
  </div>

  <div class="signup__body">
    <div class="media_module">
      <div class="media_image slideshow_menu">
        <h3 class="slideshow_menu__h1">
          Tune Your Shelby
        </h3>

        <ul class="list list--stacked">
          <% Settings::Signup.roll_categories.each_with_index do |category,cat_index| %>
            <li class="list__item">
              <label for="follow:<%= category['title'].downcase %>" class="follow_all">
                <input type="checkbox" id="follow:<%= category['title'].downcase %>" name="follow:<%= category['title'].downcase %>" class="form_checkbox form_checkbox--inline js-follow-all" />
                Follow all
              </label>

              <a href="#<%= cat_index %>" class="button_primer button_command button_command--flexible button_command--text">
                <%= category['title'].capitalize %>
              </a>
            </li>
          <% end %>
        </ul>
      </div><!-- eo media_image -->
      <div class="media_body">

        <%= form_tag(request.env['PATH_INFO']) do %>
          <fieldset class="slideshow_wrapper">
            <div class="slideshow js-slideshow">
              <% Settings::Signup.roll_categories.each_with_index do |category,cat_index| %>
                <div class="slideshow__slide all-<%= category['title'].downcase %>" data-index="<%= cat_index %>" data-category="<%= category['title'].downcase %>">
                  <ul class="list list--rolls">
                    <% category['rolls'].each_with_index do |roll,roll_index| %>
                      <li class="list__item one-half">
                        <div class="media_module roll_card clearfix" data-roll_id="<%= roll["personal_roll_id"] %>">

                          <div class="image_module media_image roll_card__avatar" style="background-image: url('<%= roll["avatar"] %>');" role="img">
                            <img src="<%= roll["avatar"] %>" class="visuallyhidden" title="<%= roll["nickname"] %>'s avatar" />
                          </div><!-- eo media_image -->

                          <div class="media_body">
                            <h3 class="roll_card__h1">
                              <%= roll["nickname"] %>
                            </h3>

                            <p class="roll_card__block">
                              <%= roll["description"] %>
                            </p>
                          </div><!-- media_body -->

                          <div class="clearfix">
                            <button class="button_primer button_command button_gray roll_card__button js-followOrUnfollow js-track-event" data-roll_id="<%= roll["personal_roll_id"] %>" data-ga_category="Onboarding" data-ga_action="Click Follow on Step 1" data-ga_label="<%= roll['nickname'] %>">
                              <%= check_box_tag "rolls[#{roll['personal_roll_id']}]", nil, false, :class => "form_checkbox form_checkbox--inline" %>
                              <span class="button_label">Follow</span>
                            </button>
                          </div><!-- eo media_image--rev -->
                        </div><!-- eo roll_card -->
                      </li>
                    <% end %>
                  </ul><!-- eo list -->
                </div><!-- eo slide -->
              <% end %>

            </div><!-- eo slideshow -->
          </fieldset>

          <%= submit_tag("Next", :class => "hidden button_primer button_command button_command--wide button_green js-advance-slideshow js-track-event", 'data-ga_category' => 'Onboarding', 'data-ga_action' => 'Click Next on Step 1') %>
          <!-- event tracking for button below is handled in slideshow.js -->
          <button class="button_primer button_command button_command--wide button_gray js-next">More</button>
        <% end %>

      </div><!-- eo media_body -->
    </div><!-- eo media_module -->
  </div>
</div>