<div class="signup signup--profile" role="main">
  <div class="signup__head">
    <h2 class="signup__h2">
      Step 3 of 3
    </h2>

    <h1 class="signup__h1">
      Make Shelby TV yours
    </h1>
  </div>

  <div class="signup__body">
    <%= form_tag({},{ :class => 'form_module' }) do %>
      <fieldset class="form_fieldset">
        <legend class="form__legend">
          Fill in details below and you'll be able to watch <br />
          your stream anywhere, any time.
        </legend>

        <div class="media_module">
          <div class="media_image avatar__wrapper">
            <div class="avatar avatar--largest">
            </div>
            <input type="file" />
          </div><!-- eo media_image -->

          <div class="media_body">
            <fieldset class="form_fieldset">
              <%= label_tag 'name', 'Full Name', :class => 'form_label' %>
              <span class="form_error">Please enter a name</span>
              <%= text_field_tag 'name', @user ? @user['name'] : nil, :placeholder => 'First and Last Name', :class => 'form_input' %>
            </fieldset>

            <fieldset class="form_fieldset">
              <%= label_tag 'nickname', 'Username', :class => 'form_label' %>
              <span class="form_error">Please enter a username</span>
              <%= text_field_tag 'nickname', @user ? @user['nickname'] : nil, :class => 'form_input' %>
            </fieldset>

            <%= field_set_tag(nil, {:class => (@errors && @errors['user'] && @errors['user']['primary_email']) ? "form_fieldset form_fieldset--error" : "form_fieldset"}) do %>
              <%= label_tag 'primary_email', 'Email Address', :class => 'form_label' %>
              <% if @errors && @errors['user'] && @errors['user']['primary_email'] == 'already taken' %>
                  <span class="form_error">Sorry, that email address is already in use</span>
              <% else %>
                  <span class="form_error">Please enter a valid email address</span>
              <% end %>
              <%= email_field_tag 'primary_email', @user ? @user['primary_email'] : nil, :placeholder => 'email@address.com', :class => 'form_input' %>
            <% end %>

            <fieldset class="form_fieldset">
              <%= label_tag 'password', 'Password', :class => 'form_label' %>
              <span class="form_error">Please enter a password</span>
              <%= password_field_tag 'password', nil, :placeholder => '*******', :class => 'form_input' %>
              <span class="form__description">We occasionally email about videos you'll love. Never spam.</span>
            </fieldset>

            <fieldset class="form_fieldset">
              <%= submit_tag("Start Watching", :class => 'button_primer button_command button_command--flexible button_green') %>
            </fieldset>
          </div><!-- eo media_body -->
        </div><!-- eo media_module -->
      </fieldset>

    <% end %>

  </div>
</div>





