<h1 class="dynamic_video_info__h1">Like what you're watching?</h1>
<button class="button_primer button_gray button_command button_command--like js-like-frame <%= currentVideoIsInQueue ? ' queued' : '' %> js-track-event"
      data-ga_category="<%= eventTrackingCategory %>"
      data-ga_action="Click like on current frame"
      data-ga_label="<%= shelby.models.user.get('nickname') %>">
  <i class="icon icon-like <%= currentVideoIsInQueue ? 'icon-like--red ': ''%>js-command-icon"></i>
  <span class="label">
    <%= (currentVideoIsInQueue) ? 'Liked' : 'Like' %>
  </span>
</button>
<% if (user.isAnonymous()) { %>
  <h2 class="dynamic_video_info__h2">
    Shelby learns a little with every like...
<% } else { %>
  <h2 class="dynamic_video_info__h3">
    <b>Protip:</b> View all your liked videos in the <a onclick="return false;" href="#" class="js-likes-section">Likes</a> section!
  <% } %>
</h2>
