<h1 class="dynamic_video_info__h1"><%= type == "share" ? "Enjoying this video?" : "You like it!" %></h1>
<button class="button_primer button_default button_command button_command--share js-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Click share menu on current frame" data-ga_label="<%= shelby.models.user.get('nickname') %>">
    <i class="icon icon-share">
    </i>
      Share…
</button>

<h2 class="dynamic_video_info__h2">Share it with a friend!</h2>

<div class="share_menu frame-body-wrapper js-share-menu-block hidden">
  <h3 class="dynamic_video_info__h2">Share</h3>
  <ul class="list">
    <li class="list__item">
      <% if (user.isAnonymous()) { %>
        <a href="mailto:?subject=Check%20out%20this%20video...&body=<%= encodeURIComponent(anonUserShareEmailBody) %>">
      <% } %>
        <button class="button_primer button_default button_share button_share--email js-hide-share-menu js-track-event<%= !user.isAnonymous() ? ' js-button_share--email' : ''%>" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame via email" data-ga_label="<%= shelby.models.user.get('nickname') %>">
          <i class="icon icon-email">
          </i>
            Email
        </button>
      <% if (user.isAnonymous()) { %>
        </a>
      <% } %>
    </li>
    <li class="list__item">
      <a href="https://twitter.com/intent/tweet?<%= tweetIntentQueryString %>">
        <button class="button_primer button_default button_share button_share--twitter js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Twitter" data-ga_label="<%= shelby.models.user.get('nickname') %>">
          <i class="icon icon-social_twitter">
          </i>
            Twitter
        </button>
      </a>
    </li>
    <li class="list__item">
      <button class="button_primer button_default button_share button_share--facebook js-button_share--facebook js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Facebook" data-ga_label="<%= shelby.models.user.get('nickname') %>">
        <i class="icon icon-social_facebook">
        </i>
          Facebook
      </button>
    </li>
    <li class="list__item nudge">
      <span class="share_menu__faux-button clearfix js-button_share--shortlink">
        <i class="icon icon-shortlink"></i>
        <input type="text" value="Fetching..." class="form_input js-frame-shortlink" />
      </span>
    </li>
  </ul>
</div>
