<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#" profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">

  <title><%= render :partial => "/home/title_tag" %></title>

  <%= render :partial => "/home/meta_info" %>
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag "landing", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "common", "landing" %>

  <script>
    var shelbyTrackingCategory = "Landing Page";
  </script>
</head>
<body class="shelby shelby--landing<%= ' shelby--mobile' if @mobile_os %>">
  <div class="shelby__wrapper">

    <% #------------ Subscribe --------------- %>

    <div class="shelf shelf--signup">
      <div class="shelf__lining">
        <h2 class="shelf__h1">
          <%= @roll_title %>, via email.
        </h2>

        <p class="shelf__block">
          Receive updates when <%= @curator_name %> has new video...
        </p>

        <form id="js-subscribe-form" class="form_module shelf__form shelf__form-tall js-track-submit" data-ga_action="Subscribe via email" data-ga_label="roll_id:<%= @roll_id %>">
          <fieldset id="js-email-form-submit" class="search_module">

            <div class="search_module__input_wrapper">
              <input type="radio" name="frequency" value="every_video"> Every Video
              <span style="width: 2em; display: inline-block;"></span>
              <input type="radio" name="frequency" value="weekly"> Weekly Summary
            </div>

            <input type="submit" class="button_primer button_default search_module__submit" value="Subscribe" />
            <span class="search_module__input_wrapper">
              <input name="email" id="js-email-input" class="form_input search_module__input" type="email" placeholder="email@address.com" tabindex="0" autofocus/>
            </span>
          </fieldset><!-- eo search_module -->

          <fieldset id="js-email-form-feedback" class="hidden">
            <h6 class="shelf__h2">
              Thanks, we'll keep you posted!
            </h6>
          </fieldset>
        </form>
        
        <p class="shelf__block">
          Worry free guarantee:<br/>
          No spam.  Simple unsubscribe.
        </p>
        
      </div><!-- eo shelf__lining -->
    </div><!-- eo shelf -->

    <% #------------ /Subscribe --------------- %>

  </div><!-- /shelby-wrapper -->

  <script>
    var _kmq = _kmq || [];
		<% if Rails.env == 'production' %>
      var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

      var action = "Visit subscribe via email page";
      var shortLink = $.getUrlParam('awesm');
      if (typeof shortLink != 'undefined') {  action += ' via Short Link'; }
      else { shortLink = null; }
      _kmq.push(['record', action, {shortLink: shortLink}]);
    <% end %>

    $(document).ready(function(){

      // Subscribe via email submit
      $('#js-subscribe-form').on('submit', function(){
        var data = {
          priority_code: "subscribe_to_roll:"+$(this).find('input[name=frequency]:checked').val()+":<%= @roll_id %>",
          email: $(this).find("input[name=email]").val()
          }
        
        $.get('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>/POST/gt_interest', data, function(data) {
          $('#js-email-form-submit').addClass('hidden');
          $('#js-email-form-feedback').removeClass('hidden');
          _kmq.push(['record', "Submit email on subscribe via email page", {}]);
          setTimeout(function(){ window.close(); }, 5000);
        }, 'jsonp');
        return false;
      });

    });
  </script>
</body>
</html>
