<section class="clearfix" id="avatar" name="avatar">
  <h3 class="beta">
    Avatar
  </h3>

  <div class="two-fifths push--bottom">
    <p>Unless a user uploads an avatar from the Preferences section, we have no way of predicting the size and shape of an avatar.</p>
    <p>The technique used here is the same method we use for formatting thumbnails in the video card.</p>
  </div>

  <div class="column one-third">
    <ul class="list">
      <li>
        <span class="image_module avatar avatar--largest" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
          <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
        </span>
      </li>
      <li>
        <span class="image_module avatar avatar--medium" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
          <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
        </span>
      </li>
      <li>
        <span class="image_module avatar avatar--small" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
          <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
        </span>
      </li>
      <li>
        <span class="image_module avatar avatar--tiny" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
          <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
        </span>
      </li>
      <li>
        <span class="image_module avatar avatar--medium avatar--inline" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
          <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
        </span> &larr; Hello World, I am inline!
      </li>
    </ul>
  </div>
  <div class="column column--padding two-thirds">
<code class="language-markup">
    <pre>&lt;!-- largest size: 140px sq. -->
    &lt;span class="image_module avatar avatar--largest" style="background-image: url(&lt;%= asset_path 'avatar.jpg' %>);" role="img">
      &lt;img src="&lt;%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
    &lt;/span>

    &lt;!-- medium size: 4em sq. -->
    &lt;span class="image_module avatar avatar--medium" style="background-image: url(&lt;%= asset_path 'avatar.jpg' %>);" role="img">
      &lt;img src="&lt;%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
    &lt;/span>

    &lt;!-- small size: 3em sq. -->
    &lt;span class="image_module avatar avatar--small" style="background-image: url(&lt;%= asset_path 'avatar.jpg' %>);" role="img">
      &lt;img src="&lt;%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
    &lt;/span>

    &lt;!-- tiny size: 2em sq. -->
    &lt;span class="image_module avatar avatar--tiny" style="background-image: url(&lt;%= asset_path 'avatar.jpg' %>);" role="img">
      &lt;img src="&lt;%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
    &lt;/span>

    &lt;!-- for cases where the avatar needs to be set inline with type, etc. -->
    &lt;span class="image_module avatar avatar--medium avatar--inline" style="background-image: url(&lt;%= asset_path 'avatar.jpg' %>);" role="img">
      &lt;img src="&lt;%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
    &lt;/span>
</pre>
</code>
  </div>
</section>
