<section class="section<%= " js-annotations" if has_annotations %> clearfix" id="<%= title.parameterize %>" name="<%= title.parameterize %>">
  <h3 class="beta">
    <%= title %>
  </h3>

  <%= yield %>
</section>

