<div class="column one-third">
  <div class="push--bottom" style="background-color: #f1f1f1;">
    <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
      <span class="frame-header">
        <h1 class="frame-title" title="Video Title">
          Video Title <span class="css-tag" data-note="A"></span>
        </h1>
      </span>

      <div class="frame-body-wrapper clearfix">
        <div class="frame-body">
          <span class="css-tag" data-note="B"></span>
          <!-- … -->
          <a href="#432" style="background-image: url(thumb.jpg);" onclick="return false;" class="video__wrapper image_module">
            <img class="visuallyhidden" src="thumb.jpg" title="Video Title" alt="Video Title thumbnail">
          </a>
          <!-- … -->
        </div><!-- eo .frame-body -->

        <span class="css-tag" data-note="C"></span>
        <footer class="media_module frame-footer clearfix">
          <a href="#/username">
            <span class="image_module media_image avatar" style="background-image: url(avatar.jpg);" role="img">
              <img src="avatar.jpg" class="visuallyhidden">
            </span>
          </a>

          <div class="media_body">
            <a href="#/username/shares/123" class="xuser-data-timestamp">
              <span class="css-tag" data-note="D" style="margin-right:18px;"></span>
              1 min ago
            </a>

            <p class="xuser-data">
              <a href="#/username" class="no-faux-link">
                <strong>username</strong>
              </a>
              <!-- … -->
            </p>

            <p class="xuser-message line-clamp js-line-clamp">
               A landing-party beams down and a few remaining survivors are found, including a young woman, Vina, who was born shortly before the Columbia's crash, and whose parents had died in connection with the crash. Unknown to Pike and the others, they are being monitored by the planet's native inhabitants, the Talosians, who can create very realistic illusions and wish to study the humans that have come to their planet.
            </p>
            <span class="css-tag" data-note="E" style="float:right;margin-top: -10px;margin-left: -10px;"></span>
          </div><!-- eo .media_body -->
        </footer><!-- eo .media_module-->
      </div><!-- eo .frame-body-wrapper -->
      <!-- … -->
    </article>
    <span style="float:right;margin-right:30px;font-size:10px;line-height: 2;"><small>Expand/Collapse by clicking 'More…' &uarr;</small></span>
  </div>
  <small class="annotation">
    <ol type="A" class="js-videocard-annotations">
      <li>Video titles are extremely valuable bits of information and cannot be truncated. For instance, it is common for multi-part videos to have their signifiers (ie. A long title like 'Star Trek TOS, "For the World Is Hollow and I Have Touched the Sky", S3Ep8, <em>part 2 of 4</em>') at the end of the title. To truncate this information would negatively impact the experience. </li>
      <li>Youtube videos that video thumbnails formatted into a 4:3 rectangle often have distracting letterboxing on the top and bottom. Constraining all thumbnails to the 19:6 ratio and trimming off the bottom ensures that the entire thumbnail is used.</li>
      <li>The relationship between a user's avatar, name, and what they said are considered an atomic unit of information. Disrupting this lock-up makes it harder to understand the user and their relationship to the associated video content.</li>
      <li>The relative time stamp is easier to process, additionally, it is a permalink. Every videocard has a unique URL for sharing.</li>
      <li>To ensure a consistent vertical rhythm, abnormally long comments are tucked in. Obfuscating a user's comment would hurt the experience of understanding the video card in it's entirety. We make it as easy as possible to get to the remainding text.</li>

    </ol>
  </small>
</div>
<div class="column column--padding two-thirds">
<code class="language-markup">
    <pre>&lt;article id="123" class="animate_module frame" style="font-size: 13px;">
      &lt;span class="frame-header">
        &lt;h1 class="frame-title" title="Video Title">
          Video Title
        &lt;/h1>
      &lt;/span>

      &lt;div class="frame-body-wrapper clearfix">
        &lt;div class="frame-body">
          …
          &lt;a href="#432" style="background-image: url(thumb.jpg);" class="video__wrapper image_module">
            &lt;img class="visuallyhidden" src="thumb.jpg" title="Video Title" alt="Video Title thumbnail">
          &lt;/a>
          …
        &lt;/div>&lt;!-- eo .frame-body -->

        &lt;footer class="media_module frame-footer clearfix">
          &lt;a href="/username">
            &lt;span class="image_module media_image avatar" style="background-image: url(avatar.jpg);" role="img">
              &lt;img src="avatar.jpg" class="visuallyhidden">
            &lt;/span>
          &lt;/a>

          &lt;div class="media_body">
            &lt;a href="/username/shares/123" class="xuser-data-timestamp">
              1 min ago
            &lt;/a>

            &lt;p class="xuser-data">
              &lt;a href="/username" class="no-faux-link">
                &lt;strong>username&lt;/strong>
              &lt;/a>
              …
            &lt;/p>

            &lt;p class="xuser-message line-clamp">
              A landing-party beams down and a few remaining survivors are found, including a young woman, Vina, who was born shortly before the Columbia's crash, and whose parents had died in connection with the crash. Unknown to Pike and the others, they are being monitored by the planet's native inhabitants, the Talosians, who can create very realistic illusions and wish to study the humans that have come to their planet.
            &lt;/p>
          &lt;/div>&lt;!-- eo .media_body -->
        &lt;/footer>&lt;!-- eo .media_module-->
      &lt;/div>&lt;!-- eo .frame-body-wrapper -->
      …
    &lt;/article>
</pre>
</code>
</div>

<div class="clearfix"></div>

<h3 class="beta clearfix">
  Videocard Use Cases
</h3>

<div class="one-third">
  <p>
    There are a number of use cases below, where a Videocard needs to indicate why exactly a particular card is in the user's stream.
  </p>
</div>

<div class="clearfix"></div>

<h4 class="shelf__h3 clearfix">
  Videocard liked by User
</h4>

<small>
  <p class="annotation">

  </p>
</small>

<div class="column one-third">
  <div class="push--bottom" style="background-color: #f1f1f1;">
    <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
      <div class="frame-body-wrapper clearfix">
        <footer class="media_module frame-footer clearfix">
          <a href="#/username">
            <span class="image_module media_image avatar avatar--liker icon-like" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
              <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
            </span>
          </a>

          <div class="media_body">
            <a href="#/username/shares/123" class="xuser-data-timestamp">
              1 min ago
            </a>

            <p class="xuser-data">
              <a href="#/username" class="no-faux-link">
                <strong>username</strong>
              </a>
              like this via <a class="no-faux-link" href="#">otheruser</a>
              <!-- … -->
            </p>
          </div><!-- eo .media_body -->
        </footer><!-- eo .media_module-->
      </div><!-- eo .frame-body-wrapper -->
      <!-- … -->
    </article>
  </div><!-- eo push -->
</div><!-- eo column -->
<div class="column column--padding two-thirds">
<code class="language-markup">
  <pre>&lt;footer class="media_module frame-footer clearfix">
    &lt;a href="/username">
      &lt;span class="image_module media_image avatar" style="background-image: url(avatar.jpg);" role="img">
        &lt;img src="avatar.jpg" class="visuallyhidden">
      &lt;/span>
    &lt;/a>
  </pre>
</code>
</div>

<div class="clearfix">
  <h4 class="shelf__h3 clearfix">
    Users from external social networks
  </h4>

  <div class="column one-third">
    <div class="push--bottom" style="background-color: #f1f1f1;">
      <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
        <div class="frame-body-wrapper clearfix">
          <footer class="media_module frame-footer clearfix">
            <a href="#/username">
              <span class="image_module media_image avatar avatar--twitter icon-twitter" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
                <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
              </span>
            </a>

            <div class="media_body">
              <a href="#/username/shares/123" class="xuser-data-timestamp">
                1 min ago
              </a>

              <p class="xuser-data">
                <a href="#/username" class="no-faux-link">
                  <strong>username</strong>
                </a>
                via <span class="capitalize">twitter</span>
                <!-- … -->
              </p>

              <p class="xuser-message">
                This is highly illogical.
              </p>
            </div><!-- eo .media_body -->
          </footer><!-- eo .media_module-->
        </div><!-- eo .frame-body-wrapper -->
        <!-- … -->
      </article>

      <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
        <div class="frame-body-wrapper clearfix">
          <footer class="media_module frame-footer clearfix">
            <a href="#/username">
              <span class="image_module media_image avatar avatar--facebook icon-facebook" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
                <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
              </span>
            </a>

            <div class="media_body">
              <a href="#/username/shares/123" class="xuser-data-timestamp">
                1 min ago
              </a>

              <p class="xuser-data">
                <a href="#/username" class="no-faux-link">
                  <strong>username</strong>
                </a>
                via <span class="capitalize">facebook</span>
                <!-- … -->
              </p>

              <p class="xuser-message">
                This is also highly illogical.
              </p>
            </div><!-- eo .media_body -->
          </footer><!-- eo .media_module-->
        </div><!-- eo .frame-body-wrapper -->
        <!-- … -->
      </article>
    </div>
  </div>

  <div class="column column--padding two-thirds">
<code class="language-markup">
  <pre>&lt;!-- Twitter -->
  &lt;footer class="media_module frame-footer clearfix">
  &lt;a href="/username">
    &lt;span class="image_module media_image avatar avatar--twitter icon-twitter" style="background-image: url(avatar.jpg);" role="img">
      &lt;img src="avatar.jpg" class="visuallyhidden">
    &lt;/span>
  &lt;/a>
  …


  &lt;!-- Facebook -->
  &lt;footer class="media_module frame-footer clearfix">
  &lt;a href="/username">
    &lt;span class="image_module media_image avatar avatar--facebook icon-facebook" style="background-image: url(avatar.jpg);" role="img">
      &lt;img src="avatar.jpg" class="visuallyhidden">
    &lt;/span>
  &lt;/a>
  …
  </pre>
</code>
  </div>
</div>

<div class="clearfix">
  <h4 class="shelf__h3 clearfix">
    Featured User
  </h4>
  <div class="column one-third">
    <div class="push--bottom" style="background-color: #f1f1f1;">
      <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
        <div class="frame-body-wrapper clearfix">
          <footer class="media_module frame-footer clearfix">
            <!-- <a href="#/username"> -->
              <span class="image_module media_image avatar avatar--featured icon-star" style="background-image: url(<%= asset_path 'avatar.jpg' %>);" role="img">
                <img src="<%= asset_path 'avatar.jpg' %>" class="visuallyhidden">
              </span>
            <!-- </a> -->

            <div class="media_body">
              <a href="#/username/shares/123" class="xuser-data-timestamp">
                1 min ago
              </a>

              <p class="xuser-data xuser-data--green xuser-data--recommendation">
                <!-- <a href="#/username" class="no-faux-link"> -->
                  <strong>Featured: username</strong>
                <!-- </a> -->
                <!-- … -->
              </p>

              <p class="xuser-message">
                Damnit Jim, I'm a doctor!
              </p>
            </div><!-- eo .media_body -->
          </footer><!-- eo .media_module-->
        </div><!-- eo .frame-body-wrapper -->
        <!-- … -->
      </article>
    </div>
  </div>
  <div class="column column--padding two-thirds">
<code class="language-markup">
  <pre>&lt;footer class="media_module frame-footer clearfix">
    &lt;a href="/username">
      &lt;span class="image_module media_image avatar avatar--featured icon-star" style="background-image: url(avatar.jpg);" role="img">
        &lt;img src="avatar.jpg" class="visuallyhidden">
      &lt;/span>
    &lt;/a>
    …
  </pre>
</code>
  </div>
</div>

<h4 class="shelf__h3 clearfix">
  Recommendations
</h4>

<div class="column one-third">
  <div style="background-color: #f1f1f1;">
    <article id="123" class="animate_module frame" style="font-size: 11px; line-height: 1.5">
      <div class="frame-body-wrapper clearfix">
        <footer class="media_module frame-footer clearfix">
          <!-- <a href="#/username"> -->
            <span class="image_module media_image avatar" style="background-image: url(<%= asset_path '/images/recommendations/share-2.jpg' %>);" role="img">
              <img src="<%= asset_path '/images/recommendations/share-2.jpg' %>" class="visuallyhidden">
            </span>
          <!-- </a> -->

          <div class="media_body">
<!--             <a href="#/username/shares/123" class="xuser-data-timestamp">
              1 min ago
            </a>
 -->
            <p class="xuser-data xuser-data--green xuser-data--recommendation">
              <!-- <a href="#/username" class="no-faux-link"> -->
                <strong>Recommended for you</strong>
              <!-- </a> -->
              <!-- … -->
            </p>

            <p class="xuser-message">
              Because you liked "Star Trek TOS: The Menagerie"
            </p>
          </div><!-- eo .media_body -->
        </footer><!-- eo .media_module-->
      </div><!-- eo .frame-body-wrapper -->
      <!-- … -->
    </article>
  </div>
</div>
<div class="column column--padding two-thirds">
<code class="language-markup">
  <pre>&lt;footer class="media_module frame-footer clearfix">
    &lt;a href="/username">
      &lt;span class="image_module media_image avatar" style="background-image: url(/images/recommendations/share-2.jpg);" role="img">
        &lt;img src="#/images/recommendations/share-2.jpg" class="visuallyhidden">
      &lt;/span>
    &lt;/a>

    &lt;div class="media_body">
      &lt;p class="xuser-data xuser-data--green xuser-data--recommendation">
        &lt;strong>Recommended for you&lt;/strong>
      &lt;/p>

    …
  </pre>
</code>
</div>

