<% if Rails.env == "staging" %>
  <span class="shelby-title-staging"><%= Settings::Branch.branch %></span>
<% end %>

<a href="<%= "#{appropriate_subdirectory == '' ? "/" : appropriate_subdirectory}" %>" class="shelby-logo visuallydisabled js-home js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Logo">
  <h1 class="shelby_logo">
    <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
  </h1>
</a>

<%
  avatar = avatar_url_for_user(signed_in_user)
%>
<nav id="js-guide-presentation-selector" class="guide-presentation-selector">
  <ul class="js-content-selector list list--inline app_nav clearfix">
    <% if user_signed_in %>
      <li class="list__item">
        <a href="<%= appropriate_subdirectory %>/stream" class="app_nav__button<%= " active-item" if pathname == Settings::Mobile.roll_types['stream'] %> js-stream js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Click Stream" data-ga_label="<%= signed_in_user['nickname'] %>">
          Stream
        </a>
      </li>

      <li class="list__item js-featured-menu">
        <a href="<%= appropriate_subdirectory %>/explore" class="app_nav__button<%= " active-item" if pathname == Settings::Mobile.roll_types['explore'] %> js-explore js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Click Explore" data-ga_label="<%= signed_in_user['nickname'] %>">
          Explore
        </a>
      </li>

      <li class="list__item js-guide-me js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Click Me" data-ga_label="<%= signed_in_user['nickname'] %>">
        <a href="<%= appropriate_subdirectory %>/<%= signed_in_user['user_type'] == Settings::User.user_type[:anonymous] ? signed_in_user['id'] : signed_in_user['nickname'] %><%= "/activity" if is_mobile %>" class="app_nav__button<%= " active-item" if pathname == 'me' or pathname == 'following' or pathname == 'activity' %> js-me">
          Me
        </a>
      </li>

      <li class="list__item js-guide-me js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Click Sources" data-ga_label="<%= signed_in_user['nickname'] %>">
        <a href="<%= appropriate_subdirectory %>/preferences/channels" class="app_nav__button<%= " active-item" if pathname == Settings::Mobile.roll_types['channels'] %> js-sources">
          Channels
        </a>
      </li>


      <li class="dropdown_module list__item secondary-item guide-login">
        <button class="dropdown_button app_nav__button app_nav__button--settings<%= (is_mobile) ? ' js-settings-dropdown-button' : ' js-do-nothing' %>" data-ga_category="<%= ga_category %>" data-ga_action="Click Settings" data-ga_label="<%= signed_in_user['nickname'] %>" type="button">
          <span style="background-image: url('<%= avatar %>');" class="image_module avatar avatar--inline avatar--tiny" role="img"><img src="<%= avatar %>" class="visuallyhidden"/></span>
            <span class="button_label"><%= signed_in_user['nickname']%></span>
            <span class="icon-carrot"></span>
        </button>
        <% if !is_mobile %>
          <section class="dropdown_section settings-section">
            <div class="dropdown_lining fin fin--top_right fin--edging clearfix">

              <%= render :partial => 'objects/user_subnav',
                  :locals => {
                    :is_mobile    => is_mobile,
                    :userNickname => signed_in_user['nickname'],
                    :user_type => signed_in_user['user_type']
                  } %>

            </div>
          </section>
        <% end %>
      </li><!-- eo login button/dropdown -->
    <% elsif show_login %>
      <% if is_mobile %>
        <li class="list__item">
          <a href="<%= appropriate_subdirectory %>/" class="app_nav__button js-track-event" data-ga_category="<%= ga_category %>" data-ga_action="Click Make it yours" data-ga_label="App header">
            Make Shelby.tv yours
          </a>
        </li>
      <% end %>

      <li class="dropdown_module list__item secondary-item guide-login">
        <button class="dropdown_button app_nav__button<%= (user_signed_in || !is_mobile) ? ' js-do-nothing' : ' js-login-dropdown-button' %>">
          Log In <span class="icon-carrot"></span>
        </button>

        <% if !is_mobile %>
          <div class="dropdown_section login-section">
            <div class="dropdown_lining fin fin--top_right fin--edging clearfix">

                <%= render :partial => 'objects/login_form' %>

            </div>
          </div>
        <% end %>
      </li><!-- eo login button/dropdown -->
    <% end %>

  </ul><!-- eo guide-presentation-list -->


  <% if is_mobile %>
    <div class="settings-section settings-section--mobile hidden clearfix js-settings-dropdown">
      <%= render :partial => 'objects/user_subnav',
          :locals => {
            :is_mobile    => is_mobile,
            :userNickname => signed_in_user['nickname'],
            :user_type => signed_in_user['user_type']
          } %>
    </div>
  <% end %>

  <% if !user_signed_in %>
    <div class="login_panel hidden clearfix js-login-dropdown">
      <%= render :partial => 'objects/login_form' %>
    </div>
  <% end %>
</nav>
