<% if Rails.env == "staging" %>
  <span class="shelby-title-staging"><%= Settings::Branch.branch %></span>
<% end %>

<div class="shelf__wrapper shelf__wrapper--header">
  <header class="shelf shelf--header shelby__head clearfix js-header" role="banner">
    <div class="shelf__lining">
      <a href="/" class="button_primer shelby-logo">
        <span class="shelby_logo shelby_logo--inverted">
          <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
        </span>
      </a>

      <nav role="navigation">
        <ul class="list list--inline list--right clearfix">
          <% if show_login %>
            <% if !user_signed_in %>
              <% if [:android, :amazon].include? @mobile_os %>
                <li class="list__item">
                  <%= form_tag "#{appropriate_subdirectory}/user/create", :class => "form_module js-get-started-form" do %>
                    <%= hidden_field_tag 'anonymous', true %>
                    <button class="animate_module button_primer button_command button_command--flexible button_green shelf__button--cta js-track-event js-get-started-button" data-ga_action="Click Get Started" data-ga_label="<%= request.referer || 'direct' %>"><span class="button_label">Get Started</span></button>
                  <% end %>
                </li>
              <% else %>
                <li class="list__item">
                  <a
                    href="<%= Settings::Application.ios_app_url %>"
                    class="animate_module button_primer button_command button_command--flexible button_green shelf__button--cta js-cta-header js-cta js-track-event"
                    data-ga_action="Click <%= Settings::Marketing.cta_button_short %>"
                    data-ga_label="Header"
                    >
                    <%= Settings::Marketing.cta_button_short %>
                  </a>
                </li>
              <% end %>

              <li class="dropdown_module list__item js-dropdown_module">
                <a href="<%= appropriate_subdirectory %>/log_in" class="dropdown_button button_primer button_command button_command--flexible button_command--text app_nav__button app_nav__button--inverted js-log_in">
                  Log In
                  <i class="icon-carrot"></i>
                </a>

                <div class="dropdown_section login-section js-x">
                  <div class="dropdown_lining fin fin--top_right fin--edging clearfix">

                    <%= render :partial => 'objects/login_form' %>

                  </div>
                </div>
              </li><!-- eo login button/dropdown -->
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </header><!-- eo shelf -->
  </div>
