<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
	<% if @fb_meta_info %>
		<%= render :partial => "fb_meta_info", :locals => { :fb_meta_info => @fb_meta_info, :permalink => @permalink } %>
	<% else %>
		<meta name="description" content="<%= Settings::Application.meta_description %>">
	<% end %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= Settings::Application.title %></title>
  
  <meta name="viewport" content="width=device-width">
	
	<meta name="csrf-token" content="<%= @csrf_token %>">

  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= include_stylesheets :common %>
  <%= include_javascripts :common, :shelby %>
</head>

<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  
  <div id="wrapper" class="wrapper" role="application">
    <div id="lining" class="lining">
      <div id="player" class="video-player" role="main">

				<div id="video-players-holder">
	        <div id="youtube-player-holder"></div>
	        <div id="vimeo-player-holder"></div>
	        <div id="collegehumor-player-holder"></div>
	        <div id="dailymotion-player-holder"></div>
	        <div id="bliptv-player-holder"></div>
	        <div id="ooyala-player-holder"></div>
	        <div id="hulu-player-holder">
	          <div id="videoPlayerComponent"></div>
	          <div id="adComponent"></div>
	        </div>
				</div>

        <div id="video-controls" class="video-player-controls-wrapper js-inactivity-preemption"></div>

      </div> <!-- eo .video-player -->
    </div><!-- eo #lining -->

      <div class="main clearfix js-inactivity-preemption" role="sidebar">
        <header id="js-header-guide" class="header-guide">
          <div id="header" role="banner">
            <!-- contents in guide-header.jst -->
          </div>
          <div class="menu">
            <!-- contents in menu.jst -->
          </div>
        </header>
        <div id="guide" class="content-body">
            <!-- guide contents dynamically rendered-->
        </div>
      </div><!-- eo .main -->

			<div id="guide-overlay-controls">
          <!-- controls dynamically rendered, floating over guide -->
      </div>

      <div style="height:0;clear:both;"></div>

  		<div id="temp-auth-related-links" style="position:absolute;top:0;left:0;">
  			<div id="temp-signin" style="display:none; position:fixed; top: 0px; height: 40px; font-size: 15px; padding: 5px 0px; left:33%">
  			  Make Shelby even better by
  				<%= link_to ' logging in', "#{Settings::ShelbyAPI.url}/auth/twitter", :id => 'signin', :class => 'auth-popup' , "popup-width"=>"600" , "popup-height"=>"700" %>				
  			</div>
  		</div>
  </div> <!-- eo ~main -->

  <%# Asynchronous Google Analytics snippet via http://mathiasbynens.be/notes/async-analytics-snippet %>
	<% if Rails.env == 'production' %>
	  <script>
	    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','gt.shelby.tv'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	  </script>
	<% end %>
	
</body>
</html>
