<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="csrf-token" content="<%= csrf_token_from_cookie %>">
  <meta name="rhombus-auth" content="<%= 'Basic '+Base64.strict_encode64('shelby:_rhombus_gt') %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "shelby" %>
</head>

<body class="shelby">
	<div id="fb-root"></div>
	<%= render :partial => "/genius/facebook/fb_sdk" if @genius_roll_id %>
	<section id="js-notification-banner-wrapper" class="notification-banner-wrapper"></section>
  <div id="js-shelby-wrapper" class="shelby-wrapper">

		<% unless @empty_shelby_wrapper %>
	    <header id="js-header" class="animate_module js-app-header shelby-header js-inactivity-preemption" role="banner">
	      <!-- contents in AppHeaderView -->
	    </header>
			<header id="js-iso-roll-header" class="animate_module js-app-header shelby-header iso-roll-app-header js-inactivity-preemption" role="banner">
	      <!-- contents in IsoRollAppHeaderView -->
	    </header>

	    <div class="content_wrapper main-layout js-main-layout">
	      <section class="js-inactivity-preemption js-guide animate_module sidebar_module guide-wrapper clearfix" role="sidebar">
	        <!-- content filled in by GuideView -->
	      </section><!-- eo .guide-wrapper -->

	      <section class="content_lining" role="main">
	        <!-- content filled in by children of MainLayoutView -->
	      </section><!-- eo .content_lining -->
	    </div><!-- eo .content_wrapper.main-layout -->

	    <div class="content_wrapper explore-layout js-explore-layout">
	      <!-- content filled in by ExploreLayoutView -->
	    </div><!-- eo .content_wrapper.explore-layout -->

	    <div class="content_wrapper explore-layout js-onboarding-layout">
	      <!-- content filled in by OnboardingLayoutView -->
	    </div><!-- eo .content_wrapper.onboarding-layout -->

	    <div class="content_wrapper action-layout js-action-layout">
	      <section class="content_lining">
	      </section>
	    </div><!-- eo .content_wrapper.action-layout -->
		<% end %>

		<!-- Need this at the base level so it's always in the DOM -->
		<div id="js-notifications-wrapper" class="notifications-wrapper"></div>

  </div> <!-- eo ~application -->
	
	<% if (Rails.env == 'production' or Rails.env == 'staging') %>
	  <script>
	    var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	  </script>
	<% end %>
	
	<% if Rails.env == 'production' %>
		<script>
		  var _kmq = _kmq || [];
		  var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
		  function _kms(u){
		    setTimeout(function(){
		      var d = document, f = d.getElementsByTagName('script')[0],
		      s = d.createElement('script');
		      s.type = 'text/javascript'; s.async = true; s.src = u;
		      f.parentNode.insertBefore(s, f);
		    }, 1);
		  }
		  _kms('//i.kissmetrics.com/i.js');
		  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
		</script>
	<% end %>
	
	<%= javascript_include_tag "deferred" %>
</body>
</html>
