<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="shelby-api-csrf-token" content="<%= csrf_token_from_cookie %>">
  <meta name="rhombus-auth" content="<%= 'Basic '+Base64.strict_encode64('shelby:_rhombus_gt') %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon"type="image/png" href="/favicon.png">

  <script>
    var shelbyTrackingCategory = "Temp Bookmarklet Page",
        shelbyTrackingLabel = "";
  </script>

  <%= stylesheet_link_tag "seovideo", :media => "screen" %>

  <style type="text/css">
  .shelby--bookmarklet {
    background-color: #fff;
  }

  .shelf--bookmarklet .alpha {
    font-size: 1.5em;
    margin-top: 2em;
  }

  .shelby--bookmarklet .media_image {
    margin-right: 40px;
  }

  .button_command--radar:hover {
    cursor: move;
  }
  </style>

</head>

<body class="shelby shelby--landing  shelby--bookmarklet">
  <div class="shelby__wrapper clearfix">
    <%= render :partial => '/home/landing_header', :locals => {:show_login => true, :user_signed_in => @user_signed_in} %>
        <div class="shelf__wrapper vertical-align-hack">
          <div class="verical-align-hack__el">
            <div class="shelf shelf--bookmarklet">
              <div class="shelf__lining">
                <h2 class="alpha alpha--display">The Video Radar Button</h2>



                <div class="media_module">
                  <div class="media_image">
                    <%= image_tag "shelby-radar.png" %>
                  </div>

                  <div class="media_body">
                    <p class="shelf__block">Gather all the videos from a web page into a single stream!<p>
                    <p class="shelf__block">
                      <br/>
                      <a class="button_primer button_command button_command--flexible button_green button_command--radar" href="<%= Settings::Radar.bookmarklet_url_encoded %>">
                        <span class="button_label"><%= Settings::Radar.radar_button_text %></span>
                      </a>
                      <em>&larr; Click and drag this button to your bookmarks bar</em>
                      <br/><br/>
                    </p>

                    <p class="shelf__block">
                      The Radar button will help you Like and Share videos you find from anywhere on the internet.
                    </p>

                    <p class="shelf__block">
                      Click this button from your bookmarks bar whenever you see a video you like.
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
