<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="csrf-token" content="<%= csrf_token_from_cookie %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon"type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "experience", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <script src="http://fgnass.github.com/spin.js/dist/spin.min.js" async></script>
  <%= javascript_include_tag "experience" %>
</head>

<body class="shelby shelby--experience">
  <div id="fb-root"></div>

  <div id="video-static">
    <video id="video" autoplay loop="true" height="100%">
      <source src="video/looping_static_2.webm" type="video/webm">
      <source src="video/looping_static_2.mp4" type="video/mp4">
    </video>
  </div>

  <div id="banner-wrapper" class="hidden">
      <div id="banner-inner">
      <h3 id="message">
        You're watching <span id="site-url"></span> at Shelby.tv, where cats and dogs live together
      </h3>
      <div id="like-share">
        <div class="message">
          Like this? Tell someone:
        </div>
        <div class="social">
          <div class="twitter"></div>
          <div class="facebook"></div>
          <div id="google-plus-one" class="google"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="static-wrapper">
    <a href="http://shelby.tv" title="To the Mother Ship">
      <div class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </div>
    </a>

    <div id="static-dampener">
      <div id="content">
        <h1>
          Turn any webpage with video into a TV experience.
        </h1>
        <h2>
          Full screen video. Continuous playback.
        </h2>
        <form id="js-submission-form" class="search_module">
          <input class="search_module__submit button_primer button_green submit js-submit" type="submit" value="Launch">
          <span class="search_module__input_wrapper"><input type="text" class="search_module__input website" value="<%= @url %>" placeholder=""></span>
        </form>
        <div class="social">
          <div class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-related="shelby" data-lang="en" data-size="small" data-count="horizontal" data-text="Turn any website into a TV experience">Tweet</a>
          </div>
          <div class="google">
            <div class="g-plusone" data-size="medium"></div>
          </div>
          <div class="facebook">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="300" data-show-faces="false" data-colorscheme="light" data-action="like" data-href="http://shelby.tv/experience"></div>
          </div>
        </div>
        <div id="learn-more-wrapper">
          <div id="learn-more-icon"></div>
          <div id="learn-more">
            Continuous playback, a caring community, and an unparalled viewing experience makes Shelby.tv the best place to enjoy video on the web. With Shelby, web video is finally ready for prime time. <br>
            <br>
            Entering a URL into the form above will pull any video we find there that is embedded from YouTube, Vimeo, DailyMotion, Blip.tv, College Humor, or Hulu. <br>
            <br>
            Currently YouTube webpages won't render here (google renders video on pages dynamicaly) but go hunting elsewhere, there's amazing video out there! <br>
            <br>
            Enjoy!
          </div>
        </div>
      </div>
    </div>
  </div> <!-- eo ~static-wrapper -->

  <iframe class="shelby hidden" src></iframe>

  <script>
    // social
    // --twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    // --facebook
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=305135322927840";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // --google
    (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
  </script>

  <% if (Rails.env == 'production' or Rails.env == 'staging') %>
    <script>
      var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>
</body>
</html>