<% 
  videoEmbed = @meta_info[:video_embed] || @provider_name == "youtube" 
  flashError = flash[:error] == "401"
  showAuth = @has_access_token || @auth_failure || @show_error || flashError
%>

<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "meta_info", :locals => { :info => @meta_info } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= render :partial => "title_tag", :locals => { :meta_info => @meta_info} %>
  </title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "common" %>
</head>

<body class="gate">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="clearfix gate-wrapper<%= ' with-video' if videoEmbed %>">
  	<header class="gate-header">
	  		<h1 class="ir gate-logo">
			  	<a href="/">
		  			Shelby.tv
			  	</a>
	  		</h1>
		  	<h4 class="gate-slogan">
		  		An amazing way to discover and enjoy videos.
				</h4>
		</header>

    <% if videoEmbed %>
    <div id="js-video-embed" class="gate-lining with-video-embed">
      <% if @provider_name == "youtube" %>
        <% #TODO: Build all of our embeds like this using the video provider_id %>
        <%= render :partial => "youtube_embed", :locals => { :provider_id => @meta_info[:video_info]['video']['provider_id'] } %>
      <% else %>
        <%=raw @meta_info[:video_embed] %>
      <% end %>
      <div class="with-video-embed-block">
        <h2 class="gate-subhead">Your friend discovered this video with Shelby.tv</h2>
        <p>
          You have a very cool friend, because they have access to our latest version, <br>which delivers personalized streams of video curated by your friends.         </p>
        </p>
      </div>
    </div>
    <% end -%>

    <div id="js-signup" class="gate-lining<%= ' hidden' if showAuth %>">
			<h2 class="gate-head">
				We'll be back!
			</h2>

			<p>
				The new version of Shelby is currently in <br>a private beta. 
        <a href="http://shelby.tv/blog/post/26927127539/new-shelby-shutdown">Learn what's coming</a>.
			</p>

			<form id="js-email-form" class="gate-form">
				<h3 class="gate-subhead">
					Want in on the action? Let us know!
				</h3>
        <label for="js-email-input" class="gate-form-label">
          Email
        </label>
				<input name="email" type="email" placeholder="Where can we reach you?" id="js-email-input" class="gate-form-input" />
				
        <span class="gate-input-error hidden">Email must be valid!</span>
				
        <label for="js-token-input" class="gate-form-label">
          Priority Code
        </label>

        <input name="priority_code" type="text" placeholder="Are you special?" id="js-token-input" class="gate-form-input" />

        <input type="submit" value="Submit" id="js-email-submit" class="gate-form-submit js-track-event" data-ga_category="Landing Page" data-ga_action="Submitted email" />
      </form>

      <p class="gate-small-block">
        (Current Shelby users will be automatically <br>rolled into the new version when it's ready.) 
      </p>

      <h3 class="gate-subhead gate-extra-margin">
        Returning?
      </h3>

      <button id="js-gate-login" class="gate-login js-track-event" data-ga_category="Landing Page" data-ga_action="Beta User Login">
        Beta User Login
      </button>

      <div class="gate-lining-footer">
			</div>
		</div><!-- eo .gate-lining -->

  	<div id="js-login" class="clearfix gate-lining<%= ' hidden' if !showAuth %>">
			<h2 class="gate-head">
        Welcome to the T-101 <br/>Beta Command Center
    	</h2>

      <% if @show_error %> 
        <p class="gate-signin-noaccess js-signin-error">
          Sorry, you do not have access to the beta…<br>
          <a href="http://shelby.tv/blog/post/26927127539/new-shelby-shutdown">Learn what's coming</a>.
        </p> 
      <% else %> 
        <p>
          Please log in.    
        </p>   
      <% end %>     

      <% if @auth_failure %>
        <p class="gate-signin-error js-signin-error">
          There was a problem logging you in<%= if @auth_strategy then " with #{@auth_strategy.titleize}" end%>.  
          <br/>Please wait a moment and try again.
        </p>
      <% end %>

      <% if flashError %>
        <p class="gate-signin-error js-signin-error">
          Session expired, please log in again!
        </p>      
      <% end %>

      <a class="gate-networks-twitter js-track-event" data-ga_category="Landing Page" data-ga_action="Login with Twitter" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>">
        Log In with Twitter
      </a>   

      <a class="gate-networks-facebook js-track-event" data-ga_category="Landing Page" data-ga_action="Login with Facebook" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>">
        Log In with Facebook
      </a>
      
      <a href="#" id="js-no-access" class="gate-no-access js-track-event" data-ga_category="Landing Page" data-ga_action="Not a Beta User">
      	Not a beta user?
      </a>
		</div><!-- eo .gate-lining -->

    <div id="js-thankyou" class="gate-lining hidden">
      <h2 class="gate-head">
        Thanks for signing up!
      </h2>
    </div>

    <footer class="gate-footer">
      <ul class="gate-footer-list"> 
        <li class="gate-footer-item">
          <a href="http://twitter.com/shelby" class="gate-networks-link gate-footer-networks-twitter">
            twitter.com/shelby
          </a>
        </li> 
        <li class="gate-footer-item">
          <a href="http://facebook.com/shelbytv" class="gate-networks-link gate-footer-networks-facebook">
            facebook.com/shelbytv
          </a>
        </li>
        <li class="gate-footer-item">
          <a href="http://shelby.tv/blog" class="gate-networks-link gate-footer-networks-tumblr">
            shelby.tv/blog
          </a>
        </li>
        <li id="made-newyork" class="gate-footer-item">
          Made in NYC
        </li>
      </ul>
    </footer>
  </div><!-- eo .gate-wrapper -->
  <script>
  	$(document).ready(function(){
  		$('#js-gate-login').on('click', function(){
  			$('#js-login, #js-signup').toggleClass('hidden');
        return false;
  		});

  		$('#js-no-access').on('click', function(){
  			$(this).remove();
  			$('.gate-input-error').addClass('hidden');
  			$('#js-email-form').css('margin-top','2em').appendTo('#js-login');
        return false;
  		});

      $('#js-email-form').on('submit', function(){
        $.get(shelby.config.apiRoot + '/POST/gt_interest', $(this).serialize(), function(data) {
          $('#js-login, #js-signup').addClass('hidden');
          $('#js-thankyou').removeClass('hidden');
        }, 'jsonp');
        return false;
      });
  	});
	</script>
	
	<% if "production" == Rails.env %>
	  <script>
			var shortLink = $.getUrlParam('awesm');
		  if (typeof viaShortLink != 'undefined') { shortLink = 'via Short Link: ' + shortLink; }
			else { shortLink = "Direct"; }
	    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','shelby.tv'],['_setCustomVar', 1, 'Visit Type', shortLink, 3],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s);}(document,'script'));
	  </script>
	<% end %>
	
	<script>
	  var _kmq = _kmq || [];
	  var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
	  function _kms(u){
	    setTimeout(function(){
	      var d = document, f = d.getElementsByTagName('script')[0],
	      s = d.createElement('script');
	      s.type = 'text/javascript'; s.async = true; s.src = u;
	      f.parentNode.insertBefore(s, f);
	    }, 1);
	  }
	  _kms('//i.kissmetrics.com/i.js');
	  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
	</script>

</body>
</html>
