<% 
  videoEmbed = @meta_info[:video_embed] || @provider_name == "youtube" 
  hasTokenNoAuth = @has_access_token || !@auth_failure
%>

<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "meta_info", :locals => { :info => @meta_info } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= render :partial => "title_tag", :locals => { :meta_info => @meta_info} %>
  </title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= include_stylesheets :common %>
  <%= include_javascripts :common %>
  <!--[if lt IE 9]><link href="/stylesheets/png.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->  
</head>

<body class="gate">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="clearfix gate-wrapper<%= ' with-video' if videoEmbed %>">
  	<header class="gate-header">
	  		<h1 class="ir gate-logo">
			  	<a href="/">
		  			Shelby.tv
			  	</a>
	  		</h1>
		  	<h4 class="gate-slogan">
		  		An amazing way to discover and enjoy videos.
				</h4>
		</header>

    <% if videoEmbed %>
    <div id="js-video-embed" class="gate-lining with-video-embed">
      <% if @provider_name == "youtube" %>
        <!-- TODO: Build all of our embeds like this using the video provider_id -->
        <%= render :partial => "youtube_embed", :locals => { :provider_id => @meta_info[:video_info]['video']['provider_id'] } %>
      <% else %>
        <%=raw @meta_info[:video_embed] %>
      <% end %>
    </div>
    <% end -%>

    <div id="js-signup" class="gate-lining<%= ' hidden' if hasTokenNoAuth %>">
			<h2 class="gate-head">
				We'll be back!
			</h2>

			<p>
				So we've taken down the current Shelby.tv but <br/>don't worry, we're hard at work on the next version!
			</p>

			<p>
				Here is some more copy talking about what we're doing in our free time, lots of high fives and jump kicks! We can't wait to show you.
			</p>

			<button id="js-gate-login" class="gate-login">
				Beta User Login
			</button>

			<footer class="gate-footer">
				<form id="js-email-form" class="gate-form">
					<h3 class="gate-subhead">
						Want to stay updated?
					</h3>
          <label for="js-email-input" class="gate-form-label">
            Email
          </label>
					<input type="email" placeholder="email@address.com" id="js-email-input" class="gate-form-input" />
					
          <span class="gate-input-error hidden">Email must be valid!</span>
					
          <label for="js-token-input" class="gate-form-label">
            Promo code
          </label>

          <input type="text" placeholder="Are you special?" id="js-token-input" class="gate-form-input" />

          <input type="submit" id="js-email-submit" class="gate-form-submit" />

				</form
			</footer>
		</div><!-- eo .gate-lining -->

  	<div id="js-login" class="gate-lining<%= ' hidden' if !hasTokenNoAuth %>">
			<h2 class="gate-head">
				Ultra Secret Login
			</h2>

			<p>
				Greetings Shelby Beta user, you've been selected to be inducted early into our field training program. Login below and try out the new Shelby.tv
			</p>

			<% if @auth_failure %>
        <p class="gate-signin-error js-signin-error">
          Sorry, there was a problem signing in<%= if @auth_strategy then " to #{@auth_strategy}" end%>.  <br/>Please wait a moment and try again.
        </p>
      <% end %>

      <a class="gate-networks-twitter" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>">
        Log In with Twitter
      </a>   

      <a class="gate-networks-facebook" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>">
        Log In with Facebook
      </a>
      
      <a href="#" id="js-no-access" class="gate-no-access">
      	Not a Beta user?
      </a>
		</div><!-- eo .gate-lining -->

    <div id="js-thankyou" class="gate-lining hidden">
      <h2 class="gate-head">
        Thank you!
      </h2>

      <p>
        Thank you for signing up for our private beta!
      </p>


    </div>
  </div><!-- eo .gate-wrapper -->
  <script>
  	$(document).ready(function(){
  		$('#js-gate-login').on('click', function(){
  			$('#js-login, #js-signup').toggleClass('hidden');
        return false;
  		});

  		$('#js-no-access').on('click', function(){
  			$(this).remove();
  			$('.gate-input-error').addClass('hidden');
  			$('#js-email-form').children('.gate-subhead').text('Request access!').end()
  												 .css('margin','2.5em 2px 1em').appendTo('#js-login');
        return false;
  		});

  		$('#js-email-input').on('click', function(){
  			$(this).siblings('.gate-input-error').removeClass('hidden');
        return false;
  		});

      $('#js-email-form').on('submit', function(){
        // $.get(shelby.config.apiRoot + '/POST/gt_interest', $(this).serialize(), function(data) {
          $('#js-login, #js-signup').addClass('hidden');
          $('#js-thankyou').removeClass('hidden');
        //}, 'jsonp');
        return false;
      });
  	});
	</script>
  <script>
    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','none'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
