<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
	<% if @fb_meta_info %>
		<%= render :partial => "fb_meta_info", :locals => { :fb_meta_info => @fb_meta_info, :permalink => @permalink } %>
	<% else %>
		<meta name="description" content="<%= Settings::Application.meta_description %>">
	<% end %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= Settings::Application.title %></title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= include_stylesheets :common %>
  <%= include_javascripts :common %>
</head>

<body class="email-gate">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="email-gate-wrapper">
  <header class="email-gate-header clearfix">
    <h1 class="email-gate-logo ir">
      Shelby.tv
    </h1>
    <p class="email-gate-slogan">
      The most amazing way to <br> discover and enjoy web videos.
    </p>
  </header>

  <form class="email-gate-login">
    <button class="email-gate-login-button">
      Login
    </button>


    <fieldset class="email-gate-networks">
      <a class="email-gate-networks-twitter" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>">
        Log In with Twitter
      </a>   
      <a class="email-gate-networks-facebook" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>">
        Log In with Facebook
      </a>
    </fieldset>
  </form>

	<% if @show_error %>
		<div class="no-access">
			<h1>Sorry, you don't have access to Shelby GT just yet.</h1>
			<h2>But we're working hard to get you in!</h2>
      <h2 class="detour">In the meantime, visit our <a href="http://shelby.tv">current website</a>!</h2>
		</div>
	<% elsif @has_access_token %>
		<div class="private-beta-access">
			<h1>Welcome the Shelby GT private beta!</h1>
			<h2>Sign up, we don't auto-post anything:</h2>
			<p class="login">
				<a class="email-gate-networks-twitter" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>">
	        Sign Up with Twitter
	      </a>   
	      <a class="email-gate-networks-facebook" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>">
	        Sign Up with Facebook
	      </a>
			</p>
		</div>
	<% else %>
		<form class="email-gate-signup">
	    <legend class="email-gate-caption">
	      Want to receive future beta invites?
	    </legend>
	    <label for="email-gate-email" class="email-gate-label">
	      Email
	    <input type="email" id="email-gate-email" class="email-gate-email" name="email" placeholder="Where can we reach you?" />
	    </label>
  
	    <label for="email-gate-code" class="email-gate-label">
	      Priority Code
	    <input type="text" id="email-gate-code"  class="email-gate-code" name="priority_code" placeholder="Are you special?" />
	    </label>
  
	    <button type="submit" class="email-gate-signup-submit">
	      Submit
	    </button>
	  </form>

		<div class="email-gate-thank-you">
			<h1>Thanks!</h1>
			<h2>In the meantime, visit our <a href="http://shelby.tv">current website</a>!</h2>
		</div>
	<% end %>

</div><!-- eo email-gate-wrapper -->

	<script>
		$(function(){
			$('.email-gate-login-button').click(function(){
				$('.email-gate-networks').toggle();
				return false;
			});
			
			$('.email-gate-signup').submit(function() {
				$.post('//api.gt.shelby.tv/v1/gt_interest', $(this).serialize(), function(data) {
					$('.email-gate-signup').hide()
					$('.email-gate-thank-you').show();
				});
			  return false;
			});
		});
	</script>

  <%# Asynchronous Google Analytics snippet via http://mathiasbynens.be/notes/async-analytics-snippet %>
  <script>
    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','gt.shelby.tv'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
