<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
	<%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>
	
  <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">

	<style>
		body { margin: 0; padding: 0; background: black; width: 100%; height: 100%; overflow: hidden; }
		iframe { border: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
	</style>
</head>

<body>
  <iframe id="shelby-roll" src="<%= Settings::Application.url %>/isolated-roll/<%= @isolated_roll_id %><%= @frame_id ? '/frame/'+@frame_id : '' %>"></iframe>

	<% if (Rails.env == 'production' or Rails.env == 'staging') %>
	  <script>
	    var _gaq=[['_setAccount','<%= @analytics_account %>'],['_setDomainName', '<%= request.host %>'],['_trackPageview'],['_setCustomVar',2, 'Visit to Subdomain', '<%= request.host %>']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s);}(document,'script'));
	  </script>
	<% end %>
	
	<% if Rails.env == 'production' %>
		<script>
		  var _kmq = _kmq || [];
		  var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
		  function _kms(u){
		    setTimeout(function(){
		      var d = document, f = d.getElementsByTagName('script')[0],
		      s = d.createElement('script');
		      s.type = 'text/javascript'; s.async = true; s.src = u;
		      f.parentNode.insertBefore(s, f);
		    }, 1);
		  }
		  _kms('//i.kissmetrics.com/i.js');
		  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
		  _kmq.push(['record', "Visit to .tv subdomain", {subdomain: '<%= request.host %>'}]);
		</script>
	<% end %>
</body>
</html>
