<% 
  videoEmbed = @meta_info[:video_embed] || @provider_name == "youtube" 
  flashError = flash[:error] == "401"
  showAuth = @has_access_token || @auth_failure || @show_error || flashError
%>

<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#" profile="http://www.w3.org/2005/10/profile">
  <%= render :partial => "meta_info", :locals => { :info => @meta_info } %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "title_tag", :locals => { :meta_info => @meta_info} %>
  </title>
  
  <meta name="viewport" content="width=device-width">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "landing", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "common", "landing" %>
</head>

<body class="shelby shelby-landing">
  <div class="shelby-wrapper">
    <header class="shelby-header clearfix" role="banner">
    	<button class="shelby-logo js-home">
		    <h1 class="shelby-title ir">
		      Shelby.tv
		    </h1>
		  </button>

		  <nav class="guide-presentation-selector">
				<ul class="guide-nav-list clearfix">
			    <li class="dropdown_module guide-nav-item secondary-item guide-login">
				    <button class="dropdown_button nav-button js-track-event" data-ga_category="Landing Page" data-ga_action="Header log in">
				      <i class="dropdown_icon">
				        Log In
				      </i>
				    </button>
				
				    <section class="dropdown_section login-section">
				      <div class="dropdown_lining login-section-lining clearfix">
					      <h3 class="login-header">Beta Access Login</h3>
								<div class="social_login login-social-section clearfix">
						      <a class="social_login_twitter js-track-event" data-ga_category="Landing Page" data-ga_action="Login with Twitter" href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>">
						        Twitter
						      </a>

						      <a class="social_login_facebook js-track-event" data-ga_category="Landing Page" data-ga_action="Login with Facebook" href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>">
						        Facebook
						      </a>
								</div>
								<form accept-charset="UTF-8" action="<%= Settings::ShelbyAPI.login_form_url %>" method="post" class="form_module login-form">
									<fieldset class="">
										<label for="username" class="form_label">Username</label>
										<input id="username" name="username" placeholder="Username or Email address" class="form_input" />
									</fieldset>
									<fieldset class="form_fieldset">
										<label for="password" class="form_label">Password</label>
										<input id="password" name="password" type="password" placeholder="•••••••" class="form_input" />
									</fieldset>
									<fieldset class="form_fieldset">
										<input name="commit" type="submit" value="Login" class="form_submit js-track-event" data-ga_category="Landing Page" data-ga_action="email login" />
									</fieldset>
								</form>

							</div>
						</section>
						
					</li>
				</ul>
		  </nav>
    </header>

		<% if @show_error or @auth_failure or flashError %>
			<section class="landing-shelf landing-shelf-error">
				<div class="landing-shelf-lining">
					<% if @show_error %> 
		        <p class="gate-signin-noaccess js-signin-error">
		          Sorry, you do not have access to the beta…<br>
		          <a href="http://shelby.tv/blog/post/26927127539/new-shelby-shutdown">Learn what's coming</a>.
		        </p> 
		      <% end %>     

		      <% if @auth_failure %>
		        <p class="gate-signin-error js-signin-error">
		          There was a problem logging you in<%= if @auth_strategy then " with #{@auth_strategy}" end%>.  
		          <br/>Please try again.
		        </p>
		      <% end %>

		      <% if flashError %>
		        <p class="gate-signin-error js-signin-error">
		          Session expired, please log in again!
		        </p>      
		      <% end %>
				</div>
			</section>
		<% end %>

		<section class="landing-shelf landing-shelf-genius">
			<div class="landing-shelf-lining">
				<h1 class="landing-shelf-header">No YouTube? No Problem.</h1>
				
				<h2 class="landing-shelf-subheader">
					Shelby genius brings you video from
				</h2>
				
				<p class="landing-providers">
					<img src="images/landing/providers.png">
				</p>
				
				<a href="/TODO" class="ir landing-appstore js-track-event" data-ga_category="Landing Page" data-ga_action="Shelf App Store">
					Available on the App Store
		    </a>

			</div>
		</section>
		
		<section class="landing-shelf landing-shelf-private">
			<div class="landing-shelf-lining">
				<h1 class="landing-shelf-header">Shelby.tv</h1>
				
				<h2 class="landing-shelf-subheader">
					Shelby.tv is a simple new way to enjoy video.
					We're currently in a private beta, but we'll let you know when the wait is over.
				</h2>
				
				<form id="js-email-form" class="landing-form">
	        <label for="js-email-input" class="landing-form-label">
	          Email
	        </label>
	        <span class="landing-input-error hidden">Email must be valid!</span>
	
					<input name="email" type="email" id="js-email-input" class="landing-form-input" /><!--

	        --><input type="submit" value="Submit" id="js-email-submit" class="landing-form-submit js-track-event" data-ga_category="Landing Page" data-ga_action="Submit email" />
	      </form>
	
				<div id="js-thankyou" class="gate-lining hidden">
		      <h2 class="gate-head">
		        Thanks for signing up!
		      </h2>
		    </div>
		
			</div>
			
			<div class="browser-image">
			</div>
		</section>
		
		
		<footer class="landing-footer">
			<div class="landing-footer-lining">
				
				<ul class="landing-footer-lists">
					<li>
						<ul class="landing-footer-content-list">
							<li class="header-item">Shelby.tv</li>
							<li><a href="/blog/about">About</a></li>
							<li><a href="mailto:contact@shelby.tv">Contact</a></li>
							<li>Made in NYC</li>
						</ul>
					</li>
					<li>
						<ul class="landing-footer-content-list">
							<li class="header-item">Community</li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="http://twitter.com/shelby">Twitter</a></li>
							<li><a href="http://facebook.com/shelby">Facebook</a></li>
						</ul>
					</li>
					<li>
						<ul class="landing-footer-content-list">
							<li class="header-item">Legal</li>
							<li><a href="/privacy.html">Privacy</a></li>
							<li><a href="/tos.html">Terms</a></li>
						</ul>
					<li>
					
					<li class="secondary">
						<ul class="landing-footer-content-list">
							<li class="header-item">Show us some love</li>
							<li>
								<div class="fb-like" data-href="http://shelby.tv" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark" data-font="verdana"></div>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shelby.tv" data-text="a simple new way to enjoy video" data-related="shelby">Tweet</a>
							</li>
					</li>
				</ul>
				
			</div>
		</footer>
		

	</div><!-- /shelby-wrapper -->

  <script>
  	$(document).ready(function(){
      $('#js-email-form').on('submit', function(){
        $.get('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>/POST/gt_interest', $(this).serialize(), function(data) {
          $('#js-login, #js-signup').addClass('hidden');
          $('#js-thankyou').removeClass('hidden');
        }, 'jsonp');
        return false;
      });
  	});
	</script>
	
	<!-- Facebook widget -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- /facebook widget -->
	
	<!-- Twitter widget -->
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<!-- /Twitter widget -->
	
	<% if "production" == Rails.env %>
	  <script>
			var shortLink = $.getUrlParam('awesm');
		  if (typeof viaShortLink != 'undefined') { shortLink = 'via Short Link: ' + shortLink; }
			else { shortLink = "Direct"; }
	    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','shelby.tv'],['_setCustomVar', 1, 'Visit Type', shortLink, 3],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s);}(document,'script'));
	  </script>
		<script>
		  var _kmq = _kmq || [];
		  var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
		  function _kms(u){
		    setTimeout(function(){
		      var d = document, f = d.getElementsByTagName('script')[0],
		      s = d.createElement('script');
		      s.type = 'text/javascript'; s.async = true; s.src = u;
		      f.parentNode.insertBefore(s, f);
		    }, 1);
		  }
		  _kms('//i.kissmetrics.com/i.js');
		  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

			var action = "Visit landing page";
			var shortLink = $.getUrlParam('awesm');
		  if (typeof shortLink != 'undefined') {  action += ' via Short Link'; }
			else { shortLink = null; }
			_kmq.push(['record', action, {shortLink: shortLink}]);
		</script>
	<% end %>

</body>