<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#" profile="http://www.w3.org/2005/10/profile">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="viewport" content="width=device-width">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "landing", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "common", "landing" %>

  <script>
    var shelbyTrackingCategory = "<%= shelby_tracking_category_for(@share_type) %>";
  </script>
</head>
<body class="shelby shelby--landing">
  <div class="shelby__wrapper">
    <header class="shelby__header clearfix" role="banner">
      <button class="button_primer shelby-logo js-home">
        <% if Rails.env != "staging" %>
          <h1 class="shelby_logo">
            <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
          </h1>
        <% else %>
          <h1 class="shelby-title-staging">
            <%= Settings::Branch.branch %>
          </h1>
        <% end %>
      </button>

      <nav class="guide-presentation-selector">
        <ul class="guide-nav-list clearfix">
          <li class="dropdown_module guide-nav-item secondary-item guide-login">
            <button class="dropdown_button nav-button">
              <i class="dropdown_icon">
                Log In
              </i>
            </button>

            <section class="dropdown_section login-section">
              <div class="dropdown_lining login-section-lining clearfix">

                <form accept-charset="UTF-8" action="<%= Settings::ShelbyAPI.login_form_url %>" method="post" class="form_module form_module--login-form js-track-submit" data-ga_action="Email login">
                  <fieldset class="form_fieldset">
                    <label for="username" class="form_label">Username</label>
                    <input id="username" name="username" placeholder="Username or Email address" class="form_input" />
                  </fieldset>

                  <fieldset class="form_fieldset">
                    <label for="password" class="form_label">Password</label>
                    <input id="password" name="password" type="password" placeholder="•••••••••" class="form_input" />
                  </fieldset>

                  <fieldset class="form_fieldset">
                    <input name="commit" type="submit" value="Login" class="button_primer button_gray-medium form_submit" />
                    <a href="<%= "#{Settings::ShelbyAPI.url}/user/password/new" %>" class="login-forgot-password">Forgot your password?</a>
                  </fieldset>
                </form>

                <hr class="hr--double" />

                <div class="form_fieldset form_fieldset--login-social clearfix">
                  <h4 class="form_legend">
                    Log in with
                  </h4>

                  <a href="<%= "#{Settings::ShelbyAPI.url}/auth/twitter" %>"
                     class="button_primer button_twitter-blue button_primer--twitter js-track-event js-authorize"
                     data-ga_action="Login with Twitter"
                     data-popup_height="700"
                     data-popup_width="600">
                    <i class="icon-social_twitter"></i>
                    Twitter
                  </a>

                  <a href="<%= "#{Settings::ShelbyAPI.url}/auth/facebook" %>"
                     class="button_primer button_facebook-blue button_primer--facebook js-track-event js-authorize"
                     data-ga_action="Login with Facebook"
                     data-popup_height="650"
                     data-popup_width="1000">
                    <i class="icon-social_facebook"></i>
                    Facebook
                  </a>
                </div>
              </div>
            </section>

          </li>
        </ul>
      </nav>
    </header>

    <% if @access_error or @invite_error or @auth_failure or (flash[:error] == "401") %>
      <section class="shelf shelf--error clearfix">
        <div class="shelf__lining">
          <% if @access_error %>
            <p class="shelf__block shelf__block--noaccess js-signin-error">
              Sorry, you do not have access to the beta…<br>
              <a href="http://shelby.tv/blog/post/26927127539/new-shelby-shutdown">Learn what's coming</a>.
            </p>
          <% end %>

          <% if @invite_error %>
            <p class="shelf__block shelf__block--invalid-invite js-signin-error">
              Sorry, that invite is no longer valid.  Please <a href="mailto:contact+invite@shelby.tv">contact us</a> if you have questions.
            </p>
          <% end %>

          <% if @auth_failure %>
            <p class="shelf__block shelf__block--error js-signin-error">
              There was a problem logging you in<%= if @auth_strategy then " with #{@auth_strategy}" end%>.
              <br/>Please try again.
            </p>
          <% end %>

          <% if (flash[:error] == "401") %>
            <p class="shelf__block shelf__block--error js-signin-error">
              Session expired, please log in again!
            </p>
          <% end %>
        </div>
      </section>
    <% end %>

    <% #------------ Shelf Content --------------- %>

    <%= render :partial => "/home/shelf/invite" if @invite_id %>

    <% if (!@share_type) and !@invite_id %>
      <%= render :partial => "/home/shelf/search" %>
      <%= render :partial => "/home/shelf/community" %>
      <%= render :partial => "/home/shelf/sign_up" %>
      <%= render :partial => "/home/shelf/network" %>
      <%= render :partial => "/home/shelf/about" %>
    <% end %>

    <% #------------ /Shelf Content --------------- %>

    <footer class="shelf shelf--footer clearfix">
      <div class="shelf__lining clearfix">
        <nav>
          <ul class="shelf__list--inline shelf__list--footer clearfix">
            <li>
              <a href="http://shelby.tv" class="shelf__link js-track-event" data-ga_action="Click Homepage" title="Home">
                Shelby.tv
              </a>
            </li>

            <li>
              <a href="http://nytm.org/made" class="shelf__link js-track-event" data-ga_action="Click Made in NYC" title="Proudly Made in New York City">
                Made in NYC
              </a>
            </li>

            <li>
              <a href="http://shelby.tv/blog" class="shelf__link js-track-event" data-ga_action="Click Blog" title="">
                Blog
              </a>
            </li>

            <li>
              <a href="http://shelby.tv/blog/hiring" class="shelf__link js-track-event" data-ga_action="Click Hiring Page" title="Want to work with us?">
                We're hiring!
              </a>
            </li>

            <li>
              <a href="tou.html" class="shelf__link js-track-event" data-ga_action="Click Terms" title="Legal …stuff">
                Terms
              </a>
            </li>

            <li>
              <a href="mailto:feedback@shelby.tv" class="shelf__link js-track-event" data-ga_action="Click Report Issue" title="Report a bug or just tell us what you think!">
                Report an issue
              </a>
            </li>
          </ul>

         <ul class="shelf__list--inline shelf__list--social">
            <li>
              <div class="fb-like" data-href="http://facebook.com/shelbytv" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark" data-font="verdana"></div>
            </li>
            <li>
              <a href="https://twitter.com/shelby" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @shelby</a>
            </li>
            <li>
              <div class="g-plusone" data-href="http://shelby.tv"></div>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div><!-- /shelby-wrapper -->

  <!-- Facebook widget -->
  <div id="fb-root"></div>

  <script>
    // Twitter widget -->
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    // Facebook widget -->
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // G +1 widget -->
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

    <% if ("production" == Rails.env or "staging" == Rails.env) %>
      //Track loading of landing page separate from loading of app -->
      var shortLink = $.getUrlParam('awesm');
      if (typeof viaShortLink != 'undefined') { shortLink = 'via Short Link: ' + shortLink; }
      else { shortLink = "Direct"; }
      var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_setCustomVar', 1, 'Visit Type', shortLink, 3],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s);}(document,'script'));
		<% end %>

		<% if Rails.env == 'production' %>
      var _kmq = _kmq || [];
      var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

      var action = "Visit landing page";
      var shortLink = $.getUrlParam('awesm');
      if (typeof shortLink != 'undefined') {  action += ' via Short Link'; }
      else { shortLink = null; }
      _kmq.push(['record', action, {shortLink: shortLink}]);
    <% end %>

    $(document).ready(function(){
      // Email submit (used by many shelves) -->
      $('#js-email-form').on('submit', function(){
        $.get('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>/POST/gt_interest', $(this).serialize(), function(data) {
          $('#js-email-form').addClass('hidden');
          $('#js-thankyou').removeClass('hidden');
        }, 'jsonp');
        return false;
      });

      $('.js-search-form').on('submit', function(e){
        e.preventDefault();

        var searchQuery = $(e.currentTarget).find("#query").val();
        if (searchQuery) {
          window.location.href = '/search?query=' + encodeURIComponent(searchQuery);
          try {
          _gaq.push(['_trackEvent', 'Landing Page', 'search', searchQuery.toLowerCase()]);
          } catch(e) {}
        }
      });
    });
  </script>
</body>
</html>
