<li class="seovideo__item">
  <blockquote class="media_module seovideo__message">
    <span class="image_module xuser-avatar media_image" style="background-image: url(<%= message["user_image_url"] %>);" role="img">
      <img src="<%= message["user_image_url"] %>" class="visuallyhidden" title="<%= message["nickname"] %>" alt="<%= message["nickname"] %>">
    </span>

    <div class="media_body">
      <span class="xuser-data-timestamp media_img--rev">
        <%= message["created_at"] %>
      </span>

      <p class="media_body">
        <%= message["text"] %>
      </p>
    </div>
  </blockquote><!-- eo .seovideo__message -->
</li>
