<% # encoding: UTF-8 %>
<div class="js-seo-signup-message modal__wrapper modal__wrapper--light vertical-align-hack hidden">
  <div class="vertical-align-hack__el">

    <div class="frame-body-wrapper modal modal--center">
      <h2 class="alpha">
        Find all the videos you know you'll love.
      </h2>

      <div class="modal__block">
        <%= form_tag "#{appropriate_subdirectory}/user/create", :class => "form_module seovideo--get-started-form js-get-started-form" do %>
            <%= hidden_field_tag 'anonymous', true %>
            <button class="button_primer button_green button_command button_command--giant button_command--flexible shelf__button js-get-started-button js-track-event" data-ga_category="SEO Video" data-ga_action="Click Get Started" data-ga_label="<%= request.referer || 'direct' %>">
                  <%= raw Settings::Marketing.seo_modal_button %>
            </button>
        <% end %>
      </div><!-- eo modal__head -->
    </div><!-- eo .modal -->

  </div>
</div>

<% if with_js %>
  <%= javascript_tag do %>
    <%= render :partial => "signup_cta_brains", :locals => {:from_similar_video=> @from_similar_video}, :formats=>[:js] %>
  <% end %>
<% end %>
