<% # encoding: UTF-8 %>
<div class="js-seo-signup-message modal__wrapper modal__wrapper--light vertical-align-hack hidden">
  <div class="vertical-align-hack__el">

    <div class="frame-body-wrapper modal modal--center">
      <h2 class="alpha">
        Find all the videos you know you'll love.
      </h2>

      <div class="modal__block">
        <a href="<%= Settings::Application.ios_app_url %>" id="js-cta--main" class="button_primer button_green button_command button_command--giant button_command--flexible shelf__button js-cta js-track-event" data-ga_action="Click open SMS" data-ga_label="Call to Action shelf">
          <span class="button_label"><%= raw Settings::Marketing.cta_button %></span>
        </a>

        <p class="modal__block modal__block--hint">
          or
          <a href="/signup?email=1" class="js-track-event" data-ga_category="<%= category %>" data-ga_action="Click Sign Up with Email Link" data-ga_label="In modal">
            <%= Settings::Marketing.cta_alternative_button %>
          </a>
        </p>
      </div><!-- eo modal__head -->
    </div><!-- eo .modal -->

  </div>
</div>

<% if with_js %>
  <%= javascript_tag do %>
    <%= render :partial => "signup_cta_brains", :locals => {:from_similar_video=> @from_similar_video}, :formats=>[:js] %>
  <% end %>
<% end %>
