<li class="seovideo__item">
  <blockquote class="media_module seovideo__message">
    <span class="image_module xuser-avatar media_image" style="background-image: url(<%= message["user_image_url"] %>);" role="img">
      <img src="<%= message["user_image_url"] %>" class="visuallyhidden" title="<%= message["nickname"] %>" alt="<%= message["nickname"] %>">
    </span>

    <div class="media_body">
      <p class="xuser-data">
        <span class="xuser-data-timestamp">
          <%= message["created_at"] %>
        </span>

        <strong>
          <%= message["realname"] %>
        </strong>

        <span class="xuser-data-origin-name">
          @<%= message["nickname"] %>
        </span>
      </p>

      <p>
        <%= message["text"] %>
      </p>

    </div>
  </blockquote><!-- eo .media_module-->
</li>
