<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrapper clearfix">
  <header class="seovideo__head clearfix" role="banner">
      <a href="http://shelby.tv" class="shelby-logo">
        <div class="shelby_logo shelby_logo--inverted">
          <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
        </div>
      </a>
      <!-- TODO: copy Login button from new Landing page stuff -->
      <h2 class="seovideo__h1">
        Shelby.tv is the smartest way to discover video
      </h2>
  </header><!-- eo seovideo-head -->

  <div class="seovideo__wrapper clearfix">
    <article role="main" class="seovideo">
      <div class="seovideo__main">
        <h1 class="seovideo__h2">
          <%= @video_title %>
        </h1>

        <div class="seovideo__video_wrapper">
          <div class="seovideo__video">
            <% if @video_provider_name == "youtube" %>
              <%= render :partial => "youtube_embed", :locals => { :video_provider_id => @video_provider_id } %>
            <% else %>
              <%= raw @video_embed %>
            <% end %>
          </div>

          <div class="seovideo__video_details">
            <h3 class="seovideo__h3">
              <%= @video_author %>
            </h3>

            <p>
              <%= @video_description %>
            </p>

            <ul class="seovideo__list seovideo__list--social">
              <li class="seovideo__item">
                <div class="fb-like clearfix" data-href="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false" data-font="arial"></div>
              </li>

              <li class="seovideo__item">
                <a href="https://twitter.com/share" class="twitter-share-button clearfix" data-url="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-count="none" data-text="<%= @video_title %> via @Shelby">Tweet</a>
              </li>

              <li class="seovideo__item">
                <div class="g-plusone-wrapper clearfix">
                  <div class="g-plusone clearfix" data-size="medium" data-annotation="none"></div>
                </div>
              </li>
            </ul><!-- eo .seovideo__list--social -->

          </div><!-- eo .seovideo-details -->

        </div><!-- eo .seovideo__video_wrapper -->
      </div><!-- eo .seovideo__main -->
    </article><!-- eo .seovideo -->

    <aside class="seovideo__aside clearfix">
      <div class="seovideo__aside_lining frame-body-wrapper clearfix">
        <h3 class="seovideo__h1">
          More awesome videos hand-picked by the Shelby community
        </h3>
          <%
            channels = [
              {
                'url'      => 'nature',
                'name'      => 'Nature is Rad',
                'title'     => '#nature',
                'thumbnail' => '/images/landing/nature_2.jpg',
                'liker_count' => '47',
                'likers'    => [
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4f805b5dad9f1151d500006e?1347497016000',
                    'name'   => 'nfpagliaro'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7d154ff6db244f5e000001?1347033016000',
                    'name'   => 'reece'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4d922293f6db24463100000b?1361117209000',
                    'name'   => 'enelson1'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4dcd0063f6db2435a1000001?1349895994000',
                    'name'   => 'vladimir'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4ea4fc738848206fd800001d?1349883425000',
                    'name'   => 'kunaltandon'
                  }
                ]
              },
              {
                'url'      => 'laugh',
                'name'      => 'Laugh',
                'title'     => '#laugh',
                'thumbnail' => '/images/landing/laugh.jpg',
                'liker_count' => '35',
                'likers'    => [
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4f805b5dad9f1151d500006e?1347497016000',
                    'name'   => 'nfpagliaro'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7d154ff6db244f5e000001?1347033016000',
                    'name'   => 'reece'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4d922293f6db24463100000b?1361117209000',
                    'name'   => 'enelson1'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4dcd0063f6db2435a1000001?1349895994000',
                    'name'   => 'vladimir'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4ea4fc738848206fd800001d?1349883425000',
                    'name'   => 'kunaltandon'
                  }
                ]
              },
              {
                'url'      => 'adrenaline',
                'name'      => 'Adrenaline',
                'title'     => '#adrenaline',
                'thumbnail' => '/images/landing/adren.jpg',
                'liker_count' => '20',
                'likers'    => [
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4f805b5dad9f1151d500006e?1347497016000',
                    'name'   => 'nfpagliaro'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4d7d154ff6db244f5e000001?1347033016000',
                    'name'   => 'reece'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq192x192/4d922293f6db24463100000b?1361117209000',
                    'name'   => 'enelson1'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4dcd0063f6db2435a1000001?1349895994000',
                    'name'   => 'vladimir'
                  },
                  {
                    'avatar' => 'http://s3.amazonaws.com/shelby-gt-user-avatars/sq48x48/4ea4fc738848206fd800001d?1349883425000',
                    'name'   => 'kunaltandon'
                  }
                ]
              }
            ]
          %>
        <ul class="seovideo__list seovideo__list--aside clearfix">
          <% channels.each do |channel| %>
            <li class="seovideo__item one-third">
              <a href="#">
                <h4 class="seovideo__h4">
                  <%= channel["title"] %>
                </h4>

                <span role="img" class="seovideo__thumbnail icon-player_play" style="background-image: url(<%= channel["thumbnail"] %>)">
                  <img src="<%= channel["thumbnail"] %>" class="visuallyhidden" alt="<%= channel["name"] %>" title="Click to watch!" />
                </span>
              </a>

              <div class="frame-likes frame-external-subline icon-heart icon-heart--red js-frame-likes">
                <ul class="list frame-likes-avatars js-liker-avatars-list">
                  <% channel["likers"].each do |liker| %>
                    <li>
                      <span class="frame-likes-link js-track-event" data-ga_action="Click liker" data-ga_label="<%= channel["title"] %>">
                        <img class="frame-likes-avatar" src="<%= liker["avatar"]%>" title="<%= liker["name"] %>" alt="<%= liker["name"] %>">
                      </span>
                    </li>
                  <% end %>
                </ul>

                <span class="frame-likes-count frame-external-subline-text">
                  +<%= channel["liker_count"] %>
                </span>
              </div><!-- eo frame-likes -->
            </li>
          <% end %>
        </ul>
      </div>
    </aside><!-- eo .seovideo__aside -->

    <div class="seovideo__messages clearfix">
      <% if @messages %>
        <% if @messages[:shelby].length > 0 %>
          <h3 class="seovideo__h3">
          Shelby Rolls
          </h3>

          <ul class="seovideo__list">
          <% @messages[:shelby].each do |message| %>
            <%= render :partial => "generic_message", :locals => { :message => message } %>
          <% end %>
          </ul>
        <% end %>

        <% if @messages[:facebook].length > 0 %>
          <h3 class="seovideo__h3">
            Reactions on Facebook
          </h3>

          <ul class="seovideo__list">
          <% @messages[:facebook].each do |message| %>
            <%= render :partial => "generic_message", :locals => { :message => message } %>
          <% end %>
          </ul>
        <% end %>

        <% if @messages[:twitter].length > 0 %>
          <h3 class="seovideo__h3">
            Reactions on Twitter
          </h3>

          <ul class="seovideo__list">
          <% @messages[:twitter].each do |message| %>
            <%= render :partial => "twitter_message", :locals => { :message => message } %>
          <% end %>
          </ul>
        <% end %>

        <% if @messages[:tumblr].length > 0 %>
          <h3 class="seovideo__h3">
            Reactions on Tumblr
          </h3>

          <ul class="seovideo__list">
          <% @messages[:tumblr].each do |message| %>
            <%= render :partial => "generic_message", :locals => { :message => message } %>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </div><!-- eo .seovideo__messages -->
  </div>
</div><!-- eo .content-wrapper -->

<!-- TWITTER INTENTS -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<script>
  //TWITTER
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  //GOOGLE PLUS
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

  //search
  $(document).ready(function(){
    $('.js-search-form').on('submit', function(e){
      e.preventDefault();
      var searchQuery = $(e.currentTarget).find("#seovideo-search").val();

      if (searchQuery) {
        if("<%= @is_mobile %>" !== "") {
          var params = {
            "q" : searchQuery,
            "max-results" : "50",
            "orderby" : "relevance"
          };

            // Create a callback
            var cb = function(res){
            // Create array of returned YouTube video URLs
            var urls = new Array();
            if (typeof res !== 'undefined'){
              res.forEach(function(r){
                if (r.link != undefined) {
                  r.link.forEach(function(l){
                    if(l.rel != undefined && l.rel == "alternate") {
                      if(l.href != undefined) {
                        urls.push(l.href);
                      }
                    }
                  });
                }
              });
            }

            if (urls.length !== 0) {
              // Get Shelby API to create genius roll based on URLs -- XXX this needs error checking
              $.post('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>' + '/roll/genius', {'search': searchQuery, 'urls': JSON.stringify(urls)}, function(data){
                if (data.status == 200){
                  var _rollUrl = '<%= Settings::Application.mobile_url %>' + "/roll/" + data.result.id;
                  window.location.href = _rollUrl;
                }
                else { alert("Something went wrong, please try again."); }
              });
            }
            else { //if no URLs:
              $('.js-search__input').val('').attr('placeholder','sorry, nothing turned up');
            }
          };

          // Call ytQuery.query, passing params and your callback
          ytQuery.query(params, cb);

        } else {
          window.location.href = '/search?query=' + encodeURIComponent(searchQuery);
        }

        try {
          _gaq.push(['_trackEvent', 'SEO Video', 'search', searchQuery.toLowerCase()]);
        } catch(e) {}
      }
    });
  });
</script>