<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrapper clearfix">
  <header class="seovideo-head clearfix" role="banner">
    <div class="shelby-header clearfix">
      <a href="http://shelby.tv" class="shelby-logo">
        <h1 class="shelby-title ir">
          Shelby.tv
        </h1>
      </a>
      <!-- TODO: copy Login button from new Landing page stuff -->
    </div>

    <div class="seovideo__banner_wrapper seovideo__banner_wrapper--true frame-body-wrapper">
      <h2 class="seovideo__h2">
        <% if @seo_search_messaging == :sell_providers  %>
          See more video that matches your search from<br /> YouTube, Vimeo, and Dailymotion:
        <% else %>
          Watch more on Shelby.tv, the only video search that plays your results instead of showing you text.
        <% end  %>
      </h2>

      <div class="media_module seovideo__banner clearfix">
        <form action="/search" id="js-seovideo-search-form" class="form_module form_module_horz form_module--search">
          <div class="media_image media_image--rev">
            <button class="button_primer button_blue form_submit" tabindex="0" <% if (@search_query)%>autofocus="autofocus"<% end %>>
              Search
            </button>
          </div>

          <div class="media_body">
            <label for="js-seovideo-search-form-text" class="form_label visuallyhidden">
              Search:
            </label>

            <% if @search_query %>
              <input id="js-seovideo-search-form-text" name="query" value="<%= @search_query%>" type="text" class="form_input" />
            <% else %>
              <input id="js-seovideo-search-form-text" name="query" type="text" class="form_input" autofocus="autofocus" />
            <% end %>
          </div>
        </form>
      </div>
    </div><!-- eo seovideo__banner_wrapper -->
  </header><!-- eo seovideo-head -->

  <div class="seovideo__wrapper clearfix">
    <article role="main" class="seovideo">
      <div class="seovideo__main">
        <h2 class="seovideo__h2">
          <%= @video_title %>
        </h2>
        <div class="seovideo__video_wrapper frame-body-wrapper">
          <div class="seovideo__video">
            <% if @video_provider_name == "youtube" %>
              <%= render :partial => "youtube_embed", :locals => { :video_provider_id => @video_provider_id } %>
            <% else %>
              <%= raw @video_embed %>
            <% end %>
          </div>

          <div class="seovideo__video_details">
            <h3 class="seovideo__h3">
              <%= @video_author %>
            </h3>

            <p>
              <%= @video_description %>
            </p>

            <ul class="seovideo__list seovideo__list--social">
              <li class="seovideo__item">
                <div class="fb-like clearfix" data-href="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false" data-font="arial"></div>
              </li>

              <li class="seovideo__item">
                <a href="https://twitter.com/share" class="twitter-share-button clearfix" data-url="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-count="none" data-text="<%= @video_title %> via @Shelby">Tweet</a>
              </li>

              <li class="seovideo__item">
                <div class="g-plusone-wrapper clearfix">
                  <div class="g-plusone clearfix" data-size="medium" data-annotation="none"></div>
                </div>
              </li>
            </ul><!-- eo .seovideo__list--social -->

          </div><!-- eo .seovideo-details -->

        </div><!-- eo .seovideo__video_wrapper -->
      </div><!-- eo .seovideo__main -->

      <aside class="seovideo__aside clearfix">
        <% if !@video_related_videos.empty? %>
          <div class="seovideo__aside_lining">
            <h3 class="seovideo__h3">
              Related Video
            </h3>

            <ul class="seovideo__list seovideo__list--aside clearfix">
              <!-- Video Plug -->
              <li class="seovideo__item seovideo__item--advertisement seo__item--advertisement-<%= @seo_ad_videocard %>">
                <a href="http://holidays.shelby.tv/?utm_campaign=seo"
                  class="seovideo__link js-track-event" title="Shelby.tv #Holidays"
                  data-ga_category="SEO Video"
                  data-ga_action="Click on Advertisement"
                  data-ga_label="#Holidays">
                  <div class="related_video frame-body-wrapper clearfix">
                    <div class="related_video__main">
                      <span role="img" class="seovideo__thumbnail">
                        <img class="visuallyhidden" src="/images/seovideo/seo_holiday_4.jpg" alt="Shelby #holidays Roll" title="Click to watch the #holidays Roll!" />
                      </span>
                    </div><!-- eo related_video__main -->

                    <div class="related_video__footer">
                      <div class="related_video__footer-lining">
                        <div class="button_icon_right icon_chevron_white icon">
                          <h4 class="seovideo__h4">
                            Holiday TV <br class="br--obvious"/> presenting the web's
                            latest <strong>#holiday</strong> videos
                          </h4>

                          <p class="seovideo__subline">
                            Powered by Shelby.tv
                          </p>
                        </div>
                      </div><!-- eo related_vido__footer-lining -->
                    </div><!-- eo related_video__footer -->
                  </div><!-- eo .related_video -->
                 </a>
              </li>
              <!-- eo Video Plug -->

              <% @video_related_videos.each do |related_video| %>
                <li class="seovideo__item">
                  <a href="http://shelby.tv/video/<%= related_video["provider_name"] %>/<%= related_video["provider_id"] %>/<%= hyphenateString(related_video["title"]) %>"
                    class="seovideo__link js-track-event" title="<%= related_video["title"] %>"
                    data-ga_category="SEO Video"
                    data-ga_action="Click on Related Video"
                    data-ga_label="<%= @video_title %>">
                    <div class="related_video frame-body-wrapper clearfix">
                      <div class="related_video__main">
                        <span role="img" class="seovideo__thumbnail" style="background-image: url(<%= related_video["thumbnail_url"] %>);">
                          <img class="visuallyhidden" src="<%= related_video["thumbnail_url"] %>" alt="<%= related_video["title"] %>" title="<%= related_video["title"] %>" />
                        </span>
                      </div><!-- eo related_video__main -->

                      <div class="related_video__footer">
                        <div class="related_video__footer-lining">
                          <h4 class="seovideo__h4 button_icon_right icon_chevron icon">
                            <%= related_video["title"] %>
                          </h4>
                        </div><!-- eo related_vido__footer-lining -->
                      </div><!-- eo related_video__footer -->
                    </div><!-- eo .related_video -->
                   </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </aside><!-- eo .seovideo__aside -->

			<div id="disqus_thread" class="frame-body-wrapper"></div>

      <div class="seovideo__messages clearfix">
        <% if @messages %>
          <% if @messages[:shelby].length > 0 %>
            <h3 class="seovideo__h3">
            Shelby Rolls
            </h3>

            <ul class="seovideo__list">
            <% @messages[:shelby].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:facebook].length > 0 %>
            <h3 class="seovideo__h3">
            Facebook Shares
            </h3>

            <ul class="seovideo__list">
            <% @messages[:facebook].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:twitter].length > 0 %>
            <h3 class="seovideo__h3">
            Twitter Tweets
            </h3>

            <ul class="seovideo__list">
            <% @messages[:twitter].each do |message| %>
              <%= render :partial => "twitter_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:tumblr].length > 0 %>
            <h3 class="seovideo__h3">
            Tumblr Posts
            </h3>

            <ul class="seovideo__list">
            <% @messages[:tumblr].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </div><!-- eo .seovideo__messages -->
    </article><!-- eo .seovideo -->
  </div>
</div><!-- eo .content-wrapper -->

<!-- TWITTER INTENTS -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- TWITTER -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- GOOGLE PLUS -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- DISQUS -->
<script type="text/javascript">
	var disqus_developer = ("<%= Rails.env %>" == "production") ? 0 : 1; // developer mode is on
	var disqus_identifier = "<%= @video_provider_name %>:<%= @video_provider_id %>";
	var disqus_title = "Shelby.tv | <%= @video_title %>";

	var disqus_shortname = 'shelbytv';

	(function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = 'http://'+disqus_shortname+'.disqus.com/embed.js';
			dsq.id = 'disqus-script';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>

<!-- Email Submit -->
<script type="text/javascript">
$(document).ready(function(){
  $('#js-email-form').on('submit', function(){
    $.get('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>/POST/gt_interest', $(this).serialize(), function(data) {
      $('#js-email-form').addClass('hidden');
      $('#js-thankyou').removeClass('hidden');
    }, 'jsonp');
    return false;
  });

  $('#js-seovideo-search-form').on('submit', function(e){
    // form handles its own submission, so don't stop propagation
    // but also want to track the search as an event in ga
    var searchQuery = $(e.currentTarget).find("#js-seovideo-search-form-text").val().toLowerCase();
    if (!searchQuery) {
      e.preventDefault();
    } else {
      try {
          _gaq.push(['_trackEvent', 'SEO Video', 'search', searchQuery]);
      } catch(e) {}
    }
  });
});
</script>