<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render :partial => "signup_cta", :locals => { :with_js => true, :category => 'SEO Video' } %>

<div class="shelby__wrapper clearfix">
  <%= render :partial => '/home/landing_header', :locals => {:show_login => true, :user_signed_in => @user_signed_in} %>

  <div class="seovideo__wrapper clearfix">
    <%= render :partial => '/home/shelf/errors' %>
    <%#= render :partial => '/home/shelf/slogan' %>

    <article role="main" class="seovideo<%= " seovideo--light" if @video_related_videos.empty? %>">
      <div class="seovideo__main">
        <h1 class="seovideo__h2">
          <%= @video_title %>
        </h1>

        <div class="seovideo__video_wrapper frame-body-wrapper">
          <div class="video__wrapper">
            <% if @video_provider_name == "youtube" %>
              <%= render :partial => "youtube_embed", :locals => { :video_provider_id => @video_provider_id } %>
            <% else %>
              <%= raw @video_embed %>
            <% end %>
          </div>

          <div class="seovideo__video_details">
            <h3 class="seovideo__h3">
              <%= @video_author %>
            </h3>

            <p>
              <%= @video_description %>
            </p>

            <ul class="seovideo__list seovideo__list--social">
              <li class="seovideo__item">
                <div class="fb-like clearfix" data-href="https://www.facebook.com/shelbytv" data-width="200" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-height="40"></div>
              </li>

              <li id="twitter-intent" class="seovideo__item"></li>

              <li class="seovideo__item">
                <div class="g-plusone-wrapper clearfix">
                  <div class="g-plusone clearfix" data-size="medium" data-annotation="none" data-callback="gPlusOneCallback"></div>
                </div>
              </li>
            </ul><!-- eo .seovideo__list--social -->

          </div><!-- eo .seovideo-details -->

        </div><!-- eo .seovideo__video_wrapper -->
      </div><!-- eo .seovideo__main -->


      <% if !@video_related_videos.empty? %>
        <aside class="seovideo__aside clearfix">
          <div class="seovideo__aside_lining">
            <h3 class="seovideo__h3">
              Related Videos
            </h3>

            <ul class="seovideo__list seovideo__list--aside js-similar-video-list clearfix">
              <% @video_related_videos.each do |related_video| %>
                <li class="seovideo__item">
                  <a href="<%= Settings::Application.url %>/video/<%= related_video["provider_name"] %>/<%= related_video["provider_id"] %>/<%= hyphenateString(related_video["title"]) %>"
                    class="seovideo__link js-track-event" title="<%= related_video["title"] %>"
                    data-ga_category="SEO Video"
                    data-ga_action="Click on Related Video"
                    data-ga_label="<%= @video_title %>">
                    <div class="related_video frame-body-wrapper clearfix">
                      <div class="related_video__main">
                        <span role="img" class="seovideo__thumbnail" style="background-image: url(<%= related_video["thumbnail_url"] %>);">
                          <img class="visuallyhidden" src="<%= related_video["thumbnail_url"] %>" alt="<%= related_video["title"] %>" title="<%= related_video["title"] %>" />
                        </span>
                      </div><!-- eo related_video__main -->

                      <div class="related_video__footer">
                        <div class="related_video__footer-lining">
                          <h4 class="seovideo__h4">
                            <%= related_video["title"] %>
                          </h4>

                          <span class="icon icon-chevron"></span>
                        </div><!-- eo related_vido__footer-lining -->
                      </div><!-- eo related_video__footer -->
                    </div><!-- eo .related_video -->
                   </a>
                </li>
              <% end %>
            </ul>
          </div>
        </aside><!-- eo .seovideo__aside -->
      <% end %>

      <div class="seovideo__messages clearfix">
        <% if @messages %>
          <% if @messages[:shelby].length > 0 %>
            <h3 class="seovideo__h3">
            Shelby Shares
            </h3>

            <ul class="seovideo__list">
            <% @messages[:shelby].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:facebook].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Facebook
            </h3>

            <ul class="seovideo__list">
            <% @messages[:facebook].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:twitter].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Twitter
            </h3>

            <ul class="seovideo__list">
            <% @messages[:twitter].each do |message| %>
              <%= render :partial => "twitter_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:tumblr].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Tumblr
            </h3>

            <ul class="seovideo__list">
            <% @messages[:tumblr].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </div><!-- eo .seovideo__messages -->
    </article><!-- eo .seovideo -->
  </div>
</div><!-- eo .content-wrapper -->

<script>
  // Facebook -->
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Settings::Facebook.facebook_app_id %>', // App ID
      channelURL : '//shelby.tv/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });

    // event listentin'
    FB.Event.subscribe('edge.create',
      function(response) {
        try {
        _gaq.push(['_trackEvent', 'SEO Video', 'Like Shelby on FB', response]);
      } catch(e) {}
      }
    );
  };

  //TWITTER specific
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

  twttr.ready(function (twttr) {
    twttr.events.bind('click', function(r){
      if (!r) return;
      try {
        _gaq.push(['_trackEvent', 'SEO Video', 'Click Twitter Follow ', r.type]);
      } catch(e) {}
    });
    twttr.events.bind('follow', function (r) {
      if (!r) return;
      try {
        _gaq.push(['_trackEvent', 'SEO Video', 'Followed Shelby', r.type]);
      } catch(e) {}
    });
    twttr.widgets.createFollowButton(
      "http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>",
      document.getElementById('twitter-intent'),
      function(){
        // loaded button
      },
      {
        count: 'none',
        text: '<%= @video_title %>',
        screen_name: 'Shelby',
        size: "medium"
      }
    );
  });
  //end TWITTER

  // GOOGLE PLUS
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

  var gPlusOneCallback = function(event){
    if (!event) { return; }
    try {
        _gaq.push(['_trackEvent', 'SEO Video', '+1 on Google', event.href]);
      } catch(e) {}
  };

  $(document).ready(function(){
    $('.js-search-form').on('submit', function(e){
      e.preventDefault();

      var searchQuery = $(e.currentTarget).find("#seovideo-search").val();
      if (searchQuery) {
        window.location.href = '/search?query=' + encodeURIComponent(searchQuery);

        try {
          _gaq.push(['_trackEvent', 'SEO Video', 'search', searchQuery.toLowerCase()]);
        } catch(e) {}
      }
    });
  });
</script>
