<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrapper clearfix">
  <header class="seovideo-head clearfix" role="banner">
    <div class="shelby-header clearfix">
      <a href="http://shelby.tv" class="shelby-logo">
        <h1 class="shelby-title ir">
          Shelby.tv
        </h1>
      </a>
      <!-- TODO: copy Login button from new Landing page stuff -->
    </div>

    <div class="seovideo-subhead clearfix">
      <a href="http://shelby.tv" title="Click to Join Shelby.tv!" class="seovideo-button seovideo-signup js-track-event" data-ga_category="SEO Video" data-ga_action="Click on Signup Button" data-ga_label="<%= @video_title %>">
        Click here now!
      </a>

      <h2 class="seovideo-subheader">
        This video is brought to you by Shelby.tv - try out the free web app and discover all the amazing new videos your friends are sharing together.
      </h2>
    </div>
  </header>

  <div class="seovideo-wrapper clearfix">
    <div class="seovideo-column-left">
      <section class="seovideo-section seovideo-card">
        <h3 class="seovideo-column-header">
          <%= @video_title %>
        </h3>

        <div class="seovideo-embed">
          <% if @video_provider_name == "youtube" %>
            <%= render :partial => "youtube_embed", :locals => { :video_provider_id => @video_provider_id } %>
          <% else %>
            <%= raw @video_embed %>
          <% end %>
        </div>

        <div class="seovideo-details-wrapper"> 
        <div class="seovideo-details">
          <p>
            Author: <%= @video_author %>
          </p>
 
          <p>
            Description: <%= @video_description %>
          </p>

        </div><!-- eo seovideo-details -->
        </div>
        <div class="seovideo-social">
          <div class="seovideo-social-button clearfix">
            <div class="fb-like clearfix" data-href="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false" data-font="arial"></div>
          </div>
          <div class="seovideo-social-button clearfix">
            <a href="https://twitter.com/share" class="twitter-share-button clearfix" data-url="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-count="none" data-text="<%= @video_title %> via @Shelby">Tweet</a>
          </div>
          <div class="seovideo-social-button clearfix">
            <div class="g-plusone-wrapper clearfix">
              <div class="g-plusone clearfix" data-size="medium" data-annotation="none"></div>
            </div>
          </div>
        </div>
      </section><!-- eo seovideo-card -->
    </div><!-- eo seovideo-column-left -->

    <div class="seovideo-column-right">
      <% if !@video_related_response_body_results.empty? %>
        <div class="seovideo-relatedvideos">
          <h3 class="seovideo-column-header">
            Related Videos
          </h3>
          <ul class="list_module seovideo-related-list">
            <% @video_related_response_body_results.each do |video_related| %>
              <li class="list_item seovideo-related-item seovideo-relatedvideo">
                <a href="http://shelby.tv/video/<%= video_related["provider_name"] %>/<%= video_related["provider_id"] %>/<%= hyphenateString(video_related["title"]) %>" class="seovideo-relatedvideo-link js-track-event" title="<%= video_related["title"] %>" data-ga_category="SEO Video" data-ga_action="Click on Related Video" data-ga_label="<%= @video_title %>">
                  <img src="<%= video_related["thumbnail_url"] %>" alt="<%= video_related["title"] %>" title="<%= video_related["title"] %>" />

                  <p class="seovideo-relatedvideo-title">
                    <%= video_related["title"] %>
                  </p>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="seovideo-genius-ad">
	 <a href="http://itunes.apple.com/us/app/shelby-genius/id556665733" class="js-track-event" data-ga_category="SEO Video" data-ga_action="Click on Genius Ad" data-ga_label="<%= @video_title %>"> 
         <img src="/images/landing/geniuslogo.png" class="genius-logo" alt="Shelby Genius" />
         <p>A fun way to discover videos from YouTube, Vimeo &amp; Dailymotion.</p>
         </a>
         <a href="http://itunes.apple.com/us/app/shelby-genius/id556665733" class="appstore-button clearfix js-track-event" data-ga_action="Click on Genius Ad" data-ga_label="<%= @video_title %>">
            <i class="button_icon_left icon_iphone iphone-icon">
               Available on the <span>App Store</span>
            </i>
         </a>
      </div>

    </div><!-- eo seovideo-column-right -->

    <div class="seovideo-messages clearfix">
      <ul class="list_module seovideo-messages-list">
        <% if @conversations %>
          <% @conversations.each do |conversation| %>
            <% conversation["messages"].first(1).each do |message| %>
              <li class="list_item seovideo-messages-item">
                <blockquote class="media_module seovideo-messages-block">
                  <span class="image_module xuser-avatar media_image" style="background-image: url(<%= message["user_image_url"] %>);" role="img">
                    <img src="<%= message["user_image_url"] %>" class="visuallyhidden" title="<%= message["nickname"] %>" alt="<%= message["nickname"] %>">
                  </span>

                  <div class="media_body">
                    <p class="xuser-data">
                      <span class="xuser-data-timestamp">
                        <%= message["created_at"] %>
                      </span>

                      <% if message["origin_network"] && message["origin_network"] == "twitter" %>
                        <strong>
                          <%= message["realname"] %>
                        </strong>                        

                        <span class="xuser-data-origin-name">
                          @<%= message["nickname"] %>
                        </span>
                      <% else %>
                        <strong>
                          <%= message["nickname"] %>
                        </strong>                      
                      <% end %>
                    </p>

                    <p>
                      <%= message["text"] %>
                    </p>

                  </div>
                </blockquote><!-- eo .media_module-->
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div><!-- eo seovideo-messages -->
  </div><!-- eo seovideo-wrapper -->

</div><!-- eo content-wrapper -->	
<!-- TWITTER INTENTS -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- TWITTER -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- GOOGLE PLUS -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
