<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content-wrapper clearfix">
  <header class="seovideo-head clearfix" role="banner">
    <div class="shelby-header clearfix">
      <a href="http://shelby.tv" class="shelby-logo">
        <div class="shelby_logo">
          <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
        </div>
      </a>
      <!-- TODO: copy Login button from new Landing page stuff -->
    </div>

    <div class="seovideo__banner_wrapper seovideo__banner_wrapper--true frame-body-wrapper">
      <h2 class="seovideo__h2">
        <% if @seo_search_label == :show_label %>
          Test
        <% end %>
      </h2>

      <div class="media_module seovideo__banner clearfix">
        <form action="/search" class="js-search-form form_module form_module--search">
          <fieldset class="search_module">
            <label for="seovideo-search" class="form_label visuallyhidden">
              Search Shelby.tv:
            </label>

            <button class="button_primer button_blue search_module__submit" tabindex="0" <% if (@search_query)%>autofocus="autofocus"<% end %>>
              Search
            </button>

            <span class="search_module__input_wrapper">
              <% if @search_query %>
                <input id="seovideo-search" name="query" value="<%= @search_query%>" type="text" class="js-search__input form_input search_module__input" />
              <% else %>
                <input id="seovideo-search" name="query" type="text" class="js-search__input form_input search_module__input" autofocus="autofocus" />
              <% end %>
            </span>
          </fieldset><!-- eo search_module -->

          <div class="media_body">

          </div>
        </form>
      </div>
    </div><!-- eo seovideo__banner_wrapper -->
  </header><!-- eo seovideo-head -->

  <div class="seovideo__wrapper clearfix">
    <article role="main" class="seovideo <%= "seovideo--light" if @video_related_videos.empty? %>">
      <div class="seovideo__main">
        <h1 class="seovideo__h2">
          <%= @video_title %>
        </h1>

        <div class="seovideo__video_wrapper frame-body-wrapper">
          <div class="seovideo__video">
            <% if @video_provider_name == "youtube" %>
              <%= render :partial => "youtube_embed", :locals => { :video_provider_id => @video_provider_id } %>
            <% else %>
              <%= raw @video_embed %>
            <% end %>
          </div>

          <div class="seovideo__video_details">
            <h3 class="seovideo__h3">
              <%= @video_author %>
            </h3>

            <p>
              <%= @video_description %>
            </p>

            <ul class="seovideo__list seovideo__list--social">
              <li class="seovideo__item">
                <div class="fb-like clearfix" data-href="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false" data-font="arial"></div>
              </li>

              <li class="seovideo__item">
                <a href="https://twitter.com/share" class="twitter-share-button clearfix" data-url="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>" data-count="none" data-text="<%= @video_title %> via @Shelby">Tweet</a>
              </li>

              <li class="seovideo__item">
                <div class="g-plusone-wrapper clearfix">
                  <div class="g-plusone clearfix" data-size="medium" data-annotation="none"></div>
                </div>
              </li>
            </ul><!-- eo .seovideo__list--social -->

          </div><!-- eo .seovideo-details -->

        </div><!-- eo .seovideo__video_wrapper -->
      </div><!-- eo .seovideo__main -->

      <% if !@video_related_videos.empty? %>
        <aside class="seovideo__aside clearfix">
          <div class="seovideo__aside_lining">
            <h3 class="seovideo__h3">
              Related Videos
            </h3>

            <ul class="seovideo__list seovideo__list--aside clearfix">
              <% @video_related_videos.each do |related_video| %>
                <li class="seovideo__item">
                  <a href="http://shelby.tv/video/<%= related_video["provider_name"] %>/<%= related_video["provider_id"] %>/<%= hyphenateString(related_video["title"]) %>"
                    class="seovideo__link js-track-event" title="<%= related_video["title"] %>"
                    data-ga_category="SEO Video"
                    data-ga_action="Click on Related Video"
                    data-ga_label="<%= @video_title %>">
                    <div class="related_video frame-body-wrapper clearfix">
                      <div class="related_video__main">
                        <span role="img" class="seovideo__thumbnail" style="background-image: url(<%= related_video["thumbnail_url"] %>);">
                          <img class="visuallyhidden" src="<%= related_video["thumbnail_url"] %>" alt="<%= related_video["title"] %>" title="<%= related_video["title"] %>" />
                        </span>
                      </div><!-- eo related_video__main -->

                      <div class="related_video__footer">
                        <div class="related_video__footer-lining">
                          <h4 class="seovideo__h4 button_icon_right icon_chevron icon">
                            <%= related_video["title"] %>
                          </h4>
                        </div><!-- eo related_vido__footer-lining -->
                      </div><!-- eo related_video__footer -->
                    </div><!-- eo .related_video -->
                   </a>
                </li>
              <% end %>
            </ul>
          </div>
        </aside><!-- eo .seovideo__aside -->
      <% end %>

      <div class="seovideo__messages clearfix">
        <% if @messages %>
          <% if @messages[:shelby].length > 0 %>
            <h3 class="seovideo__h3">
            Shelby Rolls
            </h3>

            <ul class="seovideo__list">
            <% @messages[:shelby].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:facebook].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Facebook
            </h3>

            <ul class="seovideo__list">
            <% @messages[:facebook].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:twitter].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Twitter
            </h3>

            <ul class="seovideo__list">
            <% @messages[:twitter].each do |message| %>
              <%= render :partial => "twitter_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>

          <% if @messages[:tumblr].length > 0 %>
            <h3 class="seovideo__h3">
              Reactions on Tumblr
            </h3>

            <ul class="seovideo__list">
            <% @messages[:tumblr].each do |message| %>
              <%= render :partial => "generic_message", :locals => { :message => message } %>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </div><!-- eo .seovideo__messages -->
    </article><!-- eo .seovideo -->
  </div>
</div><!-- eo .content-wrapper -->

<!-- TWITTER INTENTS -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<script>
  //TWITTER
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  //GOOGLE PLUS
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

  //search
  $(document).ready(function(){
    $('.js-search-form').on('submit', function(e){
      e.preventDefault();
      var searchQuery = $(e.currentTarget).find("#seovideo-search").val();

      if (searchQuery) {
        if("<%= @is_mobile %>" !== "") {
          var params = {
            "q" : searchQuery,
            "max-results" : "50",
            "orderby" : "relevance"
          };

            // Create a callback
            var cb = function(res){
            // Create array of returned YouTube video URLs
            var urls = new Array();
            if (typeof res !== 'undefined'){
              res.forEach(function(r){
                if (r.link != undefined) {
                  r.link.forEach(function(l){
                    if(l.rel != undefined && l.rel == "alternate") {
                      if(l.href != undefined) {
                        urls.push(l.href);
                      }
                    }
                  });
                }
              });
            }

            if (urls.length !== 0) {
              // Get Shelby API to create genius roll based on URLs -- XXX this needs error checking
              $.post('<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.version}" %>' + '/roll/genius', {'search': searchQuery, 'urls': JSON.stringify(urls)}, function(data){
                if (data.status == 200){
                  var _rollUrl = '<%= Settings::Application.mobile_url %>' + "/roll/" + data.result.id;
                  window.location.href = _rollUrl;
                }
                else { alert("Something went wrong, please try again."); }
              });
            }
            else { //if no URLs:
              $('.js-search__input').val('').attr('placeholder','sorry, nothing turned up');
            }
          };

          // Call ytQuery.query, passing params and your callback
          ytQuery.query(params, cb);

        } else {
          window.location.href = '/search?query=' + encodeURIComponent(searchQuery);
        }

        try {
          _gaq.push(['_trackEvent', 'SEO Video', 'search', searchQuery.toLowerCase()]);
        } catch(e) {}
      }
    });
  });
</script>