<div class="content-wrapper">

  <header class="seovideo-header clearfix">
    <div class="seovideo-header-contents-mobile">
      <div class="seovideo-logo-mobile">
        <a href="http://shelby.tv"><img border=0px width=100px src="/images/seovideo/landing_logo.svg"></a>
      </div>
      <div class="seovideo-slogan-mobile">
        <a href="http://shelby.tv">TRY THE FREE WEB APP SHELBY.TV</a>
      </div>
    </div>
  </header>

  <hr class="seovideo-headerrule">

  <div class="seovideo-wrapper-mobile">

    <div class="seovideo-pitch-mobile">
      <a href="http://shelby.tv">This video is brought to you by Shelby.tv<br>Try out the free web app and discover all the amazing<br>new videos your friends are sharing together.</a>
    </div>

    <div class="seovideo-embed-mobile">
      <% if @provider_name == "youtube" %>
        <%= render :partial => "youtube_embed", :locals => { :provider_id => @provider_id } %>
      <% else %>
        <%= raw @video_embed %>
      <% end %>
    </div>
    <div class="seovideo-details-mobile">
      <p>Title: <%= @video_title %></p>
      <p>Author: <%= @video_author %></p>
      <p>Description: <%= @video_description %></p>
    </div><!-- eo seovideo-details -->

    <% if !@video_related_response_body_results.empty? %>
      <div class="seovideo-relatedvideos-mobile">
        <div class="seovideo-relatedvideo-header-mobile">
          Related Videos
        </div>
        <% @video_related_response_body_results.each do |video_related| %>
          <div class="seovideo-relatedvideo-mobile">
            <a href="http://shelby.tv/video/<%= video_related['provider_name'] %>/<%= video_related['provider_id'] %>/<%= hyphenateString(video_related['title']) %>"><img width=94 height=60 src=<%= video_related["thumbnail_url"] %> >
          </div>
        <% end %>
        <span style="width: 100%; display: inline-block; font-size: 0; line-height: 0"></span>
      </div>
    <% end %>


    <div class="seovideo-messages">
      <% @conversations.each do |conversation| %>
        <% conversation["messages"].each do |message| %>
          <hr class="seovideo-headerrule">
          <div class="seovideo-message-mobile">
            <div class="seovideo-message-image-mobile">
               <img width=36 height=36 src="<%= message["user_image_url"] %>">
            </div>
            <div class="seovideo-messagenickname-mobile">
              <% if message["origin_network"] && message["origin_network"] == "twitter" %>
                @<%= message["nickname"] %>
              <% else %>
                <%= message["nickname"] %>
              <% end %>
            </div>
            <div class="seovideo-messagetext-mobile">
              <%= message["text"] %>
            </div>
            <div class="seovideo-messagedate-mobile">
              Posted <%= message["created_at"] %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div><!-- eo seovideo-messages -->


  </div><!-- eo seovideo-wrapper -->

</div><!-- eo content-wrapper -->	
