<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <meta name="description" content="<%= Settings::Application.meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>shelby.tv | <%= @video_title %></title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= include_stylesheets :common %>
  <!--[if lt IE 9]><link href="/stylesheets/png.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->  
</head>

<body class="seovideo">
  <div class="content-wrapper">
    <header class="seovideo-header clearfix">
      <div class="seovideo-logo">
        <a href="http://shelby.tv"><img border=0px width=200px src="/images/seovideo/landing_logo.svg"></a>
      </div>
      <div class="seovideo-slogan">
        An amazing way to <br> discover and enjoy videos.
      </div>
    </header>

    <div class="seovideo-wrapper">
      <div class="seovideo-leftcol">

        <div class="seovideo-deets">
          <h1>
            Video Deets
          </h1>
          <br>
          <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%= @provider_id %>" frameborder="0">
          </iframe>
          <p class="seovideo-p">Title: <%= @video_title %></p>
          <p class="seovideo-p">Author: <%= @video_author %></p>
          <p class="seovideo-p">Duration: <%= @video_duration %></p>
          <p class="seovideo-p">Description: <%= @video_description %></p>
        </div><!-- eo seovideo-deets -->

        <div class="seovideo-sistervids">
          <h1>
            Sister Vids
          </h1>

          <% @video_sister_response_body_results.each do |video_sister| %>
          <div class="seovideo-sistervid">
            <img width=160 height=96 src=<%= video_sister["thumbnail_url"] %>
            <p class="seovideo-p"><%= video_sister["title"] %></p>
          </div>
          <% video_sister %>
          <% end %>
        </div>
      </div><!-- eo seovideo-leftcol -->

      <div class="seovideo-rightcol">
        <div class="seovideo-tweets">
          <h1>
            Comments, Tweets, and Posts
          </h1>

          <% @conversations.each do |conversation| %>
            <% conversation["messages"].each do |message| %>
              <div class="seovideo-message">
                <img width=48 height=48 src="<%= message["user_image_url"] %>" style="float:left">
                <div class="seovideo-messagenickname">
                  <%= message["nickname"] %>
                </div>
                <div class="seovideo-messagedate">
                  <%= message["created_at"] %>
                </div>
                <div class="seovideo-messagetext">
                  <%= message["text"] %>
                </div>
              </div>
            <% end %>
          <% end %>

        </div><!-- eo seovideo-tweets -->

      </div><!-- eo seovideo-rightcol -->

    </div><!-- eo seovideo-wrapper -->

  </div><!-- eo content-wrapper -->	

  <%# Asynchronous Google Analytics snippet via http://mathiasbynens.be/notes/async-analytics-snippet %>
  <script>
    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','gt.shelby.tv'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
