<% messages = {
    :low_watches => ["Want some feedback! Why not share that thang?", "Start letting the world know of this great video...", "Hrm. Low engagement? Gotta get the word out...", "Good work this week, but try sharing. Video is mean to be shared, right?"],
    :high_watches => ["You did great! Why not share the love?", "People like it! Get more people in!", "Nice Job. You're a regular Ted Turner. Tell someone!"]
  } %>

<section>
  <h1 class="share-message">
    <% if frame['view_count'] < 8 %>
      <%= messages[:low_watches][rand(messages[:low_watches].length)] %>
    <% else %>
      <%= messages[:high_watches][rand(messages[:high_watches].length)] %>
    <% end -%>
  </h1>
</section>
<section>
  <div class="share-buttons">
    <div class="twitter-holder">
      <iframe allowTransparency="true" frameborder="0" scrolling="no"
src="//widgets.awe.sm/v3/tweet_button?data-url=http://<%= user["personal_roll_subdomain"] %>.shelby.tv/<%= frame["id"] %>&data-text=you%20have%20to%20see%20this%20video&data-count=horizontal&data-via=shelby&awesm_key=f12748410531715013799111011faecae481d592388431170984c908fde92c30"
style="border:none; overflow:hidden; width:55px; height:25px;"></iframe>
    </div>
    <div class="facebook-holder">
      <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-font="arial" data-href='http://<%= user["personal_roll_subdomain"] %>.shelby.tv/<%= frame["id"] %>/' data-ref="stats-page"></div>
    </div>
  </div>
</section>

