<% messages = {
    :low_watches => ["Want some feedback? Why not share that thang?", "Tell the world about this great video.", "Hrm. Low engagement? Get the word out...", "Good work this week, but try sharing. Video is mean to be shared, right?"],
    :high_watches => ["Great job! Why not share the love?", "People like it! They Like it!", "Nice job. You're a regular Ted Turner. Tell someone!"]
  } %>

<section>
  <h1 class="share-message">
    <% if frame['view_count'] < 5 %>
      <%= messages[:low_watches][rand(messages[:low_watches].length)] %>
    <% else %>
      <%= messages[:high_watches][rand(messages[:high_watches].length)] %>
    <% end -%>
  </h1>
</section>
<section>
  <div class="share-buttons">
    <ul class="menu_list menu_list--share-frame">
  <li class="menu_item">
    <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20video%20I%20found&url=http://<%= user["personal_roll_subdomain"] %>.shelby.tv/<%= frame["id"] %>">
      <button class="button_primer button_default menu_button--twitter js-share-to-twitter js-track-event" data-ga_category="User Stats" data-ga_action="Share frame on Twitter" data-ga_label="<%= @user['nickname'] %>">
        <i class="icon-social_twitter">
        </i>
          Tweet
      </button>
    </a>
  </li>
  <li class="menu_item">
    <button class="button_primer button_default menu_button--facebook js-share-to-facebook-<%= frame['id'] %> js-track-event" data-ga_category="User Stats" data-ga_action="Share frame on Facebook" data-ga_label="<%= @user['nickname'] %>">
      <i class="icon-social_facebook">
      </i>
        Share
    </button>
  </li>
  <li class="menu_item">
    <a href="mailto:?subject=Check%20out%20this%20great%20video&body=http://<%= user["personal_roll_subdomain"] %>.shelby.tv/<%= frame["id"] %>?utm_campaign=email-share">
      <button class="button_primer button_default menu_button--email js-track-event" data-ga_category="Frame" data-ga_action="Share frame via email link" data-ga_label="<%= @user['nickname'] %>">
        <i class="icon-email">
        </i>
          Email
      </button>
    </a>
  </li>
</ul>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.js-share-to-facebook-<%= frame["id"] %>').on('click', function(){
      FB.ui(
        {
          method: 'feed',
          name: "<%= frame['video']['title'] %>",
          link: 'http://<%= user["personal_roll_subdomain"] %>.shelby.tv/<%= frame["id"] %>',
          picture: "<%= frame['video']['thumbnail_url'] %>",
          description: "<%= frame['video']['description'] %>",
          caption: ':: a video I shared on <%= user["personal_roll_subdomain"] %>.shelby.tv ::'
        },
        function(response) {
          if (response && response.post_id) {
            // TODO:we should record that this happened.
          }
        });
    });
  });
</script>
