<a class="play" href="#">
	<img id="<%= frame['video']['provider_id'] %>" src="<%= frame['video']["thumbnail_url"] %>" width="320" height="180"/>
	<h3 class="ui-li-heading"><%= frame['video']['title'] %></h3>
	<p class="ui-li-desc"><%= frame['video']['provider_name'] %></p>	
</a>

<div class="video-script">
	<% if frame['video']['provider_name'] == 'youtube' %>
		<%= render :partial => "mobile/youtube_embed", :locals => { :video => frame['video'], :mobile_frame => false } %>
	<% elsif frame['video']['provider_name'] == 'vimeo' %>
		<%= render :partial => "mobile/vimeo_embed", :locals => { :video => frame['video'], :mobile_frame => false } %>					  
	<% end %>
</div>