<div class="video">
	<img id="<%= frame['video']['provider_id'] %>" src="<%= frame['video']["thumbnail_url"] %>" width="320" height="180"/>
</div>
<div class="video-title">
	<%= frame['video']['title'] %>
</div>
<div class="video-script">
	<% if frame['video']['provider_name'] == 'youtube' %>
		<%= render :partial => "youtube_embed", :locals => { :video => frame['video'] } %>
	<% elsif frame['video']['provider_name'] == 'vimeo' %>
		<%= render :partial => "vimeo_embed", :locals => { :video => frame['video']} %>					  
	<% elsif frame['video']['provider_name'] == 'espn' %>
		<%= render :partial => "espn_embed", :locals => { :video => frame['video']} %>					  
	<% end %>
</div>