<div id="mobile-video-player"></div>

<div class="video-script">
	<% if @frame['video']['provider_name'] == 'youtube' %>
		<%= render :partial => "mobile/youtube_embed", :locals => { :video => @frame['video'], :mobile_frame => true } %>
	<% elsif @frame['video']['provider_name'] == 'vimeo' %>
		<%= render :partial => "mobile/vimeo_embed", :locals => { :video => @frame['video'], :mobile_frame => true } %>					  
	<% end %>
</div>

<div id="mobile-frame-context">
	<div id="user-and-comment">
		<div id="avatar">
			<% avatar = @frame['creator']['user_image'] %>
			<%= image_tag avatar, :title => @frame['creator']['nickname'], :size => "65x65" %>
		</div>
		<div id="comment">
			<% msg = @frame['conversation']['messages'].empty? ? @frame['video']['title'] : @frame['conversation']['messages'].first["text"] %>
			<%= msg %>
		</div>
	</div>
	<div id="shared-by">
		Shared by: <%= @frame['creator']['name'] || @frame['creator']['nickname'] %>
	</div>	
	<%= link_to "Try Shelby.tv", Settings::Application.url, "data-role"=>"button", "data-theme" => "c" %>
</div>