<div id="mobile-video-player"></div>

<div class="video-script">
	<% if @frame['video']['provider_name'] == 'youtube' %>
		<%= render :partial => "mobile/video_embeds/youtube_embed", :locals => { :video => @frame['video'], :mobile_frame => true } %>
	<% elsif @frame['video']['provider_name'] == 'vimeo' %>
		<%= render :partial => "mobile/video_embeds/vimeo_embed", :locals => { :video => @frame['video'], :mobile_frame => true } %>					  
	<% end %>
</div>

<div id="mobile-frame-context">
	
	<% if @share_type == :genius %> 		<%= render :partial => "/mobile/partials/genius_email_share" %>
	<% elsif @share_type == :email %> 	<%= render :partial => "/mobile/partials/direct_email_share" %>
	<% elsif @share_type == :rolling %>	<%= render :partial => "/mobile/partials/rolling_share" %>
	<% end %>

</div>