<%= render :partial => '/objects/roll_header',
    :locals => {
      :user => @signed_in_user,
      :roll_type => @roll_type,
      :ga_category => "Mobile"
    }%>

<% if @frames.empty? %>
  <div class="empty-indicator">
    <h2 class="center">
      You haven't <%= (@roll_type == 'likes') ? 'liked' : 'shared' %> anything yet!
    </h2>
    <p class="center">
      <a href="<%= "/m" unless Rails.env.production? %>/featured"
          class="button_primer button_command button_command--flexible button_green js-track-event"
          data-ga_category="Mobile"
          data-ga_action="Click <%= @roll_type %> empty"
          data-ga_value="<%= @signed_in_user['nickname'] %>"
          >
        Go to Featured <span class="icon icon-arrow_right"></span>
      </a>
    </p>
  </div>
<% else %>
  <ul class="list js-list">
    <% @frames.each do |frame| %>
      <li class="list__item">
        <% if frame['video'] and can_play_video(frame['video']['provider_name']) and !frame["duplicate"] %>
          <%= render :partial => '/objects/frame',
            :locals => {
              :frame          => frame,
              :frame_owner    => frame['creator'],
              :video          => frame['video'],
              :signed_in_user => @signed_in_user,
              :is_mobile      => true,
              :embed_video    => false,
              :ga_category    => "Mobile"
            } %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p class="center">
    <%= link_to mobile_me_path(
          :page => (@page + 1)),
          {
            :class => Settings::Mobile.load_more_button_class + " js-track-event",
            'data-ga_category' => "Mobile",
            'data-ga_action'   => "Click Load more on #{@roll_type}",
            'data-ga_label'    => "#{@signed_in_user['nickname']}"
          } do %>
      <span class="button_label">Load More</span>
    <% end %>
  </p>
<% end %>

<%= javascript_tag do %>
  <%= render :partial => "/mobile/partials/mobile_video_player_brains", :formats=>[:js] %>
<% end %>

