<!--
  If you were to get more frames from these rolls, use:
  Shelby::API.Shelby::API.get_roll_with_frames(@roll_id, skip=20, limit=20)
-->
<%= render :partial => '/objects/roll_header',
    :locals => {
      :user => @signed_in_user,
      :roll_type => @roll_type
    }%>
<ul class="list js-list">
  <li class="list__item">
    <% @frames.each do |frame| %>
      <% if frame['video'] and can_play_video(frame['video']['provider_name']) %>
        <%= render :partial => '/objects/frame',
          :locals => {
            :frame          => frame,
            :frame_owner    => frame['creator'],
            :video          => frame['video'],
            :signed_in_user => @signed_in_user,
            :is_mobile      => true,
            :embed_video    => false
          } %>
      <% end %>
    <% end %>
  <li>
</ul>

<p class="center">
  <%= link_to mobile_me_path(:page => (@page + 1)), {:class => Settings::Mobile.button_gray_flexible + " one-third js-load-more"} do %>
    <span class="button_label">Load More</span>
  <% end %>
</p>

<%= javascript_tag do %>
  <%= render :partial => "/mobile/partials/mobile_video_player_brains", :formats=>[:js] %>
<% end %>

