<div id="mobile-video-player"></div>

<div id="mobile-frames">
	<ul id="rolls-frame-list" data-role="listview" data-theme="c" style="margin:0;">
		<% @frames.each do |f| %>
			<li class="<%= f['video']['provider_name'] %>-<%= f['video']['provider_id'] %> mobile-frame js-track-event" data-ga_category="Mobile" data-ga_action="Clicked video to watch" data-ga_label="<%= f['video']['title'] %>">
				<%= render :partial => "mobile/mobile_frame", :locals => { :frame => f } %>
			</li>
		<% end %>
	</ul>
</div>

<script>
	$('#mobile-roll-title').text("The <%= @roll['title'].titlecase %> Roll");
	$(document).bind('pageinit', function(){
		$(window).bind('orientationchange', function(event){
			$('body').toggleClass('landscape');
		});		
	});
</script>