<div id="mobile-video-player"></div>

<div id="mobile-frames">
  <ul id="rolls-frame-list" data-role="listview" data-theme="c" style="margin:0;">
    <% if @frames %>
      <% @frames.each do |f| %>
        <li class="<%= f['video']['provider_name'] %>-<%= f['video']['provider_id'] %> mobile-frame js-track-event" data-ga_category="Mobile" data-ga_action="Clicked video to watch" data-ga_label="<%= f['video']['title'] %>">
          <%= render :partial => "/mobile/partials/mobile_frame", :locals => { :frame => f } %>
        </li>
      <% end %>
    <% else %>
       <li><h3 class="ui-li-heading">sorry, we didn't find anything, try again.</h3></li>
    <% end %>
  </ul>
</div>

<script>
  $(function(){
    var title = "<%= @roll['title'].titlecase %>";
    var url = $.getUrlParams();
    console.log('url', url);
    var leader = "Results: ";
    if (url == 'src') {
      title = ':' + $.getUrlParam('src');
      leader = '';
    }
    $('#mobile-roll-title').text(leader + title.split(':')[1]);
    $(document).bind('pageinit', function(){
      $(window).bind('orientationchange', function(event){
        $('body').toggleClass('landscape');
      });
    });
  });
</script>