<%= render :partial => '/objects/roll_header',
    :locals => {
      :user => @user,
      :roll_type => @roll_type
    }%>

<ul class="list js-list">
  <% @frames.each_index do |i| %>
    <% frame = @frames[i] %>
    <li class="list__item">
      <% if frame['video'] and can_play_video(frame['video']['provider_name']) and !frame["duplicate"] %>
        <%= render :partial => '/objects/frame',
          :locals => {
            :frame          => frame,
            :frame_owner    => frame['creator'],
            :video          => frame['video'],
            :signed_in_user => @signed_in_user,
            :is_mobile      => true,
            :embed_video    => false,
            :ga_category    => "Mobile",
            :index => i
          } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p class="center">
  <%= link_to mobile_user_path(
        @user['id'],
        :page => (@page + 1)),
        {
          :class => Settings::Mobile.load_more_button_class + " js-track-event",
          'data-ga_category' => "Mobile",
          'data-ga_action'   => "Click Load more on #{@roll_type}",
          'data-ga_label'    => "#{@signed_in_user['nickname']}"
        } do %>
    <span class="button_label">Load More</span>
  <% end %>
</p>

<%= javascript_tag do %>
  <%= render :partial => "/mobile/partials/mobile_video_player_brains", :formats=>[:js] %>
<% end %>
