<%
  var authed_providers = [];
  if (shelby.models.user.get('authentications') != null){
    shelby.models.user.get('authentications').forEach(function(auth){
      authed_providers.push(auth.provider);
    });
  }
%>

<section class="onboarding__lining onboarding__lining--personalize">
  <div class="onboarding__head">
    <h3 class="onboarding__h3">
      Step 2 of 2
    </h3>

    <h1 class="onboarding__h1">
     Personalize Your Shelby Stream
    </h1>

    <h2 class="onboarding__h2">
      Connecting your social networks lets you watch all <br />
      your friends' videos and tells us more about what you like.
    </h2>
 </div><!-- eo onboarding__head -->

 <div class="onboarding__body">
    <ul class="list list--inline onboarding__list">

    <% ['twitter', 'facebook', 'tumblr'].forEach(function(network){ %>
      <%
        var connected_network, disabled = '';
        if( _.include(authed_providers, network) ){
          connected_network = 'onboarding-connected-network ';
          disabled = ' disabled ';
        }
      %>

      <li class="list__item one-quarter js-onboarding-network-item">
          <a class="button_primer<%= (disabled) ? ' button_gray-light disabled' : ' button_'+network+'-blue' %> button_standard onboarding__button--social js-authorize js-track-event"
            data-popup_width="1000"
            data-popup_height="650"
            href="http://api.shelby.tv/auth/<%= network %>"
            data-ga_action="Connect with <%= network %>">
              <span class="icon icon-social_<%= network %>"></span> <span class="button_label capitalize"><%= network %></span>
          </a>
      </li>
    <% }); %>
    </ul>

    <p class="onboarding__block">
      <small>
        *We promise to never post without your permission. Spam sucks.
      </small>
    </p>

    <hr class="hr--double" />

    <h2 class="onboarding__h2">
      There's most to Shelby than friends! Follow 3 (or more) <br />
      of our favorites below to add their videos to your Stream.
    </h2>
    <ul class="list list--inline onboarding__list onboarding__list--rolls">
      <% console.log(rollCategories) %>
      <% rollCategories.get('roll_categories').forEach(function(category){ %>
        <% category.get('rolls').forEach(function(roll){ %>
          <li class="list__item one-fifth">
            <h4 class="onboarding__h3">
              <%= roll.get('display_title') %>
            </h4>

            <img src="<%= roll.get('display_thumbnail_src') %>" class="onboarding__avatar" />

            <button data-roll_id="<%= roll.get('id') %>" class="button_primer button_default button_wide onboarding__button js-onboarding-roll-button js-follow-unfollow">
              Follow
            </button>
          </li>
        <% }) %>
      <% }) %>
    </ul>

    <button class="button_primer button_default button_standard onboarding__button onboarding__button--large">
      Start Watching
    </button>
 </div><!-- eo onboarding__body -->
</section><!-- eo onboarding__lining--personalize -->
