<div class="modal__body  modal__body--scroll clearfix">
  <h2 class="modal__h1">
    Follow the best of web video
  </h2>
  <p class="modal__block modal__block--push">
    Follow at least 3 of our hand-picked content sources.<br />
    We'll keep your stream fresh with high quality video.
  </p>
  <ul class="list roll_categories">
    <% _(rollCategories).each(function(category){ %>
      <li class="list__item">
        <div class="user user--no_lining user--medium_avatar clearfix">
          <div class="media_module media_module--bare clearfix">
            <div class="media_image--rev">
              <button class="button_primer button_command button_command--flexible button_gray user__button js-onboarding-roll-button" data-roll_id="<%= category.id %>">Follow</button>
            </div><!-- eo media_image--rev -->

            <span class="media_image image_module avatar avatar--medium user__avatar" role="img" style="background-image:url(<%= category.get('display_thumbnail_src') %>);">
              <img class="visuallyhidden" src="<%= category.get('display_thumbnail_src') %>"/>
            </span><!-- eo media_image -->

            <div class="media_body">
              <h3 class="user__h1">
                <%= category.get('display_title') %>
              </h3>

              <h4 class="user__h2">
                <%= category.get('description') %>
              </h4>
            </div><!-- eo media_body -->
          </div><!-- eo media_module -->
        </div><!-- eo user -->
      </li>
    <% }); %>
  </ul>
</div><!-- eo modal__body -->

<div class="modal__foot clearfix">
  <button disabled class="button_primer button_command button_command--flexible button_green disabled js-onboarding-advance-stage">
    <span class="button_label">Follow 3 More</span>
  </button>
</div><!-- eo modal__foot -->
