<div class="modal__body modal__body--bare modal__body--<%= currentService %> clearfix">
  <h1 class="alpha modal__h1 modal__h1--padding">
    Connecting <%= _(currentService).capitalize() %>
  </h1>

  <ol class="list js-progress-list">
    <li class="list__item load_progress clearfix">
      <h2 class="load_progress__h1">
        <span class="image_module load_progress__status">
          <span class="icon icon-check"></span>
        </span>
        <span class="beta load_progress__label">
          <span>Connecting <%= _(currentService).capitalize() %></span>
          <span>Connected <%= _(currentService).capitalize() %></span>
        </span>
      </h2>
    </li>
    <li class="list__item load_progress load_progress--loading clearfix">
      <h2 class="load_progress__h1">
        <span class="image_module load_progress__status">
          <span class="icon icon-check"></span>
        </span>
        <span class="animate_module load_progress__total load_progress__total--no_data js-num-friends">0</span>
        <span class="beta load_progress__label">
          <span>Finding friends sharing video</span>
          <span>Found friends sharing video</span>
        </span>
      </h2>
    </li>
    <li class="list__item load_progress load_progress--loading clearfix">
      <h2 class="load_progress__h1">
        <span class="image_module load_progress__status">
          <span class="icon icon-check"></span>
        </span>
        <span class="animate_module load_progress__total load_progress__total--no_data js-num-videos">0</span>
        <span class="beta load_progress__label">
          <span>Finding videos from friends</span>
          <span>Found videos from friends</span>
        </span>
      </h2>
    </li>
  </ol>

</div><!-- eo modal__body -->

<div class="animate_module modal__foot modal__foot--rev cloaked clearfix js-modal-foot">
  <% if (currentService == 'facebook') { %>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008900191372&amp;value=0&amp;currency=USD" />
    <form>
      <fieldset class="form_fieldset form_fieldset--rev">
        <input class="form_checkbox form_checkbox--inline" type="checkbox" id="onboarding-timeline-sharing" checked="checked" />
        <label class="form_label form_label--inline" for="onboarding-timeline-sharing">Publish activity to Facebook Timeline</label>
      </fieldset>
    </form>
    <% var _onboardingWithInvites; if (shelby.abTests.onboardingWithInvites == "yes") { _onboardingWithInvites = true; } else if (shelby.abTests.onboardingWithInvites == "no") { _onboardingWithInvites = false; } %>
    <a class="button_primer button_command button_command--flexible button_green <%= _onboardingWithInvites ? 'js-invite-friends' : 'js-onboarding-advance-stage' %>">
      <span class="button_label">Next</span>
      <span class="icon icon-arrow_right"></span>
    </a>
  <% } else if (currentService == 'twitter') { %>
    <form>
      <fieldset class="form_fieldset form_fieldset--rev">
        <input class="form_checkbox form_checkbox--inline" type="checkbox" id="onboarding-follow-shelby" checked="checked" />
        <label class="form_label form_label--inline" for="onboarding-follow-shelby">Follow @Shelby on Twitter</label>
      </fieldset>
    </form>
    <a class="button_primer button_command button_command--flexible button_green js-onboarding-advance-stage">
      <span class="button_label">Next</span>
      <span class="icon icon-arrow_right"></span>
    </a>
  <% } %>
</div><!-- eo modal__foot -->
