
<li class="onboarding-guide-list-item list_item guide-item <%= stage>=1 ? 'item-complete' : '' %><%= stage==1 ? ' active-list-item' : '' %>">
  <button class="list_button guide-link">
    Your Account
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=2 ? 'item-complete' : '' %><%= stage==2 ? ' active-list-item' : '' %>">
  <button class="list_button guide-link">
    Find Videos
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=3 ? 'item-complete' : '' %><%= stage==3 ? ' active-list-item' : '' %>">
  <button class="list_button guide-link">
    Connect Networks
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=4 ? 'item-complete' : '' %><%= stage==4 ? ' active-list-item' : '' %>">
  <button class="list_button guide-link">
    Start Watching
  </button>
</li>
