<% var nickName = user.get('nickname'); %>
<% var customTvUrl = nickName + ".shelby.tv"; %>
<% var avatarUrl = libs.shelbyGT.viewHelpers.user.avatarUrl(user) %>

<div class="onboarding_layout_head onboarding-head clearfix">
  <h1 class="onboarding-header">
    Ready to Roll
  </h1>
  <div class="onboarding-next-step-wrapper">
    <button class="js-onboarding-next-step onboarding-next-step">
      <i class="button_icon_left icon_onboarding_play player-play">Play</i>
    </button>
    <span class="onboarding-next-step-counter">
      Start Watching
    </span>
  </div>
</div><!-- eo onboarding_layout_head -->

<div class="onboarding_layout_body onboarding-body onboarding-stage-4">
  <div class="onboarding-block-container wide clearfix">
    <p>
      Click <span class="onboarding-inline-button"><i class="button_icon_left icon_videocard_roll icon-roll">Roll…</i></span> to share video on
    </p>
    <h2 class="onboarding-username-display">
      http://<%= customTvUrl %>
    </h2>
  </div>

  <div class="onboarding-stage-4-rolling-demo">
    <img class="onboarding-stage-4-rolling-demo-image" src="/images/onboarding/stage-4/rolling-demo.png" />
    <div class="onboarding-custom-tv-url"><%= customTvUrl %></div>
    <div class="onboarding-stage-4-avatar-wrapper onboarding-stage-4-avatar-wrapper-roll-header">
      <img class="onboarding-stage-4-avatar onboarding-stage-4-avatar-roll-header" src="<%= avatarUrl %>" />
    </div>
    <div class="onboarding-stage-4-username onboarding-stage-4-username-roll-header"><%= nickName %></div>
    <div class="onboarding-stage-4-avatar-wrapper onboarding-stage-4-avatar-wrapper-in-roll">
      <img class="onboarding-stage-4-avatar onboarding-stage-4-avatar-in-roll" src="<%= avatarUrl %>" />
    </div>
    <div class="onboarding-stage-4-username onboarding-stage-4-username-in-roll"><%= nickName %></div>
  </div>
</div><!-- eo onboarding_layout_body -->