<%
  var facebook,
      twitter,
      tumblr,
      user = shelby.models.user,
      primaryEmail = user.get('primary_email'),
      fullName = user.get('name'),
      userName = user.get('nickname'),
      userHasPassword = user.get('has_password');

  if (shelby.models.user.get('authentications') != null){
      twitter = _.find(shelby.models.user.get('authentications'), function(auth){ return auth.provider == 'twitter'});
      facebook = _.find(shelby.models.user.get('authentications'), function(auth){ return auth.provider == 'facebook'});
  }

  var emailSignup = (!twitter && !facebook);
%>
<section class="onboarding__lining onboarding__lining--signup-form">
  <div class="onboarding__head">
    <h1 class="onboarding__h1">
      <%= (emailSignup) ? 'Choose your Avatar' : 'Create your account' %>
    </h1>
 </div><!-- eo onboarding__head -->

  <div class="onboarding__body">
    <% if (facebook) { %>
      <h2 class="onboarding__social-connect onboarding__social-connect--facebook">
        <span class="icon icon-social_facebook"></span> Connected<% if (fullName) { %> as <strong><%= fullName %></strong><% } %>
      </h2>
    <% } %>

    <% if (twitter) { %>
      <h2 class="onboarding__social-connect onboarding__social-connect--twitter">
        <span class="icon icon-social_twitter"></span> Connected as <strong>@<%= twitter.nickname %></strong>
      </h2>
    <% } %>

    <form class="form_module">
      <fieldset class="form_fieldset">
        <label class="form_label visuallyhidden">
          Avatar
        </label>

        <div class="avatar avatar--largest">
          <div class="clearfix js-dynamic-user-avatar onboarding-form-avatar-thumb"></div>
          <div class="clearfix js-user-avatar-uploader onboarding-form-avatar-file"></div>
        </div>
      </fieldset>

      <fieldset class="form_fieldset<%= (emailSignup) ? ' visuallyhidden' : ''%> js-invite-name">
        <label for="signup-name" class="form_label">Full Name</label>
        <p class="form_error hidden js-invite-name-error">Please enter your name</p>
        <input name="user[name]" type="text" class="form_input" id="signup-name" placeholder="First and Last Name"<% if(fullName){%> value="<%= fullName %>"<%}%> autofocus />
      </fieldset>

      <fieldset class="form_fieldset<%= (emailSignup) ? ' visuallyhidden' : ''%> js-invite-username">
        <label for="signup-username" class="form_label">Username</label>
        <p class="form_error hidden">Please enter a username</p>
        <input name="user[nickname]" type="text" class="form_input" id="signup-username" <% if(userName){ %> value="<%= userName %>"<%}%> />
     </fieldset>

      <fieldset class="form_fieldset<%= (emailSignup) ? ' visuallyhidden' : ''%> js-invite-email">
        <label for="signup-email" class="form_label">Email Address</label>
        <p class="form_error hidden js-onboarding-email-input-error">Please enter an email address</p>
        <input name="user[primary_email]" type="text" class="form_input" id="signup-email" placeholder="email@address.com"<% if(primaryEmail){%> value="<%= primaryEmail %>"<%}%> />
      </fieldset>

      <% if (!userHasPassword) { %>
        <fieldset class="form_fieldset<%= (emailSignup) ? ' visuallyhidden' : ''%> js-invite-password">
          <label for="signup-password" class="form_label">Password</label>
          <p class="form_error hidden js-invite-password-input-error">Please enter a password</p>
          <input name="user[password]" type="password" class="form_input" id="signup-password" placeholder="•••••••" />
        </fieldset>
      <% } %>

      <% if (facebook) { %>
        <fieldset class="form_fieldset">
          <input type="checkbox" class="form_checkbox form_checkbox--inline" id="facebook-timeline" checked />
          <label for="facebook-timeline" class="form_label form_label--inline">I want to share videos I roll and watch on Shelby with my friends on my Facebook Timeline</label>
        </fieldset>
      <% } %>

      <% if(twitter) { %>
        <fieldset class="form_fieldset">
          <input type="checkbox" class="form_checkbox form_checkbox--inline" id="follow-shelby" checked />
          <label for="follow-shelby" class="form_label form_label--inline">Follow @shelby on Twitter</label>
        </fieldset>
      <% } %>

      <fieldset class="form_fieldset form_fieldset--submit">
        <button class="button_primer button_standard button_default onboarding__button form_submit js-onboarding-next-step visuallydisabled">
          <%= (emailSignup) ? 'Continue' : 'Create Account' %>
        </button>
      </fieldset>
    </form>

  </div><!-- eo onboarding__body -->
</section><!-- eo onboarding__lining--signup-form -->
