<body class="mobile-search">

	<div class="mobile-search-header">
	  <header class="genius-header clearfix">
	    <h1 class="genius-logo ir">
	      Shelby.tv
	    </h1>
	    <p class="genius-slogan">
	      An amazing way to <br> discover and enjoy videos.
	    </p>
	  </header>
	</div><!-- eo genius-wrapper -->


	<div id="mobile-frames">
		<% @frames.each do |f| %>
	
			<div class="<%= f['video']['provider_name'] %>-<%= f['video']['provider_id'] %> frame">
				<% if f['video']['provider_name'] == 'youtube' %>
					<%= render :partial => "youtube_embed", :locals => { :provider_name => f['video']['provider_name'], :provider_id => f['video']['provider_id'], :thumbnail_url =>  f['video']['thumbnail_url']} %>
				<% elsif f['video']['provider_name'] == 'vimeo' %>
					<%= render :partial => "vimeo_embed", :locals => { :provider_name => f['video']['provider_name'], :provider_id => f['video']['provider_id'], :thumbnail_url =>  f['video']['thumbnail_url']} %>
					  
				<% end %>
			</div>
	
		<% end %>
	</div>
	
	<div id="mobile-search-nav-footer">
		<button id="search-button">search</button>
		<script type="text/javascript" charset="utf-8">
			$('#search-button').on("click", function(){
				window.location.href = '<%= Settings::Application.url %>' + "/m";
			})
		</script>
	</div>
</body>