<% var msgFromViewer = (frame.get('creator_id') === viewer) %>
<% var msg = frame.get('conversation').get('messages').at(0) %>
<% var recipientAvatar = libs.shelbyGT.viewHelpers.user.avatarUrlForMessage(msg) %>

<!-- NB: if frame was posted by non-shelby user, msgFromViewer will always be false (not the case for messages, below) -->
<li class="clearfix">
  <div class="discussion__item discussion__item--frame media_module frame-body-wrapper">
    <div class="media_image">
      <img src="<%= recipientAvatar %>">
    </div><!-- eo media_image -->

    <div class="media_body">
      <p class="discussion__h4">
        <span class="overflow--ellipsis"><%= frame.escape('anonymous_creator_nickname') || frame.get('creator') && frame.get('creator').escape('nickname') %></span>
        <span class="xuser-data-timestamp"><%= libs.shelbyGT.viewHelpers.app.dateFromMongoId(frame.id).format("ddd, mmm d, h:MM TT") %></span>
      </p>
    </div><!-- eo media_body -->

    <div class="video">
      <% if(frame.get('video').get('provider_name') === "youtube" ){ %>
        <iframe class="videocard__video" src="http://www.youtube.com/embed/<%= frame.get('video').get('provider_id') %>"
        frameborder="0" allowfullscreen></iframe>
      <% } else { %>
        <%= frame.get('video').get('embed_url') %>
      <% } %>
    </div>
  </div><!-- eo discussion__item -->

  <ol class="list discussion__list js-discussion-roll-conversation">
    <!-- messages filled in by different render so re-render doesn't destroy embed -->
  </ol>
</li>