<% var recipient = msg.get('nickname') %>
<% var recipientAvatar = libs.shelbyGT.viewHelpers.user.avatarUrlForMessage(msg) %>

<% if(false && displayTimestamp){ %>
  <li class="discussion__item discussion__timestamp clearfix">
    <%= libs.shelbyGT.viewHelpers.app.dateFromMongoId(msg.id).format("dddd, mmm dd, h:MM TT") %>
  </li>
<% } %>

<li class="clearfix">
  <div class="discussion__item<%= msgFromViewer ? ' discussion__item--viewer' : ' discussion__item--user' %> media_module frame-body-wrapper">
    <div class="media_image">
      <img src="<%= recipientAvatar %>">
    </div><!-- eo media_image -->

    <div class="media_body">
      <p class="discussion__h4">
        <%= recipient %>

        <span class="xuser-data-timestamp">
          <%= libs.shelbyGT.viewHelpers.app.dateFromMongoId(msg.id).format("dddd, mmm dd, h:MM TT") %>
        </span>
      </p>

      <p>
				<span class="discussion__text">
					<%= msg.escape('text') %>
				</span>
      </p>
    </div><!-- eo media_body -->
  </div><!-- discussion_item__lining -->
</li>