<div class="attachment_result media_module frame-body-wrapper clearfix">
  <div class="media_image js-preview-video">
    <div class="image_module frame-thumbnail frame-thumbnail--playable icon-player_play js-load-video <%= (!thumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= thumbnail.url %>');" role="img">
      <img class="visuallyhidden" src="<%= thumbnail.url %>" title="<%= title %>" alt="<%= title %> thumbnail">
    </div>
  </div>

  <div class="media_body">
    <h3 class="discussion__h3">
      <%= title %>
    </h3>

		<button class="discussion__button button_primer button_green js-add-video">
			Add This Video
		</button>
  </div>
</div><!-- eo media_module -->