<article id="<%= @frame['id'] %>" data-video_id="<%= @video['id'] %>" data-personal_roll_id="<%= (@current_user) ? @current_user['personal_roll_id'] : 'null' %>" data-user_name="<%= (@current_user) ? @current_user['nickname'] : 'anonymous' %>" class="animate_module frame js-frame">
  <span class="frame-header js-frame-activate">
    <h1 class="frame-title" title="<%= @video['title'] %>">
      <%= @video['title'] %>
    </h1>
  </span>

  <div class="frame-body-wrapper clearfix">
    <div class="frame-body">
      <noscript>
        <!-- styles/markup for devices that prevent fun stuff from happening -->
        <style>
          .video__wrapper, .frame_interactions { display: none; }
          .line-clamp { height: auto !important; }
          .line-clamp:after { display: none !important; }
        </style>

        <p style="text-align: center;"><strong>Please enable Javascript if your device allows it.</strong></p>

        <span class="image_module frame-thumbnail frame-thumbnail--tall js-frame-activate" style="background-image: url('<%= @video['thumbnail_url'] %>');" role="img">
          <img class="visuallyhidden" src="<%= @video['thumbnail_url'] %>" title="<%- @video['title'] %>" alt="<%- @video['title'] %> thumbnail">
        </span>
      </noscript>

      <div class="video__wrapper">
        <% if @video['provider_name'] == "youtube" %>
          <%= render :partial => "/seovideo/youtube_embed", :locals => { :video_provider_id => @video['provider_id'] } %>
        <% else %>
          <%= raw @video['embed_url'] %>
        <% end %>
      </div>
    </div><!-- eo .frame-body -->

    <footer class="media_module frame-footer clearfix">
      <%
        avatar = avatar_url_for_user(@user)
        userNickname = @user['nickname']
      %>
      <a href="/<%= userNickname %>" class="js-track-event" data-ga_category="Share Page" data-ga_action="Click Username" data-ga_label="<%= @current_user_nickname %>" data-user_nickname="<%= userNickname %>">
        <span class="image_module media_image avatar avatar--medium" style="background-image: url(<%= avatar %>);" role="img">
          <img src="<%= avatar %>" class="cloaked">
        </span>
      </a>

      <div class="media_body">
        <span class="xuser-data-timestamp">
          <%= @frame['created_at'] %>
        </span>

        <p class="xuser-data">
          <a href="/<%= userNickname %>" class="js-track-event no-faux-link" data-ga_category="Share Page" data-ga_action="Click Username" data-ga_label="<%= @current_user_nickname %>" data-user_nickname="<%= userNickname %>"<% if @user['name'] %> title="<%= @user['name'] %>"<%end%>><strong><%= userNickname %></strong></a>
          <% if @frame['originator'] && @frame['originator']['nickname'] %> <span class="xuser-data-timestamp xuser-data-timestamp--inline">via <a class="no-faux-link js-track-event" href="/<%= @frame['originator']['nickname'] %>" title="<%= @frame['originator']['name'] %>" data-ga_category="Share Page" data-ga_action="Click via Username" data-ga_label="<%= @current_user_nickname %>"><%= @frame['originator']['nickname'] %></a></span><% end %>
        </p>

        <% message = @frame['conversation']['messages'][0]['text'] if @frame['conversation'] and @frame['conversation']['messages'] and @frame['conversation']['messages'][0] %>
        <p class="xuser-message<%= " line-clamp js-toggle-comment" if message and @frame['conversation']['messages'][0]['text'].length > 265%>">
          <%= message %>
        </p>
      </div><!-- eo .media_body -->
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->

  <% if (!@is_mobile) %>
    <div class="form_fieldset frame_interactions">
      <span class="column one-half">
        <button disabled class="button_primer button_command button_command--flexible button_green one-whole js-share-init js-track-event" data-ga_category="Share Page" data-ga_action="Click Share" data-ga_label="<%= @current_user_nickname %>" data-user_nickname="<%= userNickname %>">
          <span class="icon icon-roll"></span>Share…
        </button>
      </span><!--
    --><span class="column one-half">
        <button class="button_primer button_command button_command--flexible button_gray one-whole js-like js-track-event" data-ga_category="Share Page" data-ga_action="Click Like" data-ga_label="<%= @current_user_nickname %>" data-user_nickname="<%= userNickname %>">
            <span class="icon icon-like"></span>Like
        </button>
      </span>
      <div class="share_panel frame-body-wrapper fin fin--top_left fin--edging clearfix js-shares hidden"></div>
    </div>
  <% end %>

  <% if @frame['upvoters'].length > 0 %>
    <div class="frame-likes frame-external-subline icon-like icon-like--red js-frame-likes">
      <ul class="list frame-likes-avatars js-liker-avatars-list">
        <% @frame['upvoters'].each do |liker| %>
        <% avatar = liker['has_shelby_avatar'] ? avatar_url_for_user(liker) : liker['user_image'] %>
          <li>
            <a class="image_module avatar avatar--tiny frame-likes-link js-track-event" style="background-image: url(<%= avatar %>)" href="/<%= liker['nickname'] %>" data-ga_category="Share Page" data-ga_action="click avatar for liker" data-ga_label="<%= liker['nickname'] %>">
              <img class="visuallyhidden" src="<%= avatar %>" title="<%= liker['name'] %>" alt="<%= liker['name'] %>">
            </a>
          </li>
        <% end %>
      </ul>
      <%
        remainingLikes = @frame['like_count'] - @frame['upvoters'].length
        if remainingLikes > 0 %>
        <span class="frame-likes-count frame-external-subline-text js-like-total">
          <%= "+ #{remainingLikes}" %>
        </span>
      <% end %>
    </div><!-- eo frame-likes -->
  <% end %>
</article>
