<a href="<%= cta.path %>" id="" class="animate_module frame frame--inline_cta<%= " frame--#{cta.hook}_cta" %> js-inline_sources_cta">
  <div class="frame-body-wrapper clearfix">
    <div class="frame-body">
      <% if cta.hook == Settings::Mobile.inline_cta.sources.hook %>
        <span style="background-image: url(<%= asset_path cta.image_url %>);" onclick="return false;" class="video__wrapper image_module">
          <div class="icon__wrapper">
            <span class="icon icon-add" data-label="<%= cta.label %>"></span>
            <%= image_tag cta.image_url, :class => "visuallyhidden" %>
          </div>
        </span>
        <%= raw "<span id=\"#{Settings::Mobile.inline_cta.sources.id}\" style=\"top:100px;position: absolute;\"></span>" %>

      <% else %>
        <div class="video__wrapper image_module">
          <div class="icon__wrapper">
            <span class="icon icon-facebook" data-label="<%= cta.label %>"></span>
          </div>
        </div>
      <% end %>
    </div><!-- eo .frame-body -->

    <footer class="media_module frame-footer clearfix">
      <div class="media_body">
        <p class="xuser-message<%#= " line-clamp js-toggle-comment" if message and frame['conversation'] and frame['conversation']['messages'].length>0 and frame['conversation']['messages'][0]['text'].length > 265%>">
          <%= cta.message.html_safe %>
        </p>
      </div><!-- eo .media_body -->
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->
</a>
