<%
  # This is the actual list-item that is a Liker for a Videocard
%>
<script id="js-user-like" type="application/json">
  <li>
    <a class="image_module avatar avatar--tiny frame-likes-link js-track-event" style="background-image: url(<%= avatar %>)" href="/<%= user['id'] %>" data-ga_category="Share Page" data-ga_action="click avatar for liker" data-ga_label="">
      <img class="visuallyhidden" src="<%= avatar %>" title="<%= user['nickname'] %>" alt="<%= user['nickname'] %>" />
    </a>
  </li>
</script>
