<div class="roll-header">
  <%= render :partial => '/objects/user_card',
      :locals => {
        :avatar       => avatar_url_for_user(user),
        :ga_category  => ga_category,
        :is_following => is_following,
        :realname     => user['name'],
        :roll_id      => user['personal_roll_id'],
        :username     => user['nickname'],
        :user_type    => user['user_type']
      } %>

  <% if roll_type != Settings::Mobile.roll_types['user'] %>
    <ul class="list list--fit tabs clearfix">
      <li class="one-third">
        <a href="<%= Settings::Mobile.mobile_subdirectory %>/<%= user['nickname'] %>/shares" class="button_standard tab<%= ' tab--active' if roll_type == Settings::Mobile.roll_types['shares'] %> js-track-event js-user-tab js-user-shares" data-ga_category="<%= ga_category %>" data-ga_action="Click shares tab" data-ga_label="<%= user['nickname'] %>">
          Shares
        </a>
      </li>

      <li class="one-third">
        <a href="<%= Settings::Mobile.mobile_subdirectory %>/<%= user['nickname'] %>/likes" class="button_standard tab<%= ' tab--active' if roll_type == Settings::Mobile.roll_types['likes'] %> js-track-event js-user-tab js-user-likes" data-ga_category="<%= ga_category %>" data-ga_action="Click likes tab" data-ga_label="<%= user['nickname'] %>">
          Likes
        </a>
      </li>

      <li class="one-third">
        <a href="<%= Settings::Mobile.mobile_subdirectory %>/<%= user['nickname'] %>/following" class="button_standard tab<%= ' tab--active' if roll_type == Settings::Mobile.roll_followings %> js-track-event js-user-tab js-user-likes" data-ga_category="<%= ga_category %>" data-ga_action="Click following tab" data-ga_label="<%= user['nickname'] %>">
          Following
        </a>
      </li>
    </ul>
  <% end %>
</div><!-- eo roll-header -->
