<%#

  NOTE:

  This partial is currently Zeddmore specific.

%>

<article id="<%= frame['id'] %>" class="animate_module frame frame-list-item frame-collapsed">
  <div class="frame-body-wrapper clearfix js-frame-activate">
    <div class="frame-body">
      <a href="#" onclick="return false;" class="image_module frame-thumbnail js-frame-activate" style="background-image: url('<%= video['thumbnail_url'] %>');" role="img">
        <img class="visuallyhidden" src="<%= video['thumbnail_url'] %>" title="<%= video['title'] %>" alt="<%= video['title'] %> thumbnail">
      </a>
      <div class="xvideo-unplayable-thumbnail-overlay">â<br>unplayable</div>
    </div><!-- eo .frame-body -->

    <footer class="media_module frame-footer clearfix">
      <div class="media_body">
        <a href="#" onclick="return false;" class="frame-header js-frame-activate">
          <h1 class="frame-title" title="<%= video['title'] %>">
           <%= video['title'] %>
          </h1>
          <div class="xuser-data">
            <%= raw "#{Time.at(video['duration'].to_i).gmtime.strftime('%M:%S')}" %>
          </div>
        </a>
      </div>
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->
</article>
