<div class="js-video-tab-<%=videoId%> video-tab">
  <ul id="control-on-page-<%= videoId %>" class="video-tab__menu video-tab__menu--controls found-video-<%= videoId %> buttons-animate clearfix">
    <li class="video-tab__item">
      <button class="button_primer button_green video-tab__button video-tab__button--roll js-roll button-<%= videoId %>" data-videoId="<%= videoId %>">
        <i class="icon icon-videocard_roll"></i>
        Roll...
      </button>
    </li>

    <li class="video-tab__item">
      <button class="button_primer button_green video-tab__button video-tab__button--like js-queue button-<%= videoId %>" data-videoId="<%= videoId %>">
        <i class="icon icon-heart"></i>
        <span class="button_label--like">
        </span>
      </button>
    </li>
  </ul>

  <ul class="video-tab__menu video-tab__menu--context clearfix video-context-<%=videoId%> buttons-animate" id="context-on-page-<%=videoId%>" data-videoId="<%=videoId%>">
      <li class="video-tab__item video-tab__item--comment">
        <button class="visuallydisabled button_primer button_green video-tab__button video-tab__button--avatar_label js-comment button-<%=videoId%>" data-videoId="<%=videoId%>">
          Shared by
        </button>
      </li>
      <li class="frame-avatar-listitem-<%=videoId%> video-tab__item video-tab__item--creator">
        <button class="button_primer button_green video-tab__button js-creator button-<%=videoId%>" data-videoId="<%=videoId%>">
        </button>
      </li>
  </ul>
</div>