<div class="bookmarklet-video-tab-<%=videoId%> bookmarklet-video-tab">
  <ul id="control-on-page-<%= videoId %>" class="embedded-buttons clearfix embedded-controls found-video-<%= videoId %> buttons-animate" type="toolbar">
    <li class="queue-list-item">
      <button class="bookmarklet-button all-queue button-<%= videoId %>" data-videoId="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>">
        <i class="queue-button-content"> </i>
      </button>
    </li>
    <li class="roll-list-item">
      <button class="bookmarklet-button all-roll button-<%= videoId %>" data-videoId="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>"> 
        <i class="roll-button-content"> Roll... </i>
      </button>
    </li>
  </ul>

  <ul class="embedded-buttons video-card-context clearfix video-context-<%=videoId%> buttons-animate" id="context-on-page-<%=videoId%>" data-videoId="<%=videoId%>">
      <li class="frame-avatar-listitem-<%=videoId%> creator-list-item">
        <button class="bookmarklet-button all-creator button-<%=videoId%>" data-frameclass="video-context-<%=videoId%>" data-videoId="<%=videoId%>" type="button">
        </button>
      </li>
      <li class="comment-list-item">
          <button class="bookmarklet-button all-comment button-<%=videoId%>" data-frameclass="video-context-<%=videoId%>" data-videoId="<%=videoId%>" type="button">
            <i class="comment-button-content"> </i>
          </button>
      </li>
  </ul>

</div>

