<ul class="embedded-buttons video-card-context clearfix video-context-<%=videoId%>" id="context-on-page-<%=videoId%>" data-videoId="<%=videoId%>">
    <li class="frame-avatar-listitem-<%=videoId%> creator-list-item">
    </li>
    <li class="toolbar-ele-<%=videoId%> comment-list-item">
        <button class="bookmarklet-button all-comment button-<%=videoId%>" data-frameclass="video-context-<%=videoId%>" data-videoId="<%=videoId%>" type="button">
          <i class="comment-button-content"> </i>
        </button>
    </li>
</ul>

