<ul id="control-on-page-<%= videoId %>" class="embedded-footer frame-controls clearfix  found-video-<%= videoId %>" type="toolbar">
  <li class="frame-controls-queue toolbar-ele-<%= videoId %>">
    <button class="aniImg all-queue ir <%= videoId %>-img button-<%= videoId %>" data-r="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>">
      Queue it 
    </button>
  </li>
  <li class="frame-controls-roll toolbar-ele-<%= videoId %>">
    <button class="aniImg all-roll ir <%= videoId %>-img button-<%= videoId %>" data-r="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>"> 
      Roll it 
    </button>
  </li>
</ul>
