<div class="overlay_header guide-overlay-head">
  <div class="guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Bookermarklet" data-ga_action="Click cancel" data-ga_label="anonymous">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>
    <h2 class="guide-overlay-header">
      Login to Shelby
    </h2>
  </div><!-- eo .guide-overlay-head-lining -->
</div><!-- eo .guide-overlay-head -->

<div class="overlay_body guide-overlay-body">
	<form accept-charset="UTF-8" action="<%= shelby.config.loginFormUrl %>?redir=<%= window.location.href %>" method="post" class="form_module form_module--login-form js-track-submit" data-ga_action="Email login">
		<fieldset class="form_fieldset">
			<label for="username" class="form_label">Username</label>
			<input id="username" name="username" placeholder="Username or Email address" class="form_input" autofocus />
		</fieldset>

		<fieldset class="form_fieldset">
			<label for="password" class="form_label">Password</label>
			<input id="password" name="password" type="password" placeholder="•••••••" class="form_input" />
		</fieldset>

		<fieldset class="form_fieldset">
			<input name="commit" type="submit" value="Login" class="button_primer button_blue form_submit" />
      <a href="<%= shelby.config.apiBase + "/user/password/new" %>" class="login-forgot-password">Forgot your password?</a>
		</fieldset>
	</form>

  <hr class="hr--double-rev" />

  <div class="form_fieldset form_fieldset--login-social clearfix">
    <h4 class="form_legend">
      Log in with
    </h4>

    <a href="<%= twitterDomain %>"
       class="button_primer button_twitter-blue button_primer--twitter js-track-event js-authorize"
       data-ga_action="Login with Twitter"
       data-popup_height="700"
       data-popup_width="600">
      <i class="icon-social_twitter"></i>
      Twitter
    </a>

    <a href="<%= facebookDomain %>"
       class="button_primer button_facebook-blue button_primer--facebook js-track-event js-authorize"
       data-ga_action="Login with Facebook"
       data-popup_height="650"
       data-popup_width="1000">
      <i class="icon-social_facebook"></i>
      Facebook
    </a>
  </div>
</div><!-- eo guide-overlay-body.rolling-body -->