<ul id="control-on-page-<%= videoId %>" class="embedded-buttons clearfix embedded-controls found-video-<%= videoId %>" type="toolbar">
  <li class="toolbar-ele-<%= videoId %> queue-list-item">
    <button class="bookmarklet-button all-queue button-<%= videoId %>" data-videoId="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>">
      <i class="queue-button-content"> </i>
    </button>
  </li>
  <li class="toolbar-ele-<%= videoId %> roll-list-item">
    <button class="bookmarklet-button all-roll button-<%= videoId %>" data-videoId="<%= videoId %>" type="button" data-frameclass="video-context-<%= videoId %>"> 
      <i class="roll-button-content"> Roll... </i>
    </button>
  </li>
</ul>
