<div class="overlay_header guide-overlay-head rolling-header">
  <div class="guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Bookermarklet" data-ga_action="Click cancel" data-ga_label="anonymous">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>
    <h2 class="guide-overlay-header">
      Shelby Video Radar / Login
    </h2>
  </div><!-- eo .guide-overlay-head-lining -->
</div><!-- eo .guide-overlay-head.rolling-header -->

<div class="overlay_body guide-overlay-body rolling-body">

	<div class="login-explanation">
		<p>Nice, you have Shelby Video Radar installed!</p>
		<p>Shelby is currently invite-only.  Members can log in below...</p>
	</div>

	<hr />

	<form accept-charset="UTF-8" action="<%= shelby.config.loginFormUrl %>?redir=<%= window.location.href %>" method="post" class="form_module login-form js-track-submit" data-ga_action="Email login">
		<fieldset class="">
			<label for="username" class="form_label">Username</label>
			<input id="username" name="username" placeholder="Username or Email address" class="form_input" />
		</fieldset>
		<fieldset class="">
			<label for="password" class="form_label">Password</label>
			<input id="password" name="password" type="password" placeholder="•••••••" class="form_input" />
		</fieldset>
		<fieldset class="form_fieldset">
			<input name="commit" type="submit" value="Login" class="login-submit" />
		</fieldset>
	</form>

	<hr />

  <div class="clearfix" style="text-align: center;">
    <a class="button_primer faux_button button_twitter-blue social_login-twitter js-track-event auth-popup" data-ga_action="Login with Twitter"
      href="<%= twitterDomain %>" location="<%= twitterDomain %>" popup-width="600" popup-height="700">
      <i class="button_icon_left icon_share_twitter_on icon">
        Twitter
      </i>
    </a>

    <a class="button_primer faux_button button_facebook-blue social_login-facebook js-track-event auth-popup" data-ga_action="Login with Facebook"
      href="<%= facebookDomain %>" location="<%=facebookDomain %>" popup-width="1000" popup-height="650">
      <i class="button_icon_left icon_share_facebook_on icon">
        Facebook
      </i>
    </a>
  </div>
</div><!-- eo guide-overlay-body.rolling-body -->