<% if (roll.has('creator_nickname')) { %>
  <div class="welcome-message frame-body-wrapper">
    <div class="image_module welcome-message__head" style="background-image: url('<%= libs.shelbyGT.viewHelpers.roll.guideHeaderImageURL(roll) %>');">
      <img class="visuallyhidden welcome-message__banner" src="<%= libs.shelbyGT.viewHelpers.roll.guideHeaderImageURL(roll) %>"/>

      <h1 class="welcome-message__h1">Welcome to <%= libs.shelbyGT.viewHelpers.roll.rollNameForDotTv(roll) %></h1>
    </div><!-- eo .welcome-message__head -->

    <div class="welcome-message__body">
      <!-- <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrlForRoll(roll) %>"/> -->
      <div class="media_image media_image--rev">
        <button autofocus="autofocus" tabindex="0" class="button_primer button_blue welcome-message__button js-start-playing js-track-event" data-ga_category=".TV Welcome" data-ga_action="Click play button" data-ga_label="<%= shelby.models.user.get('nickname') %>">
          Play
        </button>
      </div>

      <div class="media_body">
        <h2 class="welcome-message__h2">
          <%= roll.get('creator_nickname') %> curates this collection of video.
        </h2>

        <p class="welcome-message__subline">
          Powered by Shelby.tv
        </p>
      </div>

  </div><!-- eo .welcome-message -->
<% } %>
