<div class="image_module embedded-frame__body preview-video-thumbnail js-start-playback" style="background-image: url('<%= video.get('thumbnail_url') %>');"></div>

<div id="js-video-section" class="embedded-frame__body">
  <!-- Filled in by VideoContentPaneView -->
</div>

<div class="embedded-frame__body embed_board embed_board--unplayed">
  <h1 class="embed_board__h1"><%= video.get('title') %></h1>
  
  <div class="embed_board__play-button js-start-playback js-track-event"
      data-ga_category="Embedded Frame" data-ga_action="Click Play">
    <i class="icon-player_play"></i>
  </div>
  
  <div class="embed_board__head">
    <h3 class="embed_board__h3">You’re watching this on</h3>
    <a href="#" class="embed_board__a js-creator-personal-roll js-track-event"
        data-ga_category="Embedded Frame" data-ga_action="Click Roll Title">
      <h2 class="embed_board__h2"><%= creator.get('nickname') %>.shelby.tv</h2>
    </a>
  </div>
  
  <div class="embed_board__body">
    <h3 class="embed_board__h3">Share this video</h3>
    
    <a href="#" class="button_primer button_facebook-blue embed_board__button js-facebook-share js-track-event" 
        data-ga_category="Embedded Frame" data-ga_action="Click Share to Facebook">
      <i class="icon icon-social_facebook"></i><span class="visuallyhidden">Share To Facebook</span>
    </a>
    
    <a href="#" class="button_primer button_twitter-blue embed_board__button js-twitter-share js-track-event"
        data-ga_category="Embedded Frame" data-ga_action="Click Share to Twitter">
      <i class="icon icon-social_twitter"></i><span class="visuallyhidden">Share To Twitter</span>
    </a>
    
    <input type="text" value="<%= shortlink %>" class="js-has-shortlink-value form_input embed_board__input" />
  </div>
</div>

<div class="embedded-frame__footer">
  <footer class="media_module frame-footer clearfix">
    <a href="#" class="js-creator-personal-roll js-track-event"
        data-ga_category="Embedded Frame" data-ga_action="Click User">
      <span class="image_module xuser-avatar media_image" style="background-image: url(<%= libs.shelbyGT.viewHelpers.user.avatarUrl(creator) %>);" role="img">
        <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(creator) %>" class="visuallyhidden" title="henry" alt="henry">
      </span>
    </a>

    <div class="media_body">
      <span class="xuser-data-timestamp">
        <%= frame.get('created_at') %>
      </span>
      <p class="xuser-data">
        <a href="#" class="js-creator-personal-roll no-faux-link js-track-event"
            data-ga_category="Embedded Frame" data-ga_action="Click User">
          <strong><%= creator.get('nickname') %></strong>
        </a>
      </p>
      <p class="xuser-message">
        <%= conversation.get('messages').at(0).get('text') %>
      </p>
    </div><!-- eo .media_body -->
  </footer>
</div>