<% var video = frame.get('video') %>
<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>
<article id="<%= videoId %>" class="explore-frame clearfix">
  <div class="menu_module xframe-menu">
    <ul class="menu_list xframe-command-menu xframe-list" role="menubar">
      <li class="menu_item" role="menuitem">
        <button class="xframe-command command-queue js-queue-command">
          <i class="command-icon js-command-icon">
            Queue
          </i>
        </button>
      </li>
      <li class="menu_item" role="menuitem">
        <button class="xframe-command command-roll js-roll-command">
          <i class="command-icon">
            Roll…
          </i>
        </button>
      </li>
    </ul>
  </div><!-- eo .xframe-menu -->
  <a href="#" onclick="return false;" class="image_module xframe-thumbnail js-explore-frame-thumbnail<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
    <img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%= videoTitle %>" alt="<%= videoTitle %> thumbnail">
  </a>

  <a href="#" onclick="return false;" class="explore-frame-link">
    <h3 class="explore-frame-title">
      <%= frame.get('video').get('title') %>
    </h3>
  </a>
</article>