<% var video = frame.get('video') %>
<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>
<article id="<%= videoId %>" class="explore-frame clearfix transparent">
  <div class="menu_module frame-menu">
    <ul class="menu_list frame-command-menu xframe-list" role="menubar">
      <% if (!shelby.models.user.isAnonymous()) { %>
        <li class="menu_item" role="menuitem">
          <button class="button_primer button_default frame-command command-roll js-roll-command js-track-event" data-ga_category="User Profile" data-ga_action="Click to roll frame" data-ga_label="<%= videoTitle %>">
            <i class="button_primer icon-videocard_roll">
            </i>
              Roll…
          </button>
        </li>
      <% } %>
      <li class="menu_item" role="menuitem">
        <button class="button_primer button_default frame-command command-queue js-queue-command js-track-event" data-ga_category="User Profile" data-ga_action="Click to like frame" data-ga_label="<%= videoTitle %>">
          <i class="icon-heart js-command-icon">
          </i>

          <span class="label">
            Like
          </span>
        </button>
      </li>
    </ul>
  </div><!-- eo .xframe-menu -->
  <a href="#" onclick="return false;" class="image_module frame-thumbnail js-play-explore-frame<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %> js-track-event" data-ga_category="User Profile" data-ga_action="Click thumbnail to play frame" data-ga_label="<%= videoTitle %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
    <img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%= videoTitle %>" alt="<%= videoTitle %> thumbnail" onload="$(this).parents('.explore-frame').first().removeClass('transparent');">
  </a>

  <a href="#" onclick="return false;" class="explore-frame-link js-play-explore-frame js-track-event" data-ga_category="User Profile" data-ga_action="Click title to play frame" data-ga_label="<%= videoTitle %>">
    <h3 class="explore-frame-title">
      <%= videoTitle %>
    </h3>
  </a>

  <% if (showFrameLikes) { %>
    <div class="frame-likes frame-external-subline icon-heart icon-heart--red js-frame-likes">
      <!-- Filled in by the FrameLikesView -->
    </div><!-- eo frame-likes -->
  <% } %>
</article>