<section class="explore-roll">
  <div class="explore-roll-header clearfix">
    <a href="#" onclick="return false;" class="explore-link js-explore-link js-track-event" data-ga_category="Explore" data-ga_action="Click roll title" data-ga_label="<%= roll.get('title') %>">
      <h2 class="explore-header">
        <%= roll.get('display_title') || roll.get('title') %>
      </h2>
      <p class="explore-subline">
        <!-- somedomain.com | -->See all…
      </p>
    </a>

    <ul class="explore-list explore-menu">
      <!-- <li>
        <button class="explore-command">
          Similar Rolls
        </button>
      </li> -->

      <li>
        <button class="button_primer button_gray-medium explore-command js-follow-unfollow js-track-event" data-ga_category="Explore" data-ga_action="Click <%= userFollowingRoll ? 'Unfollow' : 'Follow'  %> roll" data-ga_label="<%= roll.get('title') %>">
          <%= userFollowingRoll ? 'Unfollow' : 'Follow' %>
        </button>
      </li>
    </ul>
  </div>
</section>