<%
  var dbeAction = dashboardEntry.get('action'),
      avatar = shelby.config.recommendations.likeRecommendation,
      color = 'red';

  switch(dbeAction) {
    case libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.videoGraphRecommendation:
      avatar = shelby.config.recommendations.avatars.videoGraphRecommendation;
      color = 'green';
      break;
    case libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.entertainmentGraphRecommendation:
      avatar = shelby.config.recommendations.avatars.entertainmentGraphRecommendation;
      color = 'green';
      break;
    case libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.mortarRecommendation:
      avatar = shelby.config.recommendations.avatars.mortarRecommendation;
      color = 'red';
      break;
    default:
      avatar = shelby.config.recommendations.likeRecommendation;
      color = 'red';
  }
%>

<a href="#" onclick="return false;" class="js-goto-user-page" data-user_nickname="<%= "creator.get('nickname')" %>">
 <span class="image_module xuser-avatar<% if (false || 'fauxUserOrigin') { %> xuser-avatar--<%= 'fauxUserOrigin' %> icon-<%= 'fauxUserOrigin' %><% } %> media_image" style="background-image: url(<%= avatar %>);" role="img">
   <img src="<%= avatar %>" class="visuallyhidden" title="<%= 'creatorNickname' %>" alt="<%= 'creatorNickname' %>">
 </span><!-- eo media_image -->
</a>

<div class="media_body js-frame-recommendation">
  <% if (!isPvi) { %>
  <span class="xuser-data-timestamp">
    <%= dashboardEntry.get('frame').get('created_at') %>
  </span>
  <% } %>
  <p class="xuser-data xuser-data--<%= color %> xuser-data--recommendation">
    <strong>Recommended for you</strong>
  </p>
  <p class="xuser-message">
    <% if (isEntertainmentGraph) { %>
      <% if (firstFriend.has('nickname')) { %>
        <% if (numFriends > 1) { %>
          <%= SHELBYJST['user-page-link']({nickname: firstFriend.get('nickname')}) %> and <%= _.pluralize('other', numFriends - 1, true) %> are sharing, liking, and watching this video
        <% } else { %>
          <%= SHELBYJST['user-page-link']({nickname: firstFriend.get('nickname')}) %> checked out this video
        <% } %>
      <% } %>
    <% } else if (dashboardEntry.get('action') == libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.videoGraphRecommendation) { %>
      <% if (dashboardEntry.get('src_frame') && dashboardEntry.get('src_frame').has('creator')) { %>
        This video is shared by people like
          <%= SHELBYJST['user-page-link']({nickname: dashboardEntry.get('src_frame').get('creator').get('nickname')}) %>
      <% } else { %>
        Check out this video
      <% } %>
    <% } else if (dashboardEntry.get('action') == libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.mortarRecommendation) { %>
      <% if (dashboardEntry.get('src_video') && dashboardEntry.get('src_video').has('title')) { %>
        Because you shared "<%= dashboardEntry.get('src_video').get('title') %>"
      <% } else { %>
        This video is similar to videos you have shared
      <% } %>
    <% } %>
  </p>
  <% if (!isPvi && isEntertainmentGraph && numFriends) { %>
    <ul class="list frame-likes-avatars friends-avatars js-friend-avatars-list">
      <!-- Content filled in by ListView with ActorAvatarItemView list item views -->
    </ul>
  <% } %>
</div><!-- eo media_body -->