<% var isGenius       = frame.has('roll') && frame.get('roll').get('genius') %>
<% var user           = shelby.models.user %>
<% var userNickname   = user.get('nickname') %>
<% var userAvatar     = libs.shelbyGT.viewHelpers.user.avatarUrl(user) %>
<% var frameTitle     = frame.get('video').get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var conversation   = frame.get('conversation') %>
<% var message        = conversation ? conversation.get('messages').at(0) : null %>

<div class="overlay_header guide-overlay-head sharing-head">
  <div class="guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Sharing" data-ga_action="Click cancel" data-ga_label="<%= userNickname %>">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>

    <h2 class="guide-overlay-header">
      Share this video to friends
    </h2>
  </div><!-- eo guide-overlay-head-lining -->
</div><!-- eo guide-overlay-head.sharing-head -->

<div class="overlay_body guide-overlay-body conversation-body">
  <form class="form_module share-form clearfix">
    <h1 class="frame-title" title="<%= frameTitle %>">
      <%= frameTitle || '' %>
    </h1>

    <div class="frame-body-wrapper clearfix">
      <%=
        JST['thumbnail-module']({
          thumbnail : frameThumbnail,
          title : frameTitle
        })
      %>

      <% if (!isGenius && message) { %>
        <%=
          JST['media-module']({
              userAvatar   : libs.shelbyGT.viewHelpers.user.avatarUrlForMessage(message),
              userNickname : message.get('nickname'),
              messageText  : message.get('text'),
              timestamp    : frame.get('created_at'),
              action       : 'sharing',
              subline      : false
          })
        %>
      <% } %>
    </div><!-- eo frame-body-wrapper -->
    <div class="frame-sharing">
    </div>
  </form>
</div><!-- eo over_body guide-overlay-body conversation-body -->
