<% var frameTitle     = frame.get('video').get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var userNickname   = user.get('nickname') || 'your personal '%>
<div class="overlay_header guide-overlay-header conversation-header">
  <div class="guide-overlay-title">
    <button class="cancel js-cancel js-track-event" data-ga_category="Conversation" data-ga_action="Click cancel" data-ga_label="<%= userNickname %>">
      <i class="button_icon icon_cancel cancel-icon">
        Cancel
      </i>
    </button>
    <h2 class="top-line">Destination:</h3>
 		<h2 class="bottom-line"><%= userNickname + '.' %>shelby.tv</h2>
  </div>
</div>

<div class="overlay_body guide-overlay-body conversation-body">
  <form class="form_module">
    <h1 class="xframe-title" title="<%= frameTitle %>">
      <%= frameTitle %> 
    </h1>
    
    <div class="xframe-body-wrapper clearfix">
      <%=
        JST['thumbnail-module']({
          thumbnail : frameThumbnail,
          title : frameTitle
        })
      %>
      <div class="guide-overlay-main rolling-main">
        <!-- Form content from RollingFormView -->
      </div><!-- eo guide-overlay-main rolling-main -->
    </div><!-- eo xframe-body-wrapper -->
     <!--<div class="rolling-submit">
      <button id="js-roll-it" class="roll-options-submit" type="submit" onclick="return false;" tabindex="0">
        Roll It!
      </button>
    </div>-->
   </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->



