<% var userNickname = user.get('nickname') %>

<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>
<% var videoUnplayable = frameGroup.get('video_unplayable') %>
<% var videoIsInQueue = queuedVideosModel.videoIsInQueue(video) %>

<% var frameHasRoll = frame.has('roll') %>
<% var isGenius = frameHasRoll && frame.get('roll').get('genius') %>
<% var isViaSearch = (shelby.models.guide.get('displayState') == libs.shelbyGT.DisplayState.search) ? true : false %>

<% var framePermalink = libs.shelbyGT.viewHelpers.frame.permalink(frame) %>

<% var isFauxUser = creator && creator.get('user_type') == libs.shelbyGT.UserModel.USER_TYPE.faux %>
<% var fauxUserOrigin = !isFauxUser ? null : (frameHasRoll ? frame.get('roll').get('origin_network') : null) %>
<% var fauxUserNickname = isFauxUser ? libs.shelbyGT.viewHelpers.user.userOriginNickname(creator) : null %>

<% var creatorIsLiker = (frame.get('frame_type') == libs.shelbyGT.FrameModel.FRAME_TYPE.light_weight) %>

<% var browserNeedsFlash = libs.utils.flash.noFlashno264Support() && video.get('provider_name') == 'vimeo' %>
<!-- collapsed videocard -->

<article id="<%= videoId %>" class="animate_module frame frame-list-item frame-collapsed<%= (videoUnplayable || browserNeedsFlash) ? ' xvideo-unplayable' : ''%><%= (isViaSearch) ? ' via-search' : '' %><%= (frame.get('isFreshPlayNew')) ? ' fresh-play-new' : '' %>">

  <div class="frame-body-wrapper clearfix js-frame-activate">
    <div class="frame-body">
      <!-- TODO: should maybe use the thumbnail module JST -->
      <a href="#" onclick="return false;" class="image_module frame-thumbnail js-frame-activate<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
        <img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%- videoTitle %>" alt="<%- videoTitle %> thumbnail">
      </a>

      <div class="xvideo-unplayable-thumbnail-overlay">⏏<br/>unplayable</div>
    </div><!-- eo .frame-body -->

  <%
    if (!isGenius && creator) {
       var creatorNickname = fauxUserOrigin && fauxUserNickname ? fauxUserNickname : creator.get('nickname');;
    }
  %>
    <footer class="media_module frame-footer clearfix">
      <div class="media_body">
        <a href="#" onclick="return false;" class="frame-header js-frame-activate">
          <h1 class="frame-title" title="<%- videoTitle %>">
           <%= videoTitle %>
          </h1>

          <% if (isRecommendation && !isChannelRecommendation) { %>
            <div class="xuser-data">
              <span class="xuser-data--green">Recommended for you</span>
            </div>
          <% } else if (isChannelRecommendation) { %>
            <div class="xuser-data">
              <span class="xuser-data--green">Featured: <%= creatorNickname %></span>
            </div>
          <% } else if (!fauxUserOrigin) { %>
            <div class="xuser-data">
              <%= creatorNickname %><% if (!_(dupeFrames).isEmpty()) { %><%= ", " + _('other').pluralize(dupeFrames.length, true) %>
              <% } else if (frameOriginator &&
                            frameOriginator.get('nickname') != creatorNickname &&
                            frameOriginator.get('user_type') != libs.shelbyGT.UserModel.USER_TYPE.faux) { %>
                <%= (creatorIsLiker ? "liked via" : "via") + " " + frameOriginator.get('nickname') %>
              <% } else if (creatorIsLiker) { %>
                liked this
              <% } %>
            </div>
          <% } else { %>
            <p class="xuser-data xuser-message--faux">
              <i class="social-icon icon-<%= fauxUserOrigin%>"></i>
              <%= creatorNickname %> via <span class="capitalize"><%= fauxUserOrigin %></span>
            </p>
          <% } %>
        </a>
      </div>
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->

  <%= SHELBYJST['frame-aside'](obj) %>

</article>
<!-- end collapsed videocard -->
