<% var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || [] %>
<% var creator = frame.get('creator') %>
<% var creatorThumbnail = creator ? libs.shelbyGT.viewHelpers.user.avatarUrl(creator) : undefined %>
<% var creatorNickname = creator.get('nickname') || '' %>
<% var frameTitle = frame.get('video').get('title') || '' %>
<% var thumbnailText = (creator ? "posted by " + creator.get('nickname') : "video thumbnail") %>

<div class="overlay_header guide-overlay-head conversation-head">
  <div class="guide-overlay-head-lining">
    <button class="guide-overlay-cancel js-cancel js-track-event" data-ga_category="Conversation" data-ga_action="Click cancel" data-ga_label="<%= user.get('nickname') %>">
      <i class="button_icon icon_cancel cancel-icon">
        Cancel
      </i>
    </button>

    <h2 class="guide-overlay-header">
      Add a new comment within Shelby.tv
    </h2>
  </div><!-- eo guide-overlay-head-lining -->
</div><!-- eo guide-overlay-head.conversation-head -->

<div class="overlay_body guide-overlay-body conversation-body">
  <form class="form_module new-comment">
    <h1 class="xframe-title" title="<%= frameTitle %>">
      <%= frameTitle || '' %> 
    </h1>
    
    <div class="xframe-body-wrapper clearfix">
      <%=
        JST['thumbnail-module']({
          thumbnail : frame.get('video').get('thumbnail_url') || '',
          title : frame.get('video').get('title') || ''
        })
      %>

      <%=
        JST['frame-conversation-form']({user: user})
      %>
    </div>
  </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->