<% /* TODO: REMOVE THIS and MOVE TO template param obj*/ var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || new Backbone.Collection() %>
<% var comment; if(messages.models && messages.models.length > 0){ comment = messages.models[0].get('text') } %>

<% var user = shelby.models.user %>
<% var userNickname = user.get('nickname') %>

<% var video = frame.get('video') %>
<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>

<% var creator = frame.get('creator') %>
<% var isGenius = frame.has('roll') && frame.get('roll').get('genius') %>

<% var frameIsOnHeartedRoll = !user.get('anon') && frame.isOnRoll(user.get('heart_roll_id')) %>
<% var frameIsOnWatchLaterRoll = !user.get('anon') && frame.isOnRoll(user.get('watch_later_roll_id')) %>
<% var frameViewed = frameGroup.get('collapsed') %>
<% var videoUnplayable = frameGroup.get('video_unplayable') %>
<% var userIsAnonymous = user.isAnonymous() %>
<% var framePermalink = frame.has('roll') && 'http://' + frame.get('roll').get('subdomain') + '.shelby.tv/' + frame.id %>
<!-- videocard -->
<article id="<%= videoId %>" class="animate_module frame frame-list-item<%= (frameViewed) ? ' frame-collapsed' : ''%><%= (videoUnplayable) ? ' xvideo-unplayable' : ''%>">
  <% if (!frameViewed) { %>
    <a href="#" onclick="return false;" class="frame-header js-frame-activate">
      <h1 class="frame-title" title="<%= videoTitle %>">
       <%= videoTitle %>
      </h1>
    </a>
  <% } %>

  <div class="frame-body-wrapper clearfix<%= (frameViewed) ? ' js-frame-activate' : ''%>">
    <div class="frame-body">
      <div class="menu_module frame-menu">
        <ul class="menu_list frame-command-menu frame-list" role="menubar">
          <li class="menu_item" role="menuitem">
            <button class="button_primer frame-command command-queue
                           <%= shelby.models.guide.get('displayState')==='watchLaterRoll' ? 'remove-frame js-remove-frame ' : 'js-queue-frame '%>
                           <%= (queuedVideosModel.videoIsInQueue(video) ) ? ' queued button_gray-light' : ' button_default' %>">
              <i class="button_icon_left icon_videocard_queue icon">
                <%= (shelby.models.guide.get('displayState')==='watchLaterRoll') ? 'Remove' :
                    (queuedVideosModel.videoIsInQueue(video) ) ? 'Queued' : 'Queue' 
                %>
              </i>
            </button>
          </li>
          <li class="menu_item" role="menuitem">
            <button class="button_primer button_default frame-command command-roll js-roll-frame js-track-event" data-ga_category="Frame" data-ga_action="Click roll" data-ga_label="<%= userNickname %>">
              <i class="button_icon_left icon_videocard_roll icon">
                Roll…
              </i>
            </button>
          </li>
          <li class="menu_item right command-sublist" aria-haspopup="true">
            <button class="menu_sublist_anchor button_primer button_default frame-command command-more">
              <i class="button_icon_right dropdown_icon icon">
                More
              </i>
            </button>

            <ul class="menu_sublist frame-sublist" role="menu">
              <li class="menu_option frame-item" role="menuitem">
                <button class="frame-command command-share js-share-frame">
                  <i class="button_icon_left icon icon_email">
                    Share Video...
                  </i>
                </button>
              </li>
							<li class="menu_option frame-item" role="menuitem">
                <button class="frame-command command-link js-copy-link">
                  Get Shortlink
                </button>
								<!-- This button is changed into an input element by frame_group.view.js#_copyFrameLink -->
              </li>

              <% if (creator===shelby.models.user || shelby.models.guide.get('displayState')==='watchLaterRoll' || shelby.models.user.get('admin')) { %>
                <li class="menu_option frame-item" role="menuitem">
                  <button class="frame-command command-remove js-remove-frame">
                    Remove Video
                  </button>
                </li>
              <% } else if (shelby.models.user.get('admin')) { %>
              
                <li class="menu_option xframe-item" role="menuitem">
                  <button class="frame-command command-remove js-remove-frame">
                    ADMIN KLL VID
                  </button>
                </li>
              <% } %>
            </ul>
          </li>
        </ul>
      </div><!-- eo .frame-menu -->

     	<!-- TODO: should maybe use the thumbnail module JST -->
     	<a href="#" onclick="return false;" class="image_module frame-thumbnail js-frame-activate<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
       	<img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%= videoTitle %>" alt="<%= videoTitle %> thumbnail">
    	</a>
			<div class="xvideo-unplayable-thumbnail-overlay">⏏<br/>unplayable</div>

    	</div><!-- eo .frame-body -->

    <% if (!isGenius && creator) {
         var creatorNickname = creator.get('nickname');
         var creatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(creator);
         var clickableCreator = (shelby.models.guide.get('displayState') == libs.shelbyGT.DisplayState.dashboard ||
                                                                            frameIsOnHeartedRoll ||
                                                                            frameIsOnWatchLaterRoll);
    %>
      <footer class="media_module frame-footer clearfix">
        <% if (!frameViewed) { %>
           <% if (clickableCreator) { %>
             <a href="#" onclick="return false;" class="js-creator-personal-roll">
               <span class="image_module xuser-avatar media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
                 <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
               </span>
             </a>
           <% } else { %>
             <span class="image_module xuser-avatar media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
               <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
             </span>
           <% } %>
        <% } %>

        <div class="media_body">
          <% if (!frameViewed) { %>
            <span class="xuser-data-timestamp">
               <%= frame.get('created_at') %>
            </span>

            <p class="xuser-data">
              <% if (clickableCreator) { %>
                shared by <a href="#" onclick="return false;" class="js-creator-personal-roll no-faux-link"><strong><%= creatorNickname %></strong></a>
              <% } else { %>
                shared by <%= creatorNickname %>
              <% } %>
            </p>

            <% if(messages.models.length > 0 && creator.get('id') == messages.models[0].get('user_id')) { %>
              <p class="xuser-message">
                <% var comment = messages.models[0].escape('text') %>
                <% if (comment.length > 256) { %>
                  <%= comment.slice(0,256) %><span class="xuser-message-remainder" style="display: none"><%= comment.slice(256) %></span>
                  <a class="js-toggle-comment" href="#">more…</a>
                <% } else { %>
                  <%= comment %>
                <% } %>
              </p>
            <% } %>
						
						<% if (!user.isAnonymous()) { %>
	            <div class="frame-subline">
	              <a href="#" onclick="return false;" class="button_icon_left icon_videocard_comment frame-comment-link js-video-activity-toggle js-video-activity-toggle-comment js-track-event" data-ga_category="Frame" data-ga_action="Click show conversation" data-ga_label="<%= userNickname %>">
	                <%= (messages.length <= 1) ? 'Leave a comment' : 'Comments (' + messages.length + ')' %>
	              </a>
	            </div>
						<% } %>
          <% } else { %>
            <a href="#" onclick="return false;" class="frame-header js-frame-activate">
              <h1 class="frame-title" title="<%= videoTitle %>">
               <%= videoTitle %>
              </h1>

              <a class="frame-is-collapsed">
                Open
              </a>

              <div class="xuser-data">
                shared by <%= creatorNickname %><%= !_(dupeFrames).isEmpty() ? ", " + _('other').pluralize(dupeFrames.length, true) : '' %>
              </div>
            </a>
          <% } %>
        </div><!-- eo .media_body -->

        <% if (user.isAnonymous()) { %>
          <ul class="menu_list menu_list--share-frame">
            <li class="menu_item">
              <a href="https://twitter.com/intent/tweet?text=Watch%20this%20video&url=<%= framePermalink %>">
                <button class="button_primer button_default menu_button--twitter js-share-to-twitter js-track-event" data-ga_category="Frame" data-ga_action="Share frame on Twitter" data-ga_label="<%= frame.get('roll').get('title') %>">
                  <i class="button_icon_left icon_share_twitter icon">
                    Tweet
                  </i>
                </button>
              </a>
            </li>
            <li class="menu_item">
              <button class="button_primer button_default menu_button--facebook js-share-to-facebook js-track-event" data-ga_category="Frame" data-ga_action="Share frame on Facebook" data-ga_label="<%= frame.get('roll').get('title') %>">
                <i class="button_icon_left icon_share_facebook icon">
                  Share
                </i>
              </button>
            </li>
            <li class="menu_item menu_item--right">
              <button class="button_primer button_default menu_button--comment js-video-activity-toggle-comment js-video-activity-toggle js-track-event" data-ga_category="Frame" data-ga_action="Click comment on frame as anonymous user" data-ga_label="<%= frame.get('roll').get('title') %>">
                <i class="button_icon_left icon_videocard_comment icon">
                  <%= (messages.length <= 1) ? 'Leave a comment' : 'Comments (' + messages.length + ')' %>
                </i>
              </button>
            </li>
          </ul>
        <% } %>
      </footer><!-- eo .media_module-->
    <% } else if (frameViewed){ %>
      <footer class="media_module frame-footer clearfix">
        <div class="media_body">
          <a href="#" onclick="return false;" class="frame-header js-frame-activate">
            <h1 class="frame-title" title="<%= videoTitle %>">
             <%= videoTitle %>
            </h1>

            <a class="frame-is-collapsed">
              Open
            </a>
          </a>
        </div>
      </footer><!-- eo .media_module-->
    <% } %>
  </div><!-- eo .frame-body-wrapper -->
  <% if (!frameGroup.get('collapsed') && !_(dupeFrames).isEmpty()) { %>
    <aside class="frame-aside">
      <p class="frame-aside-text">
        Also via:

        <% _(dupeFrames).each(function(frame, index) { %>
          <%= index == 0 ? '' : ', ' %>
          <a href="#" data-roll_id="<%= frame.get('roll').id %>" data-frame_id="<%= frame.id %>" class="js-go-to-frame-and-roll-by-id">
          <%= libs.shelbyGT.viewHelpers.roll.titleForDisplay(frame.get('roll')) %>
          </a>
        <% }); %>
      </p>
    </aside>
  <% } %>
</article>
<!-- end new videocard -->
