<% var userNickname = user.get('nickname') %>

<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>
<% var videoUnplayable = frameGroup.get('video_unplayable') %>
<% var videoIsInQueue = queuedVideosModel.videoIsInQueue(video) %>

<% var frameHasRoll = frame.has('roll') %>
<% var isGenius = frameHasRoll && frame.get('roll').get('genius') %>
<% var isViaSearch = (shelby.models.guide.get('displayState') == libs.shelbyGT.DisplayState.search) ? true : false %>

<% var frameViewed = frameGroup.get('collapsed') %>
<% var userIsAnonymous = user.isAnonymous() %>
<% var framePermalink = libs.shelbyGT.viewHelpers.frame.permalink(frame) %>

<% var isFauxUser = creator && creator.get('user_type') == libs.shelbyGT.UserModel.USER_TYPE.faux %>
<% var fauxUserOrigin = !isFauxUser ? null : (frameHasRoll ? frame.get('roll').get('origin_network') : null) %>
<% var fauxUserNickname = isFauxUser ? libs.shelbyGT.viewHelpers.user.userOriginNickname(creator) : null %>

<% var browserNeedsFlash = libs.utils.flash.noFlashno264Support() && video.get('provider_name') == 'vimeo' %>
<!-- videocard -->

<article id="<%= videoId %>" class="animate_module frame frame-list-item<%= (frameViewed) ? ' frame-collapsed' : ''%><%= (videoUnplayable || browserNeedsFlash) ? ' xvideo-unplayable' : ''%><%= (isViaSearch) ? ' via-search' : '' %><%= (frame.get('isFreshPlayNew')) ? ' fresh-play-new' : '' %>">
  <a href="#" onclick="return false;" class="frame-header js-frame-activate">
    <h1 class="frame-title" title="<%- videoTitle %>">
     <%= videoTitle %>
    </h1>
  </a>

  <div class="frame-body-wrapper clearfix<%= (frameViewed) ? ' js-frame-activate' : ''%>">
    <div class="frame-body">
      <ul class="list list--inline frame-menu" role="menubar">
        <li class="list__item" role="menuitem">
          <button class="button_primer button_green button_command button_command--roll js-share-frame js-track-event" data-ga_category="Frame" data-ga_action="Click roll" data-ga_label="<%= userNickname %>">
            <span class="icon icon-roll"></span>Share…
          </button>
        </li>

        <li class="list__item" role="menuitem">
          <% if (shelby.models.guide.get('displayState') != libs.shelbyGT.DisplayState.watchLaterRoll) { %>
            <button class="button_primer button_gray button_command button_command--like js-queue-frame
                           <%= (videoIsInQueue) ? ' queued' : ' button_gray' %>">
              <span class="icon icon-like<%= videoIsInQueue ? ' icon-like--red': '' %>"></span><span class="label"><%= (videoIsInQueue ) ? 'Liked' : 'Like' %></span>
            </button>
          <% } else { %>
            <button class="button_primer button_gray button_command button_command--remove js-queue-frame remove-frame js-remove-frame queued">
              <span class="label">Remove</span>
            </button>
          <% } %>
        </li>

        <% if (shelby.models.user.get('admin')) { %>
          <li class="list__item right" role="menuitem">
            <button class="button_primer button_red button_command button_command--cancel js-remove-frame">
              <span class="icon icon-close"></span>
            </button>
          </li>
        <% } %>

      </ul><!-- eo frame-menu -->

      <!-- TODO: should maybe use the thumbnail module JST -->
      <a href="#" onclick="return false;" class="image_module frame-thumbnail js-frame-activate<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %> js-track-event" data-ga_category="Frame" data-ga_action="Click frame to play" data-ga_label="<%= shelby.models.user.get('nickname') %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
        <img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%- videoTitle %>" alt="<%- videoTitle %> thumbnail">
      </a>
      <div class="xvideo-unplayable-thumbnail-overlay">⏏<br/><%= (browserNeedsFlash) ? 'flash needed' : 'unplayable' %></div>

      </div><!-- eo .frame-body -->

    <% if (!isGenius && creator) {
         var creatorNickname = fauxUserOrigin && fauxUserNickname ? fauxUserNickname : creator.get('nickname');
         var creatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(creator);
         var clickableCreator = (shelby.models.guide.get('displayState') != libs.shelbyGT.DisplayState.standardRoll);
    %>
      <footer class="media_module frame-footer clearfix">
         <% if (clickableCreator) { %>
           <a href="#" onclick="return false;" class="js-goto-user-page" data-user_nickname="<%= creator.get('nickname') %>">
             <span class="image_module xuser-avatar<% if (fauxUserOrigin) { %> xuser-avatar--<%= fauxUserOrigin %> icon-<%= fauxUserOrigin %><% } %> media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
               <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
             </span>
           </a>
         <% } else { %>
           <span class="image_module xuser-avatar media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
             <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
           </span>
         <% } %>

          <div class="media_body">
            <% var hasComment = messages.models.length > 0 && creator.get('id') == messages.models[0].get('user_id') %>
            <% var comment = hasComment && messages.models[0].get('text') %>
            <% var commentOverflow = comment && comment.length > 265 %>
              <span class="xuser-data-timestamp">
                 <%= frame.get('created_at') %>
              </span>

              <p class="xuser-data">
                <% if (clickableCreator) { %>
                  <a href="#" onclick="return false;" class="js-goto-user-page no-faux-link" data-user_nickname="<%= creator.get('nickname') %>"><strong><%= creatorNickname %></strong></a>
                <% } else { %>
                  <%= creatorNickname %>
                <% } %>

                <% if (fauxUserOrigin) { %>
                  via <span class="capitalize"><%= fauxUserOrigin %></span>
                <% } else if (frameOriginator && frameOriginator.get('nickname') != creatorNickname && frameOriginator.get('user_type') != 1) { %>
                  via <a class="no-faux-link js-navigate-originator" href="#"><%= frameOriginator.get('nickname') %></a>
                <% } %>
              </p>

              <p class="xuser-message<%= commentOverflow ? ' line-clamp js-toggle-comment' : '' %>">
                <% if(hasComment) { %>
                  <%=
                    libs.utils.String.linkifySafeWithClickTracking(comment, {
                      link : {
                        gaAction : 'Click on link in comment'
                      }
                    })
                  %>
                <% } %>
              </p>
          </div><!-- eo .media_body -->

      </footer><!-- eo .media_module-->
    <% } else if (isRecommendation) {
    %>
      <footer class="media_module frame-footer clearfix">
        <div class="media_body js-frame-recommendation">
          <!-- content filled in by FrameRecommendationView -->
        </div><!-- eo .media_body -->
      </footer><!-- eo .media_module-->
    <% } %>
  </div><!-- eo .frame-body-wrapper -->

  <%= SHELBYJST['frame-aside'](obj) %>

</article>
<!-- end new videocard -->
