<% var frameTitle     = frameVideo.get('title') || '' %>
<% var frameThumbnail = frameVideo.get('thumbnail_url') %>
<% var userNickname   = user.get('nickname') || 'your personal '%>

<div class="guide-overlay__head guide-overlay__head--frame-rolling">
  <h2 class="guide-overlay__h1">
    <%= (userLoggedIn) ? 'Share on Shelby' : 'Share from Shelby' %>
  </h2>
</div><!-- eo guide-overlay__head--frame-rolling -->

<div class="guide-overlay__body guide-overlay__body--frame-rolling">
  <div class="roll_selection js-roll-selection">
    <!-- content from RollingSelectionListView when applicable -->
  </div>

  <form class="form_module rolling-form">
    <h1 class="frame-title" title="<%= frameTitle %>">
      <%= frameTitle %>
    </h1>

    <div class="frame-body-wrapper clearfix">
      <%=
        SHELBYJST['thumbnail-module']({
          thumbnail : frameThumbnail,
          title : frameTitle
        })
      %>
      <div class="js-guide-overlay-main guide-overlay__main">
        <!-- Form content from RollingFormView -->
      </div><!-- eo guide-overlay__main -->
    </div><!-- eo frame-body-wrapper -->
  </form>

  <% if (currentFrameShortlink) { %>
    <div class="guide-overlay__foot guide-overlay__foot--frame-rolling">
      <div class="guide-overlay__lining">
        <span class="form_label">
          Shortlink
        </span>

        <span class="share_menu__faux-button button_command--shortlink one-half clearfix">
          <span class="icon icon-shortlink"></span>
          <input type="text" value="<%= currentFrameShortlink || 'Fetching...' %>" class="form_input js-frame-shortlink js-input-select-on-focus" />
        </span>
      </div><!-- eo foot lining -->
    </div><!-- eo guide-overlay__foot -->
  <% } %>
</div><!-- eo guide-overlay__body -->