<% var frameTitle     = frame.get('video').get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var userNickname   = user.get('nickname') || 'your personal '%>

<div class="guide-overlay__head guide-overlay__head--frame-rolling">
  <h2 class="guide-overlay__title--inline">
    Roll To:
    <span class="destination js-rolling-destination-display">
      <%= userNickname + '.' %>shelby.tv
    </span>
  </h2>

  <button class="button_primer button_gray-medium guide-overlay__button--cancel js-cancel js-track-event" data-ga_category="Roll" data-ga_action="Click cancel" data-ga_label="<%= userNickname %>">
    <i class="icon_primer icon--cancel"></i>

    <span class="visuallyhidden">Cancel</span>
  </button>

  <a href="#" class="destination-modifier js-change-rolling-destination">
    change
  </a>
</div><!-- eo guide-overlay__head--frame-rolling -->

<div class="guide-overlay__body guide-overlay__body--frame-rolling">
  <div class="roll_selection js-roll-selection">
    <!-- content from RollingSelectionListView when applicable -->
  </div>

  <form class="form_module rolling-form">
    <h1 class="frame-title" title="<%= frameTitle %>">
      <%= frameTitle %>
    </h1>

    <div class="frame-body-wrapper clearfix">
      <%=
        SHELBYJST['thumbnail-module']({
          thumbnail : frameThumbnail,
          title : frameTitle
        })
      %>
      <div class="js-guide-overlay-main guide-overlay__main">
        <!-- Form content from RollingFormView -->
      </div><!-- eo guide-overlay__main -->
    </div><!-- eo frame-body-wrapper -->
     <!--<div class="rolling-submit">
      <button id="js-roll-it" class="roll-options-submit" type="submit" onclick="return false;" tabindex="0">
        Roll It!
      </button>
    </div>-->
   </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->