<% var userNickname = user.get('nickname') %>

<% var videoId = frame.get('id') %>
<% var videoTitle = video.get('title') %>
<% var videoThumbnail = video.get('thumbnail_url') %>
<% var videoUnplayable = frameGroup.get('video_unplayable') %>
<% var videoIsInQueue = queuedVideosModel.videoIsInQueue(video) %>

<% var frameHasRoll = frame.has('roll') %>
<% var isGenius = frameHasRoll && frame.get('roll').get('genius') %>
<% var isViaSearch = (shelby.models.guide.get('displayState') == libs.shelbyGT.DisplayState.search) ? true : false %>

<% var frameViewed = frameGroup.get('collapsed') %>
<% var userIsAnonymous = user.isAnonymous() %>
<% var framePermalink = libs.shelbyGT.viewHelpers.frame.permalink(frame) %>

<% var isFauxUser = creator && creator.get('user_type') == libs.shelbyGT.UserModel.USER_TYPE.faux %>
<% var fauxUserOrigin = !isFauxUser ? null : (frameHasRoll ? frame.get('roll').get('origin_network') : null) %>
<% var fauxUserNickname = isFauxUser ? libs.shelbyGT.viewHelpers.user.userOriginNickname(creator) : null %>

<% var browserNeedsFlash = libs.utils.flash.noFlashno264Support() && video.get('provider_name') == 'vimeo' %>
<!-- videocard -->

<article id="<%= videoId %>" class="animate_module frame frame-list-item<%= (frameViewed) ? ' frame-collapsed' : ''%><%= (videoUnplayable || browserNeedsFlash) ? ' xvideo-unplayable' : ''%><%= (isViaSearch) ? ' via-search' : '' %><%= (frame.get('isFreshPlayNew')) ? ' fresh-play-new' : '' %>">
  <a href="#" onclick="return false;" class="frame-header js-frame-activate">
    <h1 class="frame-title" title="<%= videoTitle %>">
     <%= videoTitle %>
    </h1>
  </a>

  <div class="frame-body-wrapper clearfix<%= (frameViewed) ? ' js-frame-activate' : ''%>">
    <div class="frame-body">
      <div class="menu_module frame-menu">
        <ul class="menu_list frame-command-menu frame-list" role="menubar">
          <% if (!user.isAnonymous()) { %>
            <li class="menu_item" role="menuitem">
              <button class="button_primer button_blue button_command button_command--roll js-roll-frame js-track-event" data-ga_category="Frame" data-ga_action="Click roll" data-ga_label="<%= userNickname %>">
                <i class="icon icon-videocard_roll"></i>Roll…
              </button>
            </li>
          <% } %>

          <li class="menu_item" role="menuitem">
            <% if (shelby.models.guide.get('displayState') != libs.shelbyGT.DisplayState.watchLaterRoll) { %>
              <button class="button_primer button_gray button_command button_command--like js-queue-frame
                             <%= (videoIsInQueue) ? ' queued' : ' button_gray' %>">
                <i class="icon icon-heart<%= videoIsInQueue ? ' icon-heart--red': '' %>"></i><span class="label"><%= (videoIsInQueue ) ? 'Liked' : 'Like' %></span>
              </button>
            <% } else { %>
              <button class="button_primer button_gray button_command button_command--remove js-queue-frame remove-frame js-remove-frame queued">
                <span class="label">
                  Remove
                </span>
              </button>
            <% } %>
          </li>

          <li class="menu_item" role="menuitem">
            <button class="button_primer button_gray button_command button_comand--share js-share-menu">
              <i class="icon icon-share"></i>Share…
            </button>

            <div class="share_menu frame-body-wrapper js-share-menu-block hidden">
              <ul class="list">
                <li class="list__item">
                  <% if (user.isAnonymous()) { %>
                    <a href="mailto:?subject=Check%20out%20this%20video...&body=<%= encodeURIComponent(anonUserShareEmailBody) %>">
                  <% } %>
                    <button class="button_primer button_gray button_share button_share--email js-hide-share-menu js-track-event<%= !user.isAnonymous() ? ' js-button_share--email' : ''%>" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame via email" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                      <i class="icon icon-email"></i>
                        Email
                    </button>
                  <% if (user.isAnonymous()) { %>
                    </a>
                  <% } %>
                </li>
                <% if (user.isAnonymous()) { %>
                  <li class="list__item">
                    <a href="https://twitter.com/intent/tweet?<%= tweetIntentQueryString %>">
                      <button class="button_primer button_gray button_share button_share--twitter js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Twitter" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                        <i class="icon icon-social_twitter"></i>
                          Twitter
                      </button>
                    </a>
                  </li>
                <li class="list__item">
                  <button class="button_primer button_gray button_share button_share--facebook js-share-to-facebook js-hide-share-menu js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Share frame on Facebook" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                    <i class="icon icon-social_facebook"></i>
                      Facebook
                  </button>
                </li>
                <% } %>
                <% if (!currentFrame.get('isSearchResultFrame')) { %>
                  <li class="list__item js-share-embed-item">
                    <button class="button_primer button_gray button_share button_share--embed js-button_share--embed js-track-event" data-ga_category="<%= eventTrackingCategory %>" data-ga_action="Get embed code" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                      <i class="icon icon-embed">
                      </i>
                        Embed
                    </button>
                  </li>
                  <li class="list__item nudge">
                    <span class="share_menu__faux-button clearfix">
                      <i class="icon icon-shortlink">
                      </i>
                      <input type="text" value="<%= currentFrameShortlink || 'Fetching...' %>" class="form_input js-frame-shortlink js-input-select-on-focus" />
                    </span>
                  </li>
                <% } %>
              </ul>
            </div><!-- eo share_menu -->
          </li>

          <% if (false && creator===shelby.models.user || shelby.models.guide.get('displayState')==='watchLaterRoll' || shelby.models.user.get('admin')) { %>
            <li class="menu_item right" role="menuitem">
              <button class="button_primer <%= shelby.models.user.get('admin') ? 'button_red' : 'button_gray' %> button_command button_command--remove js-remove-frame">
                <i class="icon icon-cancel"></i>
              </button>
            </li>
          <% } %>

        </ul>
      </div><!-- eo .frame-menu -->

      <!-- TODO: should maybe use the thumbnail module JST -->
      <a href="#" onclick="return false;" class="image_module frame-thumbnail js-frame-activate<%= (!videoThumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= videoThumbnail %>');" role="img">
        <img class="visuallyhidden" src="<%= videoThumbnail %>" title="<%= videoTitle %>" alt="<%= videoTitle %> thumbnail">
      </a>
      <div class="xvideo-unplayable-thumbnail-overlay">⏏<br/><%= (browserNeedsFlash) ? 'flash needed' : 'unplayable' %></div>

      </div><!-- eo .frame-body -->

    <% if (!isGenius && creator) {
         var creatorNickname = fauxUserOrigin && fauxUserNickname ? fauxUserNickname : creator.get('nickname');
         var creatorAvatar = libs.shelbyGT.viewHelpers.user.avatarUrl(creator);
         var clickableCreator = (shelby.models.guide.get('displayState') != libs.shelbyGT.DisplayState.standardRoll);
    %>
      <footer class="media_module frame-footer clearfix">
         <% if (clickableCreator) { %>
           <a href="#" onclick="return false;" class="js-creator-personal-roll">
             <span class="image_module xuser-avatar<% if (fauxUserOrigin) { %> xuser-avatar--<%= fauxUserOrigin %> icon-social_<%= fauxUserOrigin %><% } %> media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
               <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
             </span>
           </a>
         <% } else { %>
           <span class="image_module xuser-avatar media_image" style="background-image: url(<%= creatorAvatar %>);" role="img">
             <img src="<%= creatorAvatar %>" class="visuallyhidden" title="<%= creatorNickname %>" alt="<%= creatorNickname %>">
           </span>
         <% } %>

          <div class="media_body">
            <% var hasComment = messages.models.length > 0 && creator.get('id') == messages.models[0].get('user_id') %>
            <% var comment = hasComment && messages.models[0].get('text') %>
            <% var commentOverflow = comment && comment.length > 265 %>
              <span class="xuser-data-timestamp">
                 <%= frame.get('created_at') %>
              </span>

              <p class="xuser-data">
                <% if (clickableCreator) { %>
                  <a href="#" onclick="return false;" class="js-creator-personal-roll no-faux-link"><strong><%= creatorNickname %></strong></a>
                <% } else { %>
                  <%= creatorNickname %>
                <% } %>

                <% if (fauxUserOrigin) { %>
                  via <span class="capitalize"><%= fauxUserOrigin %></span>
                <% } else if (frameOriginator && frameOriginator.get('nickname') != creatorNickname && frameOriginator.get('user_type') != 1) { %>
                  via <a class="no-faux-link js-navigate-originator" id="<%= frameOriginator.id %>" href="#"><%= frameOriginator.get('nickname') %></a>
                <% } %>
              </p>

              <p class="xuser-message<%= commentOverflow ? ' line-clamp js-toggle-comment' : '' %>">
                <% if(hasComment) { %>
                  <%=
                    libs.utils.String.linkifySafeWithClickTracking(comment, {
                      link : {
                        gaAction : 'Click on link in comment'
                      },
                      hashtag : {
                        gaAction : 'Click on hashtag link'
                      }
                    })
                  %>
                <% } %>
              </p>
          </div><!-- eo .media_body -->

      </footer><!-- eo .media_module-->
    <% } %>
  </div><!-- eo .frame-body-wrapper -->

  <%= SHELBYJST['frame-aside'](obj) %>

	<% if(frame.get('isFreshPlayNew')){ %>
		<div class="sash">New</div>
	<% } %>

</article>
<!-- end new videocard -->
