<% var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || [] %>
<% var creator = frame.get('creator') %>
<% var creatorThumbnail = creator ? libs.shelbyGT.viewHelpers.user.avatarUrl(creator) : undefined %>
<% var creatorNickname = creator.get('nickname') || '' %>
<% var frameTitle = frame.get('video').get('title') || '' %>
<% var thumbnailText = (creator ? "posted by " + creator.get('nickname') : "video thumbnail") %>

<div class="overlay_header guide-overlay-head conversation-head">
  <div class="guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Conversation" data-ga_action="Click cancel" data-ga_label="<%= user.get('nickname') %>">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>

    <h2 class="guide-overlay-header">
      Add a new comment within Shelby.tv
    </h2>
  </div><!-- eo guide-overlay-head-lining -->
</div><!-- eo guide-overlay-head.conversation-head -->

<div class="overlay_body guide-overlay-body conversation-body js-conversation-body">
  <form class="form_module new-comment">
    <h1 class="frame-title" title="<%= frameTitle %>">
      <%= frameTitle || '' %> 
    </h1>
    
    <div class="frame-body-wrapper clearfix">
      <%=
        SHELBYJST['thumbnail-module']({
          thumbnail : frame.get('video').get('thumbnail_url') || '',
          title : frame.get('video').get('title') || ''
        })
      %>
			<% if (!shelby.models.user.isAnonymous()) { %>
	      <%=
	        SHELBYJST['frame-conversation-form']({user: user})
	      %>
			<% } %>
    </div><!-- eo frame-body-wrapper -->
		<% if (shelby.models.user.isAnonymous()) { %>
			<div id="disqus_thread"></div>
			<% console.log("test"); %>
			<%= SHELBYJST['disqus']({frame: frame}) %>
			
	    <div class="signin_module" style="display:none;">
		    <section class="dropdown_section signup-section">
		      <div class="dropdown_lining signup-section-lining clearfix"></div>
				</section>
				
				<% return_url = document.referrer == "" ? document.location.href : document.referrer; %>
				
	      <a id="js-login-within-comments" href="#" class="signin_module__link js-track-event" data-ga_category="Frame" data-ga_action="Click login in comments" data-ga_label="<%= frame.get('roll').get('title') %>">Log in</a> or <a class="signin_module__link signup-popup js-track-event" data-ga_category="Frame" data-ga_action="Click signup in comments" data-ga_label="<%= frame.get('roll').get('title') %>" href="<%= shelby.config.popupCohortEntraceURL %>?source=comment&roll=<%= frame.get('roll').get('title') %>&return_url=<%= return_url %>" location="<%= shelby.config.popupCohortEntraceURL %>?source=comment&roll=<%= frame.get('roll').get('title') %>&return_url=<%= return_url %>" popup-width="450" popup-height="525">Sign up</a> to leave a comment.
	    </div>
		<% } %>
  </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->