<% if (!isPvi) { %>
<span class="xuser-data-timestamp">
  <%= dashboardEntry.get('frame').get('created_at') %>
</span>
<% } %>
<p class="xuser-data xuser-data--green xuser-data--recommendation">
  <strong>Recommended for you</strong>
</p>
<p class="xuser-message">
  <% if (isEntertainmentGraph) { %>
    <% if (firstFriend.has('nickname')) { %>
      <% if (numFriends > 1) { %>
        <%= SHELBYJST['user-page-link']({nickname: firstFriend.get('nickname')}) %> and <%= _.pluralize('other', numFriends - 1, true) %> are sharing, liking, and watching this video
      <% } else { %>
        <%= SHELBYJST['user-page-link']({nickname: firstFriend.get('nickname')}) %> checked out this video
      <% } %>
    <% } %>
  <% } else if (dashboardEntry.get('action') == libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.videoGraphRecommendation) { %>
    <% if (dashboardEntry.get('src_frame') && dashboardEntry.get('src_frame').has('creator')) { %>
      This video is shared by people like
        <%= SHELBYJST['user-page-link']({nickname: dashboardEntry.get('src_frame').get('creator').get('nickname')}) %>
    <% } else { %>
      Check out this video
    <% } %>
  <% } else if (dashboardEntry.get('action') == libs.shelbyGT.DashboardEntryModel.ENTRY_TYPES.mortarRecommendation) { %>
    This is a Mortar recommendation.
  <% } %>
<p>
<% if (!isPvi && isEntertainmentGraph && numFriends) { %>
  <ul class="list frame-likes-avatars friends-avatars js-friend-avatars-list">
    <!-- Content filled in by ListView with ActorAvatarItemView list item views -->
  </ul>
<% } %>