<% var creator = frame.get('creator') %>
<% var frameTitle = frame.get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var thumbnailText = (creator ? "posted by " + creator.get('nickname') : "video thumbnail") %>
<% console.log(user) %>
<div class="overlay_header guide-overlay-header conversation-header">
  <div class="guide-overlay-title">
    <button class="cancel js-track-event" data-ga_category="Conversation" data-ga_action="Click cancel" data-ga_label="<%= user.get('nickname') %>">
      X
    </button>
    <h2>Destination: user.shelby.tv</h2>
  </div>
</div>

<div class="overlay_body guide-overlay-body conversation-body">
<!--   <div class="guide-overlay-title">
    <button class="cancel js-track-event" data-ga_category="Rolling" data-ga_action="Click cancel" data-ga_label='<%= user.get('nickname') %>'>
      Cancel
    </button>
		<button class="back js-track-event" data-ga_category="Rolling" data-ga_action="step_2_back" data-ga_label='<%= user.get('nickname') %>'
			style="display:none;">
      Back
    </button>
    <h2 class="title">Roll Videoz</h2>
  </div>
 -->  
  <h1 class="xframe-title" title="<%= frameTitle %>">
    <%= frameTitle || '' %> 
  </h1>
  
  <div class="xframe-body-wrapper">
    <%=
      JST['thumbnail-module']({
        thumbnail : frameThumbnail,
        title : frame.get('video').get('title')
      })
    %>



    <div class="guide-overlay-main rolling-main">
      <div class="rolling-form">
        <!-- Form content from RollingFormView -->
      </div>
    </div>
  </div>
</div>



