<% var frameTitle     = frame.get('video').get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var userNickname   = user.get('nickname') || 'your personal '%>
<div class="overlay_header guide-overlay-head framerolling-head">
  <div class="guide-overlay-head-lining js-guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Roll" data-ga_action="Click cancel" data-ga_label="<%= userNickname %>">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>
			
    <h2 class="guide-overlay-header">
      Roll To:
			<span class="destination js-rolling-destination-display">
				<%= userNickname + '.' %>shelby.tv
			</span>
    </h2>

		<a href="#" class="change-rolling-destination js-change-rolling-destination">
			change
		</a>

  </div><!-- eo guide-overlay-head-lining -->
</div><!-- eo guide-overlay-head.framerolling-head -->

<div class="overlay_body guide-overlay-body framerolling-body">
	<div class="roll-selection-wrapper js-roll-selection">
		<!-- content from RollingSelectionListView when applicable -->
	</div>
	
  <form class="form_module rolling-form">
    <h1 class="frame-title" title="<%= frameTitle %>">
      <%= frameTitle %> 
    </h1>
    
    <div class="frame-body-wrapper clearfix">
      <%=
        SHELBYJST['thumbnail-module']({
          thumbnail : frameThumbnail,
          title : frameTitle
        })
      %>
      <div class="guide-overlay-main rolling-main">
        <!-- Form content from RollingFormView -->
      </div><!-- eo guide-overlay-main rolling-main -->
    </div><!-- eo frame-body-wrapper -->
     <!--<div class="rolling-submit">
      <button id="js-roll-it" class="roll-options-submit" type="submit" onclick="return false;" tabindex="0">
        Roll It!
      </button>
    </div>-->
   </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->



