<ul class="js-content-selector list list--inline app_nav clearfix">
  <li class="list__item">
    <button class="app_nav__button js-stream js-track-event" data-ga_category="Header" data-ga_action="Stream" data-ga_label='<%= userNickname %>'>
      Stream
    </button>
  </li>

  <li class="list__item js-community-menu">
    <button class="app_nav__button js-community js-track-event" data-ga_category="Header" data-ga_action="Community" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      Community
    </button>
  </li>

  <% if (!user.isAnonymous()) { %>
    <li class="list__item js-guide-me js-track-event" data-ga_category="Header" data-ga_action="Me" data-ga_label='<%= userNickname %>'>
      <button class="app_nav__button js-me">
        Me
      </button>
    </li>
  <% } %>

  <% if (false) {  %>
    <!-- TODO: debt -->
    <li class="dropdown_module--no-hover dropdown_module--invite-user list__item js-guide-invite">
      <!-- Content filled in by InviteFormView -->
    </li>
  <% } %>

  <% if (user.get('admin')) { %>
    <li class="list__item js-admin">
      <button class="app_nav__button">
        Admin
      </button>
    </li>
  <% } %>

  <% if (user.isAnonymous()) { %>
    <li class="dropdown_module list__item secondary-item guide-login">
          <button class="dropdown_button app_nav__button">
            Log In <span class="icon-carrot"></span>
          </button>

          <section class="dropdown_section login-section">
            <div class="dropdown_lining fin fin--top_right fin--edging clearfix">
              <%= SHELBYJST['signin-form'](shelby.config.loginForm) %>
            </div>
          </section>
        </li><!-- eo login button/dropdown -->
  <% } %>

  <li class="dropdown_module list__item secondary-item js-guide-settings">
    <button class="dropdown_button app_nav__button app_nav__button--settings js-track-event" data-ga_category="Header" data-ga_action="Settings" data-ga_label="<%= userNickname %>">
      <% var avatar = libs.shelbyGT.viewHelpers.user.avatarUrl(user,libs.shelbyGT.UserAvatarSizes.small)%>
      <span style="background-image: url('<%= avatar %>');" class="image_module avatar avatar--inline avatar--tiny" role="img"><img src="<%= avatar %>" class="visuallyhidden"/></span>
        <%= userNickname %> <span class="icon-carrot"></span>
    </button>
    <section class="dropdown_section settings-section">
      <div class="dropdown_lining fin fin--top_right fin--edging clearfix">
        <ul class="list">
          <li class="list__item">
            <button
              class="button_primer button_command button_command--flexible button_command--sub button_command--text js-me"
              data-ga_category="Header"
              data-ga_action="Profile"
              data-ga_label="<%= userNickname %>"
            >
              Profile
            </button>
          </li>
        </ul>

        <ul class="list">
          <li class="list__item">
            <a
              href="/preferences"
              class="button_primer button_command button_command--flexible button_command--sub button_command--text js-navigate"
              data-ga_category="Header"
              data-ga_action="Preferences"
              data-ga_label="<%= userNickname %>"
              >
              Preferences
            </a>
          </li>

          <li class="list__item">
            <a
              href="/preferences/friends"
              class="button_primer button_command button_command--flexible button_command--sub button_command--text js-navigate"
              data-ga_category="Header"
              data-ga_action="Invite Friends"
              data-ga_label="<%= userNickname %>"
              >
              Invite Friends
            </a>
          </li>

          <li class="list__item">
            <a href="https://getsatisfaction.com/shelbytv" target="_blank" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
              Support and Feedback
            </a>
          </li>

          <li class="list__item">
            <a href="http://shelby.tv/blog" target="_blank" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
              Blog
            </a>
          </li>
      </ul>

      <ul class="list">
          <li class="list__item">
            <button
              class="button_primer button_command button_command--flexible button_command--sub button_command--text js-signout"
              data-ga_category="Header"
              data-ga_action="Logout"
              data-ga_label="<%= userNickname %>"
              >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </section>
  </li>
</ul><!-- eo guide-presentation-list -->
