
<ul class="js-content-selector guide-presentation-list clearfix">
  <li class="guide-presentation-item">
    <button class="presentation-button js-stream js-track-event" data-ga_category="Header" data-ga_action="Stream" data-ga_label='<%= shelby.models.user.get('nickname') %>'  >
      Stream
    </button>
  </li>

  <li class="guide-presentation-item">
    <button class="presentation-button js-queue js-track-event" data-ga_category="Header" data-ga_action="Queue" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      Queue 
    </button>
  </li>

  <li class="guide-presentation-item">
    <button class="presentation-button js-explore">
      Explore
    </button>
  </li>

  <li class="guide-presentation-item">
    <button class="presentation-button js-my-rolls">
      Me
    </button>
  </li>

	<li class="guide-presentation-item guide-now-playing">
    <button class="presentation-button js-now-playing js-track-event" data-ga_category="Header" data-ga_action="Now Playing" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      Now Playing
    </button>

	  <div class="context-overlay-wrapper js-inactivity-preemption">
	    <aside id="js-context-overlay-lining" class="context-overlay-lining clearfix"></aside>
	  </div><!-- eo .conext-overlay-wrapper -->
  </li>

  <li class="guide-presentation-item guide-settings">
    <button class="js-settings guide-settings-anchor js-track-event" data-ga_category="Header" data-ga_action="Settings" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
    </button>

    <ul id="js-settings-subnav" class="guide-settings-list">
      <li class="guide-settings-item clearfix" style="background-color: #ddd;">
        <span class="guide-settings-userhandle clearfix" style="line-height:2.2;font-weight: 500;">
          <img src="<%= user.get('user_image') %>" style="background-color:white; border-radius:3px; height:20px; float:left; margin:3px; width:20px;">
          <%= user.get('nickname') %>
        </span>
      </li>
      <li class="guide-settings-item">
        <button class="presentation-button guide-settings-button js-help">Help</button>
      </li>
      <li class="guide-settings-item">
        <button class="presentation-button guide-settings-button js-team">Team</button>
      </li>
      <li class="guide-settings-item">
        <a class="presentation-button guide-settings-button" href="http://shelby.tv/blog" target="_blank">Blog</a>
      </li>
      <li class="guide-settings-item">
        <button class="presentation-button guide-settings-button js-legal">Legal</button>
      </li>
      <li class="guide-settings-item">
        <button class="presentation-button guide-settings-button js-preferences js-track-event" data-ga_category="Header" data-ga_action="Preferences" data-ga_label='<%= shelby.models.user.get('nickname') %>'>Preferences</button>
      </li>
      <li class="guide-settings-item">
        <button class="presentation-button guide-settings-button js-signout js-track-event" data-ga_category="Header" data-ga_action="Logout" data-ga_label='<%= shelby.models.user.get('nickname') %>'>Log Out</button>
      </li>
    </ul><!-- eo guide-settings-list -->
  </li>
</ul><!-- eo guide-presentation-list -->
