<ul class="js-content-selector list list--inline app_nav clearfix">
  <li class="list__item">
    <button class="app_nav__button js-stream js-track-event" data-ga_category="Header" data-ga_action="Stream" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      Stream
    </button>
  </li>

  <li class="list__item js-channels-menu">
    <button class="app_nav__button js-channels js-track-event" data-ga_category="Header" data-ga_action="Channels" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      #Channels
    </button>
  </li>

  <% if (!shelby.models.user.isAnonymous()) { %>
    <li class="list__item js-guide-me js-track-event" data-ga_category="Header" data-ga_action="Me" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
      <button class="app_nav__button js-me">
        Me
      </button>
    </li>
  <% } %>

  <% if (false) {  %>
    <!-- TODO: debt -->
    <li class="dropdown_module--no-hover dropdown_module--invite-user list__item js-guide-invite">
      <!-- Content filled in by InviteFormView -->
    </li>
  <% } %>

  <% if (shelby.models.user.get('admin')) { %>
    <li class="list__item js-admin">
      <button class="app_nav__button">
        Admin
      </button>
    </li>
  <% } %>

  <% if (shelby.models.user.isAnonymous()) { %>
    <li class="dropdown_module list__item secondary-item guide-login">
          <button class="dropdown_button app_nav__button">
            Log In
            <i class="icon-carrot"></i>
          </button>

          <section class="dropdown_section login-section">
            <div class="dropdown_lining login-section-lining clearfix">

              <form accept-charset="UTF-8" action="<%= shelby.config.loginFormUrl %>" method="post" class="form_module form_module--login-form js-track-submit" data-ga_action="Email login">
                <fieldset class="form_fieldset">
                  <label for="username" class="form_label">Username</label>
                  <input id="username" name="username" placeholder="Username or Email address" class="form_input" />
                </fieldset>

                <fieldset class="form_fieldset">
                  <label for="password" class="form_label">Password</label>
                  <input id="password" name="password" type="password" placeholder="•••••••••" class="form_input" />
                </fieldset>

                <fieldset class="form_fieldset">
                  <input name="commit" type="submit" value="Login" class="button_primer button_command button_command--flexible button_gray" />
                  <a href="<%= shelby.config.apiBase + "/user/password/new" %>" class="login-forgot-password">Forgot your password?</a>
                </fieldset>
              </form>

              <hr class="hr--double" />

              <div class="form_fieldset form_fieldset--login-social clearfix">
                <h4 class="form_legend">
                  Log in with
                </h4>

                <a href="<%= shelby.config.apiBase + "/auth/twitter" %>"
                   class="button_primer button_twitter-blue button_command button_primer--twitter js-track-event js-authorize"
                   data-ga_action="Login with Twitter"
                   data-popup_height="700"
                   data-popup_width="600">
                  <i class="icon-twitter"></i>
                  Twitter
                </a>

                <a href="<%= shelby.config.apiBase + "/auth/facebook" %>"
                   class="button_primer button_facebook-blue button_command button_primer--facebook js-track-event js-authorize"
                   data-ga_action="Login with Facebook"
                   data-popup_height="650"
                   data-popup_width="1000">
                  <i class="icon-facebook"></i>
                  Facebook
                </a>
              </div>
            </div>
          </section>
        </li><!-- eo login button/dropdown -->
  <% } %>

  <li class="dropdown_module list__item secondary-item guide-settings js-guide-settings">
    <button class="dropdown_button app_nav__button js-track-event" data-ga_category="Header" data-ga_action="Settings" data-ga_label="<%= shelby.models.user.get('nickname') %>">
      <% var avatar = libs.shelbyGT.viewHelpers.user.avatarUrl(user,libs.shelbyGT.UserAvatarSizes.small)%>
      <span style="background-image: url('<%= avatar %>');" class="image_module avatar avatar--inline avatar--tiny" role="img"><img src="<%= avatar %>" class="visuallyhidden"/></span>
        Settings <i class="icon-carrot"></i>
    </button>
    <section class="dropdown_section settings-section">
      <div class="dropdown_lining clearfix">
        <ul class="list">
          <li class="list__item">
            <button
              class="button_primer button_command button_command--flexible button_command--text js-preferences"
              data-ga_category="Header"
              data-ga_action="Preferences"
              data-ga_label="<%= shelby.models.user.get('nickname') %>"
              >
              Preferences
            </button>
          </li>

          <li class="list__item">
            <button class="button_primer button_command button_command--flexible button_command--text js-me"
              data-ga_category="Header"
              data-ga_action="Profile"
              data-ga_label="<%= shelby.models.user.get('nickname') %>"
            >
              Profile
            </button>
          </li>

          <li class="list__item">
            <a href="mailto:feedback@shelby.tv" class="button_primer button_command button_command--flexible button_command--text ">
              Report Feedback
            </a>
          </li>

          <li class="list__item">
            <a href="http://twitter.com/mmatyus" target="_blank" class="button_primer button_command button_command--flexible button_command--text ">
              Twitter
            </a>
          </li>

          <li class="list__item">
            <a href="http://facebook.com/shelbytv" target="_blank" class="button_primer button_command button_command--flexible button_command--text ">
              Facebook
            </a>
          </li>

          <li class="list__item">
            <a href="http://shelby.tv/blog" target="_blank" class="button_primer button_command button_command--flexible button_command--text ">
              Blog
            </a>
          </li>

          <li class="list__item">
            <button
              class="button_primer button_command button_command--flexible button_command--text js-signout"
              data-ga_category="Header"
              data-ga_action="Logout"
              data-ga_label="<%= shelby.models.user.get('nickname') %>"
              >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </section>
  </li>

  <li class="list__item secondary-item guide-search js-guide-search">
    <!-- Content filled in by GuidePresntationSearchView -->
  </li>
</ul><!-- eo guide-presentation-list -->
