<% var avatar = libs.shelbyGT.viewHelpers.user.avatarUrlForRoll(roll) %>
<% var frameCount = roll.get('frame_count') %>
<% var userNickname = shelby.models.user.get('nickname') %>

<div class="user user--no_lining user--medium_avatar clearfix">
  <div class="media_module media_module--bare clearfix">
    <div class="media_image--rev">
      <button class="button_primer button_command button_command--flexible button_gray user__button js-invite-friend js-track-event" data-roll_id="<%= roll.id %>" data-ga_category="Preferences" data-ga_action="Click invite friend" data-ga_label="<%= userNickname %>">
        <span class="button_label">Invite...</span>
      </button>
    </div><!-- eo media_image--rev -->
      <a href="/roll/<%= roll.id %>" data-roll_id="<%= roll.id %>" class="user__link js-navigate-roll" data-roll_id="<%= roll.id %>" data-ga_category="Preferences" data-ga_action="Click friend" data-ga_label="<%= userNickname %>">

        <span class="media_image image_module avatar avatar--medium user__avatar" role="img" style="background-image:url(<%= avatar %>);" >
          <img class="visuallyhidden" src="<%= avatar %>"/>
        </span><!-- eo media_image -->

        <div class="media_body">
          <h3 class="user__h1">
            <%= libs.shelbyGT.viewHelpers.roll.fauxUserDisplayName(roll) %>
          </h3>

          <% if (frameCount) { %>
            <h4 class="user__h2">
              <%= _('video').pluralize(frameCount, true) %>
            </h4>
          <% } %>
        </div><!-- eo media_body -->

      </a>
  </div><!-- eo media_module -->
</div><!-- eo user -->
