<li>
  <a class="image_module avatar avatar--tiny js-track-event" style="background-image: url(<%= avatar %>)" href="<%= appropriatePath %>/<%= liker['id'] %>" data-ga_category="Share Page" data-ga_action="click avatar for liker" data-ga_label="<%= liker['nickname'] %>"  title="<%= liker['name'] %>" >
    <img class="visuallyhidden" src="<%= avatar %>" alt="<%= liker['name'] %>">
  </a>
</li>
