<div class="media_module clearfix">
  <a href="#" onclick="return false;" class="media_image">
    <span class="image_module avatar<%= (!userAvatar) ? ' missing-avatar' : ''%>" style="background-image: url(<%= userAvatar %>);" role="img">
      <img src="<%= userAvatar %>" class="visuallyhidden" title="<%= userNickname %>" alt="<%= userNickname %>">
    </span>
  </a>
  <div class="media_body clearfix">
    <!-- display input for rolling -->
    <textarea id="js-sharing-message" class="form_textarea js-add-message-input new-comment-input" rows="2" autofocus tabindex="0" placeholder="What do you think about this video?"></textarea>
  </div>
</div><!-- eo .media_module-->
