<%
  var messageJSON;
  if (message) {
    messageJSON = message.toJSON();
    messageJSON.text = message.getText();
    console.log(message);
    console.log(messageJSON);
  } else {
    /*
      if there is no message, create something that looks like
      a message so that the frame displays who created it and when
    */
    var creator = frame.get('creator');
    messageJSON = {
      created_at : frame.get('created_at'),
      realname : (creator ? creator.get('name') : ""),
      nickname : (creator ? creator.get('nickname') : ""),
      user_id : (creator? creator.id : ""),
      user_image_url : (creator ? (creator.get('user_image') || creator.get('user_image_original')) : "")
    };
  }
%>


<div class="frame-conversation-message-avatar">
  <a class="js-user-personal-roll js-track-event" data-ga_category="Message" data-ga_action="Click user roll link" data-ga_label='<%= user.get('nickname') %>' href="#" data-user-id="<%= messageJSON.user_id %>">
    <img src="<%= messageJSON.user_image_url %>" alt="" title="">
  </a>
</div>

<div class="frame-conversation-message-user">
  <a class="frame-conversation-message-user-name js-user-personal-roll js-track-event" data-ga_category="Message" data-ga_action="Click user roll link" data-ga_label='<%= user.get('nickname') %>' href="#" data-user-id="<%= messageJSON.user_id %>">
    <%= messageJSON.realname %>
  </a>

  <p class="frame-conversation-message-block">
    <%= messageJSON.text %>
  </p>

  <span class="frame-conversation-message-timestamp">
    Posted <%= messageJSON.origin_network ? 'on ' + messageJSON.origin_network : '' %> <%= messageJSON.created_at %>
  </span>
  
  <a class="frame-conversation-message-reply js-message-reply js-track-event" href="#" data-ga_category="Message" data-ga_action="Click reply" data-ga_label='<%= user.get('nickname') %>' data-reply_to="<%= messageJSON.nickname %>">Reply</span>
</div>
