<div class="frame-body-wrapper js-popup-form-item">
  <fieldset class="form_fieldset form_fieldset--annotation">
    <h3 class="guide-overlay__h3">
      Popup #
    </h3>

    <label for="preset" class="form_label form_legend">
      Style
    </label>

    <select class="form_select">
      <option class="form_option">Meme</option>
      <option class="form_option">Basic</option>
      <option class="form_option">Sticky Note</option>
    </select>

    <fieldset class="form_fieldset">
      <h4 class="form_legend">
        Start
      </h4>

      <hr class="hr--double" />

      <ul class="list list--fifths">
        <li>
          <label class="form_label" for="start-hours-<%= index %>">
            Hour
          </label>
          <input id="start-hours-<%= index %>" class="form_number" type="number" value="<%= eventStartTime.hours %>"  min="0" max="12" /> :
        </li><!--

        --><li>
          <label class="form_label" for="start-minutes-<%= index %>">
            Minute
          </label>
          <input id="start-minutes-<%= index %>" class="form_number" type="number" value="<%= eventStartTime.minutes %>" min="0" max="60" /> :
        </li><!--

        --><li>
          <label class="form_label" for="start-seconds-<%= index %>">
            Second
          </label>
          <input id="start-seconds-<%= index %>" class="form_number" type="number" value="<%= eventStartTime.seconds %>" min="0" max="60"/>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form_fieldset">
      <h4 class="form_legend">
        End
      </h4>

      <hr class="hr--double" />

      <ul class="list list--fifths">
        <li>
          <label class="form_label" for="end-hours-<%= index %>">
            Hour
          </label>
          <input id="end-hours-<%= index %>" class="form_number" type="number" value="<%= eventEndTime.hours %>"  min="0" max="12" /> :
        </li><!--

        --><li>
          <label class="form_label" for="end-minutes-<%= index %>">
            Minute
          </label>
          <input id="end-minutes-<%= index %>" class="form_number" type="number" value="<%= eventEndTime.minutes %>" min="0" max="60" /> :
        </li><!--

        --><li>
          <label class="form_label" for="end-seconds-<%= index %>">
            Second
          </label>
          <input id="end-seconds-<%= index %>" class="form_number" type="number" value="<%= eventEndTime.seconds %>" min="0" max="60"/>
        </li>
      </ul>
    </fieldset>
  </fieldset>
  <fieldset class="form_fieldset--annotation">
    <label class="form_label form_legend">
      Message
    </label>

    <textarea class="form_textarea js-event-html"><%= event.get('html') %></textarea>
  </fieldset>
</div><!-- eo js-popup-form-item -->