<div class="preferences_page__head clearfix">
  <h1>
    Invite Friends
  </h1>

  <fieldset class="form_fieldset">
    <div class="column">
      <label for="preferences-shortlink" class="form_label">
        Invite Link
      </label>

      <input type="text" id="preferences-shortlink" name="preferences-shortlink" class="form_input four-fifths js-preferences-shortlink" value="<%= shareURL %>" />
    </div>

    <div class="column">
      <label for="preferences-shortlink" class="form_label">
        Or invite friends via
      </label>

      <a href="#" class="button_primer button_command button_command--sub one-third button_facebook-blue js-facebook-post">
        <span class="icon icon-facebook"></span>
        <span class="button_label">Send</span>
      </a>

      <a href="<%= tweetURL %>" class="button_primer button_command button_command--sub one-third button_twitter-blue">
        <span class="icon icon-twitter"></span>
        <span class="button_label">Tweet</span>
      </a>
    </div>
  </fieldset>
</div><!-- eo preferences_page__head -->

<% if (facebookConnected || twitterConnected || tumblrConnected) { %>
  <ul class="list list--fit tabs one-whole clearfix">
  <% if (facebookConnected) { %>
    <li class="one-fifth">
      <a href="/preferences/friends/facebook" class="button_standard tab<%= (tab == 'facebook') ? ' tab--active' : '' %> tab--space js-track-event js-user-tab js-user-shares" data-ga_category="Preferences" data-ga_action="Click facebook" data-ga_label="<%= 'nickname' %>">
        Facebook
      </a>
    </li>
  <% } %>
  <% if (twitterConnected) { %>
    <li class="one-fifth">
      <a href="/preferences/friends/twitter" class="button_standard tab<%= (tab == 'twitter') ? ' tab--active' : '' %> tab--space js-track-event js-user-tab js-user-shares" data-ga_category="Preferences" data-ga_action="Click twitter" data-ga_label="<%= 'nickname' %>">
        Twitter
      </a>
    </li>
  <% } %>
  <% if (tumblrConnected) { %>
    <li class="one-fifth">
      <a href="/preferences/friends/tumblr" class="button_standard tab<%= (tab == 'tumblr') ? ' tab--active' : '' %> tab--space js-track-event js-user-tab js-user-shares" data-ga_category="Preferences" data-ga_action="Click tumblr" data-ga_label="<%= 'nickname' %>">
        Tumblr
      </a>
    </li>
  <% } %>
    <li class="two-fifths">
      <span class="button_standard tab tab--space">
        &nbsp;
      </span>
    </li>
  </ul>

  <div class="preferences_page__body clearfix">
    <div class="preferences_page__lining one-third">
      <span class="js-friends-spinner"><b>See friends who share video on other networks.</b></span>
      <!-- filled in by the ListView funness -->
      <div class="js-invite-friends-body js-invite-friends-body--facebook <%= (tab == 'facebook') ? '' : 'hidden' %>"></div>
      <div class="js-invite-friends-body js-invite-friends-body--twitter <%= (tab == 'twitter') ? '' : 'hidden' %>"></div>
      <div class="js-invite-friends-body js-invite-friends-body--tumblr <%= (tab == 'tumblr') ? '' : 'hidden' %>"></div>
    </div>
  </div><!-- eo preferences_page__body -->
<% } %>