<div class="preroll-video-info">
  <div class="video-title"><%= frame.get('video').get('title') %></div>

  <% 
    var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || [];
    if(messages.length > 0 && messages.first().get('user_id') === frame.get('creator_id')){
  %>
    <div class="frame-comment">“<%= messages.first().get('text') %>”</div>
  <% } %>

  <div class="frame-creator">
  <% if (frame.get('creator')) { %>
    <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(frame.get('creator')) %>" alt="<%= frame.get('creator').get('nickname') %>" />
    <%= frame.get('creator').get('nickname') %>
  <% } %>
  </div>
</div>
