<% var rollPublic = roll.get('public') %>
<a href="#" class="<%= roll.get('public') ? 'rolling-public-roll' : 'rolling-private-roll' %> js-track-event" data-ga_category="Rolling" data-ga_action="adding to roll" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  <div class="roll-selection-item-add clearfix">
    Add
  </div>
  <div class="roll-selection-item-lining clearfix">  
    <img class="roll-selection-item-thumbnail" src="<%= roll.get('thumbnail_url') %>">
    
    <h2 class="roll-selection-item-title">
      <%= libs.shelbyGT.viewHelpers.roll.titleWithPath(roll) %>
    </h2>

		<% if(libs.shelbyGT.viewHelpers.roll.urlForRoll(roll)) { %>
	    <h3 class="roll-selection-item-state">
				<%= libs.shelbyGT.viewHelpers.roll.urlForRoll(roll) %>
	    </h3>
		<% } %>
  </div>
</a>