<%
  var
      nickname = shelby.models.user.get('nickname'),
      avatar   = libs.shelbyGT.viewHelpers.user.avatarUrlForRoll(roll),
      username = (isInAppUserProfile) ? nickname : (libs.shelbyGT.viewHelpers.roll.titleForDisplay(roll) || ''),
      realname = (isInAppUserProfile) ? shelby.models.user.get('name') : (user.get('name') || '');
%>

<div class="user clearfix">
  <div class="media_module user__lining clearfix">
    <span class="media_image image_module avatar avatar--small user__avatar" role="img" style="background-image:url(<%= avatar %>);">
      <img class="visuallyhidden" src="<%= avatar %>"/>
    </span><!-- eo media_image -->

    <div class="media_body">
      <h3 class="user__h1">
        <%= username %>
      </h3>

      <h4 class="user__h2">
        <%= realname %>
      </h4>
    </div><!-- eo media_body -->
  </div><!-- eo media_module -->
</div><!-- eo user -->

<% if (isInAppUserProfile) { %>
  <ul class="list list--fit tabs clearfix">
    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-roll" data-ga_category="In App User Profile" data-ga_action="Click roll tab" data-ga_label="<%= nickname %>">
        Roll
      </a>
    </li>

    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-likes" data-ga_category="In App User Profile" data-ga_action="Click likes tab" data-ga_label="<%= nickname %>">
        Likes
      </a>
    </li>

    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-following" data-ga_category="In App User Profile" data-ga_action="Click following tab" data-ga_label="<%= nickname %>">
        Following
      </a>
    </li>
  </ul>
<% } %>