<div class="form_fieldset social_login login-social-section clearfix">
	<h4>Shelby is invite-only right now.</h4>
	<h4 class="js-show-request-invite">Not a member?  <a href="#" onclick="$('.js-request-invite').removeClass('hidden');$('.js-show-request-invite').hide();">Request an invite.</a></h4>
</div>

<div class="js-request-invite clearfix hidden">
	<form id="js-email-form" class="form_module login-form js-track-submit" data-ga_action="Request invite">
		<fieldset class="">
	    <label for="email" class="form_label">I want to try Shelby</label>
			<input name="email" id="js-email-input" class="form_input" type="email" placeholder="email@address.com" autofocus />
	  </fieldset>
		<fieldset class="">
			<input id="js-email-submit" class="button_primer button_blue landing-button-large landing-signmeup-submit" type="submit" value="Request an invite!" />
		</fieldset>
	</form>
	<div id="js-thankyou" class="form_fieldset hidden">
	  <span class="form_label">
	    Thanks, we'll email you!
	  </span>
	</div>
</div>

<hr />

<form accept-charset="UTF-8" action="<%= shelby.config.loginFormUrl %>" method="post" class="form_module login-form js-track-submit" data-ga_action="Email login">
  <fieldset class="">
    <label for="username" class="form_label">Username</label>
    <input id="username" name="username" placeholder="Username or Email address" class="form_input" />
  </fieldset>
  <fieldset class="">
    <label for="password" class="form_label">Password</label>
  <input id="password" name="password" type="password" placeholder="•••••••••" class="form_input" />
  </fieldset>
  <fieldset class="">
    <input name="commit" type="submit" value="Log In" class="button_primer button_gray-medium login-submit" />
    <a href="<%= shelby.config.apiBase + "/user/password/new" %>" class="login-forgot-password">Forgot your password?</a>
  </fieldset>
</form>

<hr />

<div class="form_fieldset social_login login-social-section clearfix">
  <h4 class="login-social-section-header">Members can also log in with</h4>
  <a class="button_primer faux_button button_twitter-blue social_login-twitter js-track-event auth-popup" data-ga_action="Login with Twitter"
    href="<%= shelby.config.apiBase + "/auth/twitter" %>" location="<%= shelby.config.apiBase + "/auth/twitter" %>" popup-width="600" popup-height="700">
    <i class="button_icon_left icon_share_twitter_on icon">
      Twitter
    </i>
  </a>

  <a class="button_primer faux_button button_facebook-blue social_login-facebook js-track-event auth-popup" data-ga_action="Login with Facebook"
    href="<%= shelby.config.apiBase + "/auth/facebook" %>" location="<%= shelby.config.apiBase + "/auth/facebook" %>" popup-width="1000" popup-height="650">
    <i class="button_icon_left icon_share_facebook_on icon">
      Facebook
    </i>
  </a>
</div>

<script>
  $(document).ready(function(){
    $('#js-email-form').on('submit', function(){
      $.get('<%= shelby.config.apiRoot %>/POST/gt_interest', $(this).serialize(), function(data) {
        $('#js-email-form').addClass('hidden');
        $('#js-thankyou').removeClass('hidden');
      }, 'jsonp');
      return false;
    });
  });
</script>