<div class="image_module frame-thumbnail <%= (!thumbnail) ? ' missing-thumbnail' : '' %>" style="background-image: url('<%= thumbnail %>');" role="img">
  <img class="visuallyhidden" src="<%= thumbnail %>" title="<%= title %>" alt="<%= title %> thumbnail">
</div>
