<section class="you-preferences">
	<form class="you-preferences-form">
		<fieldset>
			<legend>
				Your Profile
			</legend>
			<ul class="you-preferences-list you-profile">
				<li class="clearfix">
					<label for="you-preferences-username">
						Username
					</label>
					<input id="you-preferences-username" name="you-preferences-username" type="text" placeholder="<%= user.get('nickname') %>" value="<%= user.get('nickname') %>" />
				</li>
				<li class="clearfix">
					<label for="you-preferences-email">
						Email
					</label>
					<input id="you-preferences-email" name="you-preferences-email" type="email" placeholder="youremail@address.com" value="<%= user.get('primary_email') %>" />
				</li>
			</ul>
			<fieldset class="you-profile-actions">
				<span id="response-message" class="js-response-message you-profile-response"></span>	
				<button class="js-user-cancel you-profile-cancel" type="button">
					Cancel
				</button>
				<button class="js-user-save you-profile-save" type="button">
					Save
				</button>
			</fieldset>
		</fieldset><!-- /Your Profile -->
			
			
		<fieldset>
			<legend>
				Avatar
			</legend>
			<ul class="you-preferences-list you-avatar">
				<li class="clearfix">
					<div id="js-dynamic-user-avatar" class="label">
						<!-- filled in by UserAvatarPresenterView -->
					</div>

					<div id="js-user-avatar-uploader">
						<!-- filled in by UserAvatarUploaderView -->
					</div>
				</li>
			</ul>
		</fieldset>
		
		<fieldset>
			<legend>
				<a href="#" id="show-change-password">Change Password</a>
			</legend>
			<fieldset id="you-preferences-change-password">
				<ul class="you-preferences-list you-profile">
					<li class="clearfix">
						<label for="you-preferences-password">
							Password
						</label>
						<input id="you-preferences-password" name="you-preferences-password" type="password" />
					</li>
					<li class="clearfix">
						<label for="you-preferences-password-confirmation">
							Confirm
						</label>
						<input id="you-preferences-password-confirmation" name="you-preferences-password-confirmation" type="password" />
					</li>
				</ul>
				<fieldset class="you-profile-actions">
					<span id="security-response-message" class="js-security-response-message you-profile-response"></span>	
					<button class="js-user-password-save" type="button">
						Change Password
					</button>
				</fieldset>
			</fieldset>
		</fieldset><!-- /Password -->
		
		<fieldset>
			<legend>
				Connect
			</legend>
			<ul class="you-preferences-networks">
				<li class="clearfix">
					<h2 class="you-preferences-networks-twitter">Twitter</h2>
					<% var tw = _.find(user.get('authentications'),function(a){ return a.provider == 'twitter' }) %>
					<% if (typeof tw !== 'undefined'){ %>
						<h3>@<%= tw.nickname || '' %></h3>
						<!-- <button type="button">Disconnect</button> -->
					<% } else { %>
						<h3></h3>
						<button class="connected-network js-oauth-popup" type="button" popup-width="600" popup-height="700" location="<%= shelby.config.apiBase %>/auth/twitter">Connect</button>
					<% } %>
				</li>
				<li class="clearfix">
					<h2 class="you-preferences-networks-tumblr">Tumblr</h2>
					<% var tu = _.find(user.get('authentications'),function(a){ return a.provider == 'tumblr' }) %>
					<% if (typeof tu !== 'undefined'){ %>
						<h3><%= tu.nickname || '' %></h3>
						<!-- <button type="button">Disconnect</button> -->
					<% } else { %>
						<h3></h3>
						<button class="connected-network js-oauth-popup" type="button" popup-width="600" popup-height="700" location="<%= shelby.config.apiBase %>/auth/tumblr">Connect</button>
					<% } %>
				</li>
				<li class="clearfix">
					<h2 class="you-preferences-networks-facebook">Facebook</h2>
					<% var fb = _.find(user.get('authentications'),function(a){ return a.provider == 'facebook' }) %>
					<% if (typeof fb !== 'undefined'){ %>
						<h3><%= fb.nickname || '' %></h3>
						<!-- <button type="button">Disconnect</button> -->
					<% } else { %>
						<h3></h3>
						<button class="connected-network js-oauth-popup" type="button" popup-width="600" popup-height="700" location="<%= shelby.config.apiBase %>/auth/facebook">Connect</button>
					<% } %>
				</li>
				<% if (typeof fb !== 'undefined'){ %>
					<li class="clearfix">
						<span class="you-preferences-notifications you-notifications">
						<label for="you-preferences-timeline-sharing">
								Timeline Sharing
							</label>
							<input id="you-preferences-timeline-sharing" name="you-preferences-timeline-sharing" type="checkbox" <% if (user.get('preferences').open_graph_posting === true){ %> checked <% }%> >
							<span></span>
							<span class="timeline-sharing-description">share videos you watch, heart, comment, and roll to your facebook timeline</span>
						</span>
					</li>
				<% } %>
			</ul>
		</fieldset><!-- /Connect -->
		
		<fieldset>
			<legend>
				Email Notifications
			</legend>
			<ul class="you-preferences-notifications you-notifications">
				<li class="clearfix">
					<label for="you-preferences-email-updates">
						News and Updates
					</label>
					<input id="you-preferences-email-updates" name="you-preferences-email-updates" type="checkbox" <% if (user.get('preferences').email_updates === true){ %> checked <% }%> />
					<span></span>
				</li>
				<li class="clearfix">
					<label for="you-preferences-email-comments">
						Comments
					</label>
					<input id="you-preferences-email-comments" name="you-preferences-email-comments" type="checkbox" <% if (user.get('preferences').comment_notifications === true){ %> checked <% }%> />
					<span></span>
				</li>
				<li class="clearfix">
					<label for="you-preferences-email-rerolls">
						Re-rolls
					</label>
					<input id="you-preferences-email-rerolls" name="you-preferences-email-rerolls" type="checkbox" <% if (user.get('preferences').reroll_notifications === true){ %> checked <% }%> />
					<span></span>
				</li>
				<li class="clearfix">
					<label for="you-preferences-email-joinrolls">
						Roll activity
					</label>
					<input id="you-preferences-email-joinrolls" name="you-preferences-email-joinrolls" type="checkbox" <% if (user.get('preferences').roll_activity_notifications === true){ %> checked <% }%> />
					<span></span>
				</li>
			</ul>
		</fieldset><!-- /Email Notifications -->
		
	</form>	
</section>