<div class="sidebar_module guide-wrapper clearfix">
  <div class="guide-overlay__head guide-overlay__head--preferences">
    <h2 class="guide-overlay__h1">
      Preferences
    </h2>
  </div>

  <div class="guide-overlay__body guide-overlay__body--preferences">
    <ul class="list guide-overlay__list">
      <li class="list__item">
        <a href="/preferences/profile" class="button_primer button_command button_gray<%= (section == 'profile') ? ' button_selected' : ''%> button_command--fill button_command--flexible js-preferences-navigate">
          <span class="icon icon-chevron"></span>
          <span class="button_label">Profile</span>
        </a>
      </li>
      <li class="list__item">
        <a href="/preferences/password" class="button_primer button_command button_gray<%= (section == 'password') ? ' button_selected' : ''%> button_command--fill button_command--flexible js-preferences-navigate">
          <span class="icon icon-chevron"></span>
          <span class="button_label">Password</span>
        </a>
      </li>
      <li class="list__item">
        <a href="/preferences/networks" class="button_primer button_command button_gray<%= (section == 'networks') ? ' button_selected' : ''%> button_command--fill button_command--flexible js-preferences-navigate">
          <span class="icon icon-chevron"></span>
          <span class="button_label">Networks</span>
        </a>
      </li>
      <li class="list__item">
        <a href="/preferences/notifications" class="button_primer button_command button_gray<%= (section == 'notifications') ? ' button_selected' : ''%> button_command--fill button_command--flexible js-preferences-navigate">
          <span class="icon icon-chevron"></span>
          <span class="button_label">Notifications</span>
        </a>
      </li>
      <% if(false) { %>
        <li class="list__item">
          <a href="/preferences/goodies" class="button_primer button_command button_gray<%= (section == 'goodies') ? ' button_selected' : ''%> button_command--fill button_command--flexible js-preferences-navigate">
            <span class="icon icon-chevron"></span>
            <span class="button_label">Goodies</span>
          </a>
        </li>
      <% } %>
    </ul>
  </div><!-- eo guide-overlay__body -->
</div><!-- eo sidebar_module-->

<div class="content_module content_module--page js-preferences-section">
  Content
</div>
