<% if (user && !user.isNew()) { %>
  <div class="user_card frame-body-wrapper clearfix">
    <% if (showDotTvNetworkBanner) { %>
      <div class="image_module image_glow--bottom user_card__head js-user-card-header-image"<% if (userPersonalRoll) { %>style="background-image:url(<%= libs.shelbyGT.viewHelpers.roll.guideHeaderImageURL(userPersonalRoll) %>);"<% } %>>
        <h1 class="user_card__h1"><%= user.get('name') || user.get('nickname') %> Network</h1>
      </div>
    <% } %>

    <div class="user_card__body media_module clearfix">
      <div class="xuser-avatar media_image image_module" style="background-image: url(<%= libs.shelbyGT.viewHelpers.user.avatarUrl(user, libs.shelbyGT.UserAvatarSizes.large) %>);">
        <img class="visuallyhidden" src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(user, libs.shelbyGT.UserAvatarSizes.large) %>" />
      </div>

      <div class="media_body">
        <p class="xuser-data">
          <strong><%= user.get('personal_roll_subdomain') || user.get('nickname') %></strong>
        </p>

        <p class="xuser-message">
          <% if (user.has('dot_tv_description')) { %>
            <%= user.get('dot_tv_description') %>
          <% } else { %>
            <%= user.get('nickname') %> curates this collection of video, powered by Shelby.tv
          <% } %>
        </p>

        <div class="frame-subsection clearfix">
          <ul class="list list--inline list--social_badges social-icon--hover">
            <% if (user.has('website')) { %>
              <li class="left">
                <a class="list__link js-track-event" href="//<%= user.get('website') %>" target="_blank" data-ga_category="User Profile" data-ga_action="Click curator website link" data-ga_label="<%= shelby.models.user.get('nickname') %>"><%= user.get('website') %></a>
              </li>
            <% } %>

            <% var tw = _.find(user.get('authentications'),function(a){ return a.provider == 'twitter' }) %>
            <% if (typeof tw !== 'undefined'){ %>
              <li class="">
                <a class="list__link js-track-event" href="http://twitter.com/<%= tw.nickname %>" target="_blank" data-ga_category="User Profile" data-ga_action="Click twitter icon" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                  <i class="icon-social_twitter"></i>
                  <span class="visuallyhidden">Twitter</span>
                </a>
              </li>
            <% } %>
            <% var fb = _.find(user.get('authentications'),function(a){ return a.provider == 'facebook' }) %>
            <% if (typeof fb !== 'undefined'){ %>
              <li class="">
               <a class="list__link js-track-event" href="http://facebook.com/<%= fb.nickname %>" target="_blank" data-ga_category="User Profile" data-ga_action="Click facebook icon" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                  <i class="icon-social_facebook"></i>
                  <span class="visuallyhidden">Facebook</span>
                </a>
              </li>
            <% } %>
            <% var tu = _.find(user.get('authentications'),function(a){ return a.provider == 'tumblr' }) %>
            <% if (typeof tu !== 'undefined'){ %>
              <li class="">
                <a class="list__link js-track-event" href="http://<%= tu.uid %>.tumblr.com" target="_blank" data-ga_category="User Profile" data-ga_action="Click tumblr icon" data-ga_label="<%= shelby.models.user.get('nickname') %>">
                  <i class="icon-social_tumblr"></i>
                  <span class="visuallyhidden">Tumblr</span>
                </a>
              </li>
            <% } %>
          </ul>
        </div><!-- eo frame-subsection -->
      </div><!-- eo media_body -->
    </div><!-- eo user_card__body -->
  </div><!-- eo user_card -->

  <div class="panel panel--left media_module frame-body-wrapper clearfix js-panel">
    <div class="media_image media_image--rev">
      <% if (!shelby.models.user.isAnonymous()) { %>
        <button class="button_primer button_green panel__button js-follow-button">
          &nbsp;
        </button>
      <% } else { %>
        <button class="button_primer button_green panel__button js-subscribe-button">
          <i class="icon icon-email"></i> Subscribe
        </button>
      <% } %>
    </div>

    <div class="panel__h1 media_body js-youre-watching">
    </div>
  </div><!-- eo media_module -->

<% } else { %>
  <span class="busy busy--large_light busy--fill"></span>
<% } %>