<div class="animate_module video_controls__wrapper js-video-controls-wrapper clearfix">
  <div class="video_controls clearfix">
    <% if (opts.touchEnabled) { %>
      <button class="videoplayer_animate video_controls__button video_controls__button--next js-videoplayer-next js-track-event" data-ga_category="Player" data-ga_action="Click next video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Next Video">
        <span class="icon-arrow_right"></span>
        <span class="visuallyhidden">Next</span>
      </button>

      <button class="videoplayer_animate video_controls__button video_controls__button--prev js-videoplayer-prev js-track-event" data-ga_category="Player" data-ga_action="Click prev video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Previous Video">
        <span class="icon-arrow_left"></span>
        <span class="visuallyhidden">Prev</span>
      </button>

      <button class="videoplayer_animate video_controls__button video_controls__button--fullscreen js-videoplayer-fullscreen js-track-event" data-ga_category="Player" data-ga_action="Click fullscreen" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Hide / Show Guide">
        <span class="icon-guide-in"></span>
        <span class="icon-guide-out"></span>
        <span class="visuallyhidden">Fullscreen</span>
      </button>
    <% } %>

    <button class="video_controls__button video_controls__button--play js-videoplayer-playback js-track-event">
      <span class="icon-play"></span>
      <span class="icon-pause"></span>
      <span class="visuallyhidden">Play</span>
    </button>

    <button class="video_controls__button video_controls__button--quality js-videoplayer-hd js-track-event">
      <span class="icon-hd"></span>
      <span class="visuallyhidden">HD</span>
    </button>

    <button class="video_controls__button video_controls__button--volume unmute js-videoplayer-mute js-track-event">
      <span class="icon-sound-on"></span>
      <span class="icon-sound-off"></span>
      <span class="visuallyhidden">Volume</span>
    </button>

    <div class="video_controls__time js-videoplayer-timeline">
      <span>0:00</span> / <span>0:00</span>
    </div>

    <div class="video_progress__wrapper js-videoplayer-progress">
      <div class="video_progress">
        <div class="video_progress__load"></div>
        <div class="video_progress__elapsed"></div>
        <div class="video_progress__scrubber"></div>
      </div>
    </div>
  </div><!-- eo video_controls -->
</div><!-- eo video_conrtols__wrapper -->

<% if (!opts.touchEnabled) { %>
  <button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--next js-videoplayer-next js-track-event" data-ga_category="Player" data-ga_action="Click next video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Next Video">
    <span class="icon-arrow_<%= guide.get('displayState') == "dotTv" ? 'right' : 'down'  %>"></span>
    <span class="visuallyhidden">Next</span>
  </button>

  <button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--prev js-videoplayer-prev js-track-event" data-ga_category="Player" data-ga_action="Click prev video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Previous Video">
    <span class="icon-arrow_<%= guide.get('displayState') == "dotTv" ?  'left' : 'up'  %>"></span>
    <span class="visuallyhidden">Prev</span>
  </button>

  <button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--fullscreen js-videoplayer-fullscreen js-track-event" data-ga_category="Player" data-ga_action="Click fullscreen" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Hide / Show Guide">
    <span class="icon-guide-in"></span>
    <span class="icon-guide-out"></span>
    <span class="visuallyhidden">Fullscreen</span>
  </button>
<% } %>
