<div class="video-player-tools-wrapper">
  <div class="video-player-tools">
  	<menu class="video-player-tools-lining clearfix">
  		<button class="video-player-play ir js-playback pause js-track-event" data-ga_category="Player" data-ga_action="Click play/pause" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  			Play
  		</button>

  		<div class="video-player-progress">
  			<div class="video-player-progress-load"></div>
  			<div class="video-player-progress-elapsed"></div>
  			<div class="video-player-scrubber"></div>
  		</div>

      <button class="video-player-quality hd-off ir js-track-event" data-ga_category="Player" data-ga_action="Click hd" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  			HD
  		</button>

  		<button class="video-player-fullscreen ir js-track-event" data-ga_category="Player" data-ga_action="Click fullscreen" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  			Fullscreen
  		</button>

  		<button class="video-player-volume js-mute ir unmute js-track-event" data-ga_category="Player" data-ga_action="Click mute" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  			Volume
  		</button>

  		<div class="video-player-timeline">
  			<span>
  				0:00
  			</span> 
  			/ 
  			<span>
  				0:00
  			</span>
  		</div>
  	</menu>
  </div>
</div>

<div class="video-player-nav-buttons-wrapper">
  <button class="video-player-next js-video-player-next ir js-track-event" data-ga_category="Player" data-ga_action="Click next video" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
    Next
  </button>

  <button class="video-player-prev js-video-player-prev ir js-track-event" data-ga_category="Player" data-ga_action="Click prev video" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
    Prev
  </button>
</div>
