<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="csrf-token" content="<%= csrf_token_from_cookie %>">
  <meta name="rhombus-auth" content="<%= 'Basic '+Base64.strict_encode64('shelby:_rhombus_gt') %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon"type="image/png" href="/favicon.png">
  <script>
    if (typeof(shelby) == 'undefined') {
      shelby = {};
    }
    if (typeof(shelby.abTests) == 'undefined') {
      shelby.abTests = {};
    }
    <% experiments = vanity_experiments %>
    <% unless experiments.nil? %>
    <% experiments.each do |name, alternative| %>
      shelby.abTests.<%= name.to_s.camelize(:lower) %> = '<%= alternative.value %>';
    <% end %>
    <% end %>
  </script>
<%
  # you must fill in your page specific <head> contents at the beginning of your yielded page view,
  # then close with </head>
%>
<%= yield %>
<%
  # don't close the <body> in your yielded page view, since all pages will have additional
  # tracking code loaded at the end of the body here
%>
  <% if (Rails.env == 'production' or Rails.env == 'staging') %>
    <script>
      var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>

  <% if Rails.env == 'production' %>
    <script>
      var _kmq = _kmq || [];
      var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
  <% end %>
  <%= vanity_js %>
  <% experiments = vanity_experiments %>
  <% unless experiments.nil? %>
    <script>
      <% experiments.each do |name, alternative| %>
        try {
          _gaq.push(['_trackEvent', 'ab-testing', '<%= name %>', '<%= alternative.value %>']);
        } catch(e) {}
      <% end %>
    </script>
  <% end %>
  <%= javascript_include_tag "deferred" %>
</body>
</html>
