<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="csrf-token" content="<%= csrf_token_from_cookie %>">
  <meta name="rhombus-auth" content="<%= 'Basic '+Base64.strict_encode64('shelby:_rhombus_gt') %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon"type="image/png" href="/favicon.png">

  <script>
    var shelbyTrackingCategory = "Mobile",
        shelbyTrackingLabel<%= raw " = '#{@signed_in_user['nickname'] if @signed_in_user}'" %>;
  </script>

  <%= stylesheet_link_tag "mobile", :media => "screen" %>

  <script>
    if (typeof(shelby) == 'undefined') {
      shelby = {};
    }
    if (typeof(shelby.abTests) == 'undefined') {
      shelby.abTests = {};
    }
    <% experiments = vanity_experiments %>
    <% unless experiments.nil? %>
    <% experiments.each do |name, alternative| %>
      shelby.abTests.<%= name.to_s.camelize(:lower) %> = '<%= alternative.value %>';
    <% end %>
    <% end %>
  </script>
  <%= javascript_include_tag "mobile" %>
</head>

<body class="shelby shelby--shares shelby--mobile">
  <div id="js-shelby-wrapper" class="shelby-wrapper clearfix">
    <header id="js-header" class="animate_module js-app-header shelby-header clearfix js-inactivity-preemption" role="banner">
      <%= render :partial => '/home/app_header',
          :locals => {
            :show_login     => true,
            :signed_in_user => @signed_in_user,
            :is_mobile      => @is_mobile
          } %>
    </header>

    <div class="content_wrapper" role="main">
      <%= yield %>
    </div>
    <script id="js-user" type="application/json"><%= raw @signed_in_user.to_json %></script>
    <script>
      $(document).ready(function(){
        var user = JSON.parse($('#js-user').text());

        if(user) {
          var data = {
            twitter_enabled       : false,
            twitter_checked       : false,
            facebook_enabled      : false,
            facebook_checked      : false,
            currentFrameShortlink : null,
            frameId               : 'frame_id',
            username              : shelbyTrackingLabel
          }
          var $sharePanel = $('.js-share-panel').html(SHELBYJST['share-page-form'](data));

          var $shareInitButton = $('.js-share-init').on('click',function(e){
            e.preventDefault();
            var $this = $(this);
            $this.toggleClass('button_active',!$this.hasClass('button_active'));

            $sharePanel.toggleClass('hidden',!$sharePanel.hasClass('hidden'));
          });

          $('.js-cancel').on('click',function(e){
            e.preventDefault();

            $shareInitButton.toggleClass('button_active',false);
            $sharePanel.toggleClass('hidden',true);
          });
        }
      });
    </script>
    <div class="share_panel share_panel--fill hidden js-share-panel">
      <!-- filled in by underscore goodness -->
    </div>
  </div> <!-- eo ~application -->
  <% if ["production", "staging"].include? Rails.env %>
    <script>
      var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>

  <% if Rails.env == 'production' %>
    <script>
      var _kmq = _kmq || [];
      var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
  <% end %>
  <%= vanity_js %>
  <% experiments = vanity_experiments %>
  <% unless experiments.nil? %>
    <script>
      <% experiments.each do |name, alternative| %>
        try {
          _gaq.push(['_trackEvent', 'ab-testing', '<%= name %>', '<%= alternative.value %>']);
        } catch(e) {}
      <% end %>
    </script>
  <% end %>
</body>
</html>
