<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<%# if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= javascript_include_tag Settings::Application.weinre unless Rails.env.production? %>

  <%= render :partial => "/objects/shelby_global_script" %>

  <%= render :partial => "/home/meta_info" %>
  <meta charset="utf-8">
  <title>
    <%= render :partial => "/home/title_tag" %>
  </title>

  <meta name="shelby-api-csrf-token" content="<%= csrf_token_from_cookie %>">
  <meta name="rhombus-auth" content="<%= 'Basic '+Base64.strict_encode64('shelby:_rhombus_gt') %>">

  <meta content="user-scalable=no, width=device-width, initial-scale=1.0" name="viewport">

  <link rel="apple-touch-icon-precomposed" href="http://shelby.tv/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="http://shelby.tv/apple-touch-icon-precomposed.png"/>
  <link rel="icon"type="image/png" href="/favicon.png">

  <script>
    var shelbyTrackingCategory = "Radar",
        shelbyTrackingLabel<%= raw " = '#{@signed_in_user['nickname']}'" %>;
  </script>

  <%= stylesheet_link_tag "radar", :media => "screen" %>

  <script>
    if (typeof(shelby.abTests) == 'undefined') {
      shelby.abTests = {};
    }
    <% vanity_experiments.each do |name, alternative| %>
      shelby.abTests.<%= name.to_s.camelize(:lower) %> = '<%= alternative.value %>';
    <% end %>
  </script>
  <%= javascript_include_tag "radar" %>
  <meta name="foundVideo" content="<%= !@found_video_providers.empty? %>">
  <%= render :partial => '/objects/noscript' %>
</head>

<body class="shelby shelby--shares shelby--mobile shelby--radar<%= ' shelby--shares_enabled' if @user_signed_in %><%= " shelby--user_signed_in" if @user_signed_in %><%= " hidden" if @found_video_providers.empty? %>" data-personal_roll_id="<%= (@signed_in_user) ? @signed_in_user['personal_roll_id'] : 'null' %>">
  <div id="js-shelby-wrapper" class="shelby-wrapper clearfix">
    <header id="js-header" class="animate_module js-app-header shelby-header clearfix js-inactivity-preemption" role="banner">
      <div class="shelby-header__lining">
        <%= render :partial => 'radar/partials/header',
            :locals => {
            } %>
      </div>
    </header>

    <div class="content_wrapper clearfix js-guide" role="main">
      <%= yield %>
    </div>

    <%= render :partial => '/objects/user_script', :locals => { :user => @signed_in_user } %>

    <%= render :partial => '/objects/liker_list_script' %>

    <% if @user_signed_in %>
      <%= render :partial => '/objects/liker_item_script',
          :locals => {
            :avatar => avatar_url_for_user(@signed_in_user),
            :user => @signed_in_user
      } %>
    <% end %>

    <div class="share_panel share_panel--fill share_panel--scroll hidden js-share-panel">
      <!-- filled in by underscore goodness -->
    </div>

    <div class="notification js-notification hidden">
      <p><strong>Share successful!</strong></p>
    </div>
  </div> <!-- eo ~application -->

  <% if ["production", "staging"].include? Rails.env %>
    <%= render :partial => '/objects/google_analytics_script' %>
    <%= render :partial => '/objects/intercom_script' %>
  <% end %>

  <%= vanity_js %>
  <% experiments = vanity_experiments %>

  <% unless experiments.empty? %>
    <script>
      <% experiments.each do |name, alternative| %>
        try {
          _gaq.push(['_trackEvent', 'ab-testing', '<%= name %>', '<%= alternative.value %>']);
        } catch(e) {}
      <% end %>
    </script>
  <% end %>

</body>
</html>
