<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "/home/meta_info" %>
  <meta name="description" content="<%= @meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>shelby.tv | <%= @video_title %></title>

  <meta name="viewport" content="width=device-width">
  <link rel="icon"type="image/png" href="/favicon.png">
  <link rel="canonical" href="http://shelby.tv/video/<%= @video_provider_name %>/<%= @video_provider_id %>/<%= hyphenateString(@video_title) %>">
  <meta name="apple-itunes-app" content="app-id=556665733">
  <%= stylesheet_link_tag "seovideo", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
  <%= javascript_include_tag "seovideo" %>
</head>
<body class="">

  <%= yield %>

    <script>
      <% if Rails.env == 'production' %>
        //Goog'
        var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','shelby.tv'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s);}(document,'script'));
        _gaq.push(['_trackEvent', "SEO Video", "Visit page"]);
      <% end %>
    </script>
  <%= vanity_js %>
  <% experiments = vanity_experiments %>
  <% unless experiments.nil? %>
    <script>
      <% experiments.each do |name, alternative| %>
        try {
          _gaq.push(['_trackEvent', 'ab-testing', '<%= name %>', '<%= alternative.value %>']);
        } catch(e) {}
      <% end %>
    </script>
  <% end %>
</body>
</html>
