<!doctype html>
<html>
<head>
  <title>shelby.tv | sign up</title>
  <meta name="description" content="Sign up for Shelby.tv">
  <meta name="shelby-token" content="<%= csrf_token_from_cookie %>">
  <meta content="user-scalable=no, width=device-width, initial-scale=0.8" name="viewport">
  <%= render :partial => '/signup/og_tags' if @inviter %>

  <%= stylesheet_link_tag "signup" %>
  <%= javascript_include_tag "signup" %>
</head>
<body class="shelby shelby--signup<%= ' shelby--mobile' if @mobile_os or @is_mobile %>">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= Settings::Facebook.facebook_app_id %>";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="shelby__wrapper">
    <%= yield %>
  </div><!-- eo shelby__wrapper -->

  <% if flash[:alert] %>
    <%= javascript_tag do %>
      $(document).ready(function(){
        alert('<%= flash[:alert] %>');
      });
    <% end %>
  <% end %>

  <% if ["production", "staging"].include? Rails.env %>
    <script>
      var _gaq=[['_setAccount','<%= Settings::GoogleAnalytics.code %>'],['_setDomainName','shelby.tv'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>

  <% if Rails.env == 'production' %>
    <script>
      var _kmq = _kmq || [];
      var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
  <% end %>
  <% # VANITY A/B TESTING %>
  <%= vanity_js %>
  <% experiments = vanity_experiments %>
  <% unless experiments.empty? %>
    <script>
      <% experiments.each do |name, alternative| %>
        try {
          _gaq.push(['_trackEvent', 'ab-testing', '<%= name %>', '<%= alternative.value %>']);
          _kmq.push(["set", {"<%= name %>": "<%= alternative.value %>"}]);
        } catch(e) {}
      <% end %>
    </script>
  <% end %>

</body>
</html>
